@use "/public/styles/variables.scss";

.custom-divider {
  border-top: solid 1px #0004;
  margin: 10px 0;
}

.comment-section {
  svg {
    fill: #545454;
    width: 22px;
  }
}

.comment-modal {
  display: flex;
  align-items: flex-start;

  div {
    background: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #fe4752;
    width: 100%;

    span {
      font-weight: 600;
    }

    p {
      font-size: variables.$size-14;
      color: #858585;
      max-width: 220px;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    em {
      color: variables.$old-primary-turquoise;
      cursor: pointer;
      font-style: inherit;
    }

    a {
      display: block;
      width: fit-content;
      border-radius: 20px;
      padding: 5px 10px;
      color: #fff;
      font-size: variables.$size-13;
      background: variables.$btn-gradient-blue;
    }
  }

  img {
    width: variables.$size-30;
    height: variables.$size-30;
    border: 1px solid #0005;
    border-radius: 50%;
    margin-right: 5px;
  }
}

.userdata-modal {
  display: flex;
  align-items: center;

  span {
    font-size: variables.$size-13;
    color: #858585;
  }

  img {
    width: variables.$size-30;
    height: variables.$size-30;
    border: 1px solid #0005;
    border-radius: 50%;
    margin-right: 5px;
  }
}

.modal-body-section {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 30px;

  .complaints-list {
    min-width: 425px;
  }
  .complainted {
    min-width: 270px;
  }
}

.section-buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0;

  button {
    font-size: variables.$size-14;
    display: inline-block;
  }
}

.title-section {
  margin-top: -5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;

  h3 {
    color: #333;
    font-size: variables.$size-20;
    font-weight: 600;
  }

  a {
    font-size: variables.$size-14;
    color: variables.$old-primary-turquoise;
    cursor: pointer;
  }
}

.datail-complaint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;
  align-items: flex-end;

  p {
    color: #fe4752;
    line-height: 1;
  }
  span {
    color: #858585;
    font-size: variables.$size-13;
    line-height: 1;
  }
}

.input-section {
  margin-bottom: 20px;
  h3 {
    color: #198565;
    font-size: 18px;
    font-weight: 600;
    margin: -10px 0 20px;
    text-align: center;
  }

  label {
    font-weight: bold;
    color: #0009;
  }

  textarea {
    width: 100%;
    margin-bottom: 10px;
    outline: solid 1px #0005;
    border-radius: 8px;
    padding: 5px 10px;

    &:focus-visible {
      border: 0;
      transition: outline 0.3s;
      outline: solid 1px #000a;
    }
  }
}
