@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.stepper {
  .step {
    align-items: center;
    border-radius: 50%;
    color: theming.$old-primary-turquoise;
    display: flex;
    font: theming.$font-size-headline theming.$font-family-primary;
    height: variables.$size-36;
    justify-content: center;
    width: variables.$size-36;
  }

  .prev {
    background-color: theming.$backgroundColor;
    border: variables.$size-2 solid theming.$old-primary-turquoise;
    color: theming.$old-primary-turquoise;
  }

  .current {
    background-color: theming.$old-primary-turquoise;
    color: theming.$backgroundColor;
  }

  .next {
    background-color: theming.$backgroundColor;
    border: variables.$size-2 solid theming.$strokes;
    color: theming.$strokes;
    font-family: theming.$font-size-body;
  }

  // Modificando los estilos del Stepper
  :global {
    .ant-steps-item-finish
      .ant-steps-item-container
      .ant-steps-item-content
      .ant-steps-item-title::after,
    .ant-steps-item-finish
      .ant-steps-item-container
      .ant-steps-item-tail::after {
      background-color: theming.$old-primary-turquoise;
      border: variables.$size-1 solid theming.$old-primary-turquoise;
    }

    .ant-steps-item-process
      .ant-steps-item-container
      .ant-steps-item-content
      .ant-steps-item-title::after,
    .ant-steps-item-process
      .ant-steps-item-container
      .ant-steps-item-tail::after,
    .ant-steps-item-wait
      .ant-steps-item-container
      .ant-steps-item-content
      .ant-steps-item-title::after,
    .ant-steps-item-wait .ant-steps-item-container .ant-steps-item-tail::after {
      background-color: theming.$strokes !important;
      height: variables.$size-2 !important;
    }

    // Modificando el responsive del stepper
    .ant-steps.ant-steps-label-horizontal
      .ant-steps-item
      .ant-steps-item-container
      .ant-steps-item-tail::after {
      position: absolute !important;
      top: variables.$size-16 !important;
      left: 100% !important;
      display: block !important;
      width: variables.$size-96 !important;
      height: variables.$size-2 !important;
      content: "";
    }

    .ant-steps.ant-steps-horizontal {
      display: flex;
    }

    .ant-steps-item-tail {
      position: relative;
      padding-right: variables.$size-16;
    }

    .ant-steps-horizontal .ant-steps-label-horizontal .ant-steps-item {
      overflow: hidden;
    }

    @media (max-width: variables.$size-512) {
      .ant-steps.ant-steps-label-horizontal
        .ant-steps-item
        .ant-steps-item-container
        .ant-steps-item-tail::after {
        width: variables.$size-80;
      }
    }
  }
}
