@import "/public/styles/variables.scss";

.landing {
  max-width: $size-1200;
  background-color: $backgroundColor;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  position: relative;

  .littleDescription {
    @media screen and (min-width: 425px) {
      & {
        position: absolute;
        top: $size-192;
        color: white;
        padding: 0 $size-42;
      }
    }

    text-align: center;
    z-index: 2;
  }
  .loading {
    height: $size-432;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imageContainer {
    // text-align: center;
  }
  .landingCover {
    @media screen and (min-width: 425px) {
      & {
        width: 100%;
        height: 100%;
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.2;
      }
    }
  }
}

.achievements {
  background-color: $backgroundColor;
  border-radius: calc($size-8 + $size-2);
  padding: $size-16;
  margin: 0 auto $size-48;
  width: 100%;
  @media screen and (min-width: 768px) {
    & {
      width: 90%;
      max-width: 1200rem;
    }
  }
}
