@import "../../../../../../public/styles/theming.scss";

.section {
  font: $font-size-body $font-family-primary !important;
  width: 100%;
  border: $size-2 solid $border-creating-normative;
  border-radius: $size-16;
  padding: $size-16;
  margin-bottom: $size-36;
  h6 {
    font-family: $font-family-primary;
    font-size: $font-size-h6;
    color: $text-color1;
    font-weight: bold;
    margin: 0 0 $size-4 0;
  }
  p {
    font-family: $font-family-primary;
    font-size: $font-size-body;
    color: $text-color1;
    opacity: 0.6;
    margin: 0 0 $size-18 0;
  }
  button {
    margin: 0 auto;
    min-width: $size-192;
  }
  [class~="ant-card"] {
    .ant-card-body {
      textarea {
        display: none !important;
      }
    }
  }
  .uploadSection {
    margin: $size-32 0;
    p {
      margin-bottom: $size-32;
    }
  }
  .tagsContainer {
    .tagsEls {
      margin-bottom: $size-24;
      display: flex;
      gap: $size-18;
      justify-content: flex-start;
      flex-wrap: wrap;
      max-width: 100%;
      .tags {
        border: solid $size-1 $text-color4;
        border-radius: $size-8;
        padding: $size-4 $size-16;
        font-family: $font-family-primary;
        font-size: $font-size-callout;
        color: $text-color4;
        display: flex;
        align-items: center;

        gap: $size-8;
        .delete {
          color: $old-primary-red;
          display: none;
        }
      }
      .tags:hover {
        .delete {
          color: $old-primary-red;
          display: flex;
        }
      }
    }
  }
}
