@import "../../../../../../../../public/styles/theming.scss";
.addChaptersElsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .addButton {
    cursor: pointer;
    width: max-content;
    border: solid $size-2 $primaryF-color;
    border-radius: $size-8;
    padding: $size-8 $size-24;
    color: $old-primary-turquoise;
    font-family: $font-family-primary;
    font-size: $font-size-body;
    font-weight: bold;
  }
}

.chapterEL {
  border: $size-2 solid $border-creating-normative;
  border-radius: $size-16;
  padding: $size-16;
  width: 100%;
  max-width: $size-842;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $size-8;
  margin-bottom: $size-16;
  .leftEl {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 83%;
    .title {
      font-family: $font-family-primary;
      font-size: $font-size-body;
      font-weight: bold;
      color: $old_primary-color;
    }
    .dataVisual {
      font-family: $font-family-primary;
      font-size: $font-size-callout;
      font-weight: bold;
      color: $text-color2;
    }
  }
  .rightEl {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    .deleteButton {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      width: max-content;
      align-items: center;
      font-family: $font-family-primary;
      font-size: $font-size-callout;
      font-weight: normal;
      color: $error;
      svg {
        margin-left: $size-8;
      }
      margin-bottom: $size-8;
    }
    .addChaptersButton {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-family: $font-family-primary;
      font-size: $font-size-callout;
      font-weight: bold;
      color: $primaryF-color;
      span[role="img"] {
        margin-left: $size-12;
      }
    }
  }
}

.bottomButtons {
  button {
    margin: 0 auto;
    min-width: $size-192;
  }
}
