@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.filter__container {
  background-color: variables.$backgroundColor;
  border-radius: calc(variables.$size-8 + variables.$size-2);
  display: flex;
  flex-direction: column;
  padding: variables.$size-16 variables.$size-16 variables.$size-48;
  row-gap: variables.$size-16;
  margin: variables.$size-48 auto;
  width: 100%;

  .filter__content {
    display: grid;
    row-gap: variables.$size-16;
  }

  .filter__description {
    color: variables.$text-color1;
    line-height: 1.5;
    margin-block-end: variables.$size-24;
    text-align: center;
  }

  .no__results {
    font: theming.$font-size-body theming.$font-family-primary;
    text-align: center;
  }

  .filters {
    display: grid;
    gap: variables.$size-16;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 1;
    margin: 0 auto variables.$size-24;
    justify-content: space-between;
    max-width: 860rem;
    width: 100%;
  }

  .filter__title {
    color: variables.$old-primary-green;
    font: bold variables.$font-size-h6 variables.$font-family-primary;
    line-height: 33rem;
    margin-block-end: variables.$size-24;
    text-align: center;
  }

  .filter__finished_title {
    color: variables.$old-primary-green;
    font: bold variables.$font-size-h6 variables.$font-family-primary;
    line-height: 33rem;
    text-align: center;
  }

  .proposal__winner {
    border: 2rem solid variables.$state-pending;
    border-radius: 8rem;
    cursor: pointer;
    padding: variables.$size-16;
    transition: all 0.2s ease-in-out;
    width: 100%;

    &:hover {
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
      transform: translateY(-2rem);
    }

    &_user {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;

      span:first-child {
        margin-inline-end: variables.$size-8;
        max-height: variables.$size-24;
        max-width: variables.$size-24;
      }

      p {
        color: variables.$text-color2;
        font: variables.$font-size-body variables.$font-family-primary;

        span {
          color: variables.$state-pending;
          font: bold variables.$font-size-body variables.$font-family-primary;
          margin-inline-start: variables.$size-8;
        }
      }
    }

    &_content {
      color: variables.$text-color1;
      font: bold variables.$font-size-body variables.$font-family-primary;
      line-height: 27rem;
      margin-block-start: variables.$size-4;
      overflow-wrap: break-word;
      word-break: break-word;
      hyphens: auto;
    }
  }
}

@media screen and (min-width: 768px) {
  .filter__container {
    width: 90%;
    max-width: 900rem;
  }
}
