@import "../../../public/styles/theming";

.pagination {
  :global {
    .ant-pagination-item {
      font-family: $font-family-primary;
      font-weight: 400;
      &:hover {
        border-color: $primaryF-color;
        a {
          color: $primaryF-color;
          i {
            color: $primaryF-color;
          }
        }
      }
    }
    .ant-pagination-jump-next {
      .ant-pagination-item-link {
        div {
          height: 100%;
          .ant-pagination-item-link-icon {
            display: flex;
            align-items: center;
            color: $primaryF-color;
          }
        }
      }
    }

    .ant-pagination-jump-prev {
      .ant-pagination-item-link {
        div {
          height: 100%;
          .ant-pagination-item-link-icon {
            display: flex;
            align-items: center;
            color: $primaryF-color;
          }
        }
      }
    }
    li {
      &.ant-pagination-item-active {
        border-color: $primaryF-color;
        a {
          color: $primaryF-color;
        }
      }
      &.ant-pagination-prev:hover {
        .ant-pagination-item-link {
          border-color: $primaryF-color;
        }
      }
      &.ant-pagination-prev:focus {
        .ant-pagination-item-link {
          border-color: $primaryF-color;
          color: $primaryF-color;
        }
      }
      &.ant-pagination-next:hover {
        .ant-pagination-item-link {
          border-color: $primaryF-color;
        }
      }
      &.ant-pagination-next:focus {
        .ant-pagination-item-link {
          border-color: $primaryF-color;
          color: $primaryF-color;
        }
      }
    }
  }

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-family-primary;
  font-weight: 400;

  li a i {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
