@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.radialContainer {
  :global {
    .ant-checkbox .ant-checkbox-inner {
      border-color: theming.$text-color2 !important;
    }

    .ant-checkbox-checked .ant-checkbox-inner {
      // background-color: theming.$old-primary-turquoise;
      border-color: theming.$old-primary-turquoise !important;
    }

    .ant-checkbox-inner {
      border-radius: variables.$size-56;
    }

    .ant-checkbox-checked {
      .ant-checkbox-inner {
        background-color: theming.$old-primary-turquoise;
        border-color: theming.$old-primary-turquoise;
        border-radius: variables.$size-48;
      }
    }
  }

  // el borde del check solo de pude sobreescribir con !important
  .radial {
    font-family: theming.$font-family-primary;
    font-size: theming.$font-size-headline;
    font-weight: 700;
    color: theming.$text-color2;
  }
  .active {
    color: theming.$old-primary-turquoise;
  }
}
