@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.autocomplete {
  box-sizing: border-box;
  border: variables.$size-2 solid theming.$strokes;
  border-radius: variables.$size-32;
  font: theming.$font-size-body theming.$font-family-primary;
  height: variables.$size-40;
  overflow: hidden;

  * {
    border: none !important;
    outline: none;
    box-sizing: border-box;
    height: 100% !important;
  }

  svg {
    fill: theming.$old-primary-green;
    margin: 0 variables.$size-12 variables.$size-8 variables.$size-16;
    stroke: theming.$old-primary-green;
    width: variables.$size-20;
  }

  input:hover,
  input:focus,
  input:active {
    border-color: none;
    outline: none;
  }

  :global {
    .ant-input-affix-wrapper {
      display: flex;
      flex-flow: row nowrap;
      max-width: 100%;
      width: 100%;

      .ant-input {
        border: none;
        font: theming.$font-size-body theming.$font-family-primary;
        padding-left: variables.$size-16;
        max-width: calc(100% - variables.$size-48);
      }
    }

    .ant-select-selection__placeholder {
      color: theming.$strokes;
      font: 600 theming.$font-size-body theming.$font-family-primary;
      padding-left: variables.$size-4;
      text-overflow: ellipsis;
      margin-right: variables.$size-32 !important;
      white-space: nowrap;
    }
  }
}

.option {
  background-color: theming.$backgroundColor;
  color: theming.$text-color2;
  font: theming.$font-size-body theming.$font-family-primary;
}

.option:hover {
  background: theming.$gray1 !important;
}
