@use "/public/styles/variables.scss";
@use "/public/styles/theming.scss";

.card {
  font-family: theming.$font-family-primary;
  margin: 0 auto;
  max-width: 860rem;
  max-height: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    transform: translateY(-3rem);
  }

  .card__image {
    margin-bottom: variables.$size-8;
    object-fit: cover;
    height: variables.$size-192;
    max-height: variables.$size-192;
  }

  .card__title {
    display: -webkit-box;
    color: theming.$text-color1;
    font: bold variables.$font-size-body variables.$font-family-primary;
    text-overflow: ellipsis;
    line-height: 27rem;
    margin-bottom: variables.$size-8;
    overflow: hidden;
    text-align: center;
    min-height: 54rem;
  }

  .card__description {
    color: variables.$text-color2;
    font: variables.$font-size-body variables.$font-family-primary;
    line-height: variables.$size-28;
    word-break: break-word;
    min-height: 56rem;

    span {
      color: variables.$old-primary-turquoise;
      cursor: pointer;
    }
  }

  .card__active {
    background: variables.$done-background;
    border-radius: 20rem;
    color: variables.$old-primary-green;
    font: variables.$font-size-callout variables.$font-family-primary;
    line-height: 21rem;
    margin: variables.$size-12 auto variables.$size-8;
    padding: variables.$size-4 variables.$size-12;
    text-align: center;
    width: fit-content;
  }

  .card__finished {
    background: variables.$bg-finished;
    border-radius: 20rem;
    color: variables.$error;
    font: variables.$font-size-callout variables.$font-family-primary;
    line-height: 21rem;
    margin: variables.$size-12 auto variables.$size-8;
    padding: variables.$size-4 variables.$size-12;
    text-align: center;
    width: fit-content;
  }

  .card__dates {
    display: flex;
    justify-content: center;
    margin: variables.$size-20 0;

    span {
      color: variables.$text-color2;
      font: variables.$font-size-callout variables.$font-family-primary;
      line-height: variables.$size-28;
    }
  }

  .card__items_container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .card__recolection_data {
      align-items: center;
      color: variables.$strokes;
      display: flex;
      justify-content: center;
      font: bold variables.$font-size-body variables.$font-family-primary;
      margin-inline: variables.$size-12;

      svg {
        fill: variables.$strokes;
        margin-right: variables.$size-4;
        width: variables.$size-20;
      }
    }

    .card__zones_link {
      color: theming.$old-primary-green;
      cursor: pointer;
      text-align: center;
      text-decoration: underline;
      width: fit-content;
    }
  }

  .card__buttons_containers {
    align-items: center;
    display: grid;
    gap: variables.$size-8;
    grid-template-rows: 2;
    padding: 0 variables.$size-8;
    margin-top: auto;
  }

  :global {
    .ant-btn {
      width: 100%;
    }

    .anticon {
      margin-left: variables.$size-8;
    }

    .ant-card-body {
      margin: 0 !important;
      display: flex;
      flex-direction: column;
      padding: variables.$size-8 variables.$size-8 variables.$size-32 !important;

      div:first-child {
        max-height: calc(variables.$size-128 + variables.$size-72);
      }
    }
  }
}
