@use "/public/styles/variables.scss";

.container {
  animation: color-change 10s infinite;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  border: 5px solid variables.$text-color3;
  column-gap: 10px;
  color: white;
  display: flex;
  font-weight: bold;
  font-size: variables.$font-size-h6;
  justify-content: center;
  left: 45%;
  position: absolute;
  padding: 20px;
  top: 40vh;
  z-index: 99;
}

.background {
  background-color: variables.$foregroundColor;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  display: flex;
  height: 100vh;
  left: -50vw;
  position: absolute;
  opacity: 0.3;
  top: 0;
  width: 200vw;
  z-index: 98;
}

@keyframes color-change {
  0% {
    color: variables.$secondaryF-color;
  }
  25% {
    color: variables.$old-primary-red;
    border-left-color: variables.$old-primary-turquoise;
  }
  50% {
    color: variables.$old-primary-turquoise;
    border-left-color: variables.$old-primary-turquoise;
    border-top-color: variables.$old-primary-turquoise;
  }
  75% {
    color: variables.$primaryS-color;
    border-left-color: variables.$old-primary-turquoise;
    border-top-color: variables.$old-primary-turquoise;
    border-right-color: variables.$old-primary-turquoise;
  }
  100% {
    color: variables.$state-confirmed;
    border-left-color: variables.$old-primary-turquoise;
    border-top-color: variables.$old-primary-turquoise;
    border-right-color: variables.$old-primary-turquoise;
    border-bottom-color: variables.$old-primary-turquoise;
  }
}
