@import "../../../../public/styles/theming.scss";

.selectContainer {
  transition-duration: 0.2s;
  border: solid $size-1 $border-color-text-input;
  border-radius: $size-16;
  margin-bottom: $size-4;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: $size-64;
  max-height: $size-64;
  padding: $size-8 0;
  .iconSelectContainer {
    width: max-content;
    margin-right: $size-8;
    padding-left: $size-8;
  }
  .iconContainerOpen {
    width: max-content;
    margin-right: $size-8;
    padding-left: $size-8;
    transform: translateY($size-10);
  }
  .selectInputContainer {
    padding-right: $size-16;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-family-primary;
    font-weight: bold;
    font-size: $font-size-body;
    color: $text-color2;
    cursor: pointer;
    span {
      color: $old-primary-green;
    }
  }
  .selectInputOpen {
    transform: translateY($size-10);
    padding-right: $size-16;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-family-primary;
    font-weight: bold;
    font-size: $font-size-body;
    color: $text-color2;
    cursor: pointer;
    span {
      color: $old-primary-green;
    }
  }
  .optionsContainer {
    width: 100%;
    -webkit-box-shadow: $shadow-options;
    -moz-box-shadow: $shadow-options;
    box-shadow: $shadow-options;
    display: block;
    position: relative;
    top: $size-28;
    z-index: 10;
    background-color: $backgroundColor;
    border-radius: $size-16;
    .options {
      cursor: pointer;
      display: block;
      padding: $size-8;
      font-family: $font-family-primary;
      font-weight: bold;
      font-size: $font-size-body;
      color: $text-color2;
    }
    .options:hover {
      background-color: $primaryF-color;
      color: $backgroundColor;
      border-radius: $size-8;
    }
  }
  .optionsHidden {
    display: none;
  }
}

.selectContainerFocus {
  transition-duration: 0.2s;
  border: solid $size-1 $primaryF-color;
  box-shadow: $shadow-dropdown;
  border-radius: $size-16;
  margin-bottom: $size-4;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: $size-64;
  max-height: $size-64;
  padding: $size-8 0;
  .iconSelectContainer {
    width: max-content;
    margin-right: $size-8;
    padding-left: $size-8;
    cursor: pointer;
  }
  .iconContainerOpen {
    width: max-content;
    margin-right: $size-8;
    padding-left: $size-8;
    transform: translateY($size-10);
    cursor: pointer;
  }
  .selectInputContainer {
    cursor: pointer;
    padding-right: $size-16;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-family-primary;
    font-weight: bold;
    font-size: $font-size-body;
    color: $text-color2;
    span {
      color: $old-primary-green;
    }
  }
  .selectInputOpen {
    cursor: pointer;
    transform: translateY($size-10);
    padding-right: $size-16;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-family-primary;
    font-weight: bold;
    font-size: $font-size-body;
    color: $text-color2;
    span {
      color: $old-primary-green;
      cursor: pointer;
    }
  }
  .optionsContainer {
    width: 100%;
    display: block;
    -webkit-box-shadow: $shadow-options;
    -moz-box-shadow: $shadow-options;
    box-shadow: $shadow-options;
    position: relative;
    top: $size-28;
    z-index: 10;
    background-color: $backgroundColor;
    border-radius: $size-16;
    .options {
      cursor: pointer;
      display: block;
      padding: $size-8;
      font-family: $font-family-primary;
      font-weight: bold;
      font-size: $font-size-body;
      color: $text-color2;
    }
    .options:hover {
      background-color: $primaryF-color;
      color: $backgroundColor;
      border-radius: $size-8;
    }
  }
  .optionsHidden {
    display: none;
  }
}

.selectContainerFocusError {
  transition-duration: 0.2s;
  border: solid $size-1 $old-primary-red;
  box-shadow: $shadow-text-input-error;
  border-radius: $size-16;
  margin-bottom: $size-4;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: $size-64;
  max-height: $size-64;
  padding: $size-8 0;
  .iconSelectContainer {
    width: max-content;
    margin-right: $size-8;
    padding-left: $size-8;
  }
  .iconContainerOpen {
    width: max-content;
    margin-right: $size-8;
    padding-left: $size-8;
    transform: translateY($size-10);
    cursor: pointer;
  }
  .selectInputContainer {
    padding-right: $size-16;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-family-primary;
    font-weight: bold;
    font-size: $font-size-body;
    color: $text-color2;
    span {
      color: $old-primary-green;
      cursor: pointer;
    }
  }
  .selectInputOpen {
    transform: translateY($size-10);
    padding-right: $size-16;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-family-primary;
    font-weight: bold;
    font-size: $font-size-body;
    color: $text-color2;
    span {
      color: $old-primary-green;
      cursor: pointer;
    }
  }
  .optionsContainer {
    width: 100%;
    display: block;
    -webkit-box-shadow: $shadow-options;
    -moz-box-shadow: $shadow-options;
    box-shadow: $shadow-options;
    position: relative;
    top: $size-28;
    z-index: 10;
    background-color: $backgroundColor;
    border-radius: $size-16;
    .options {
      cursor: pointer;
      display: block;
      padding: $size-8;
      font-family: $font-family-primary;
      font-weight: bold;
      font-size: $font-size-body;
      color: $text-color2;
    }
    .options:hover {
      background-color: $primaryF-color;
      color: $backgroundColor;
      border-radius: $size-8;
    }
  }
  .optionsHidden {
    display: none;
  }
}
