@import "../../../../public/styles/theming.scss";

.inputContainer {
  transition-duration: 0.2s;
  border: solid $size-1 $border-color-text-input;
  border-radius: $size-16;
  margin-bottom: $size-4;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: $size-64;
  max-height: $size-64;
  padding: $size-8;
  .iconContainer {
    width: max-content;
    margin-right: $size-8;
  }
  .inputLabelContainer {
    flex: 1;
    .inputLabel {
      font-family: $font-family-primary;
      font-size: $font-size-body;
      font-weight: bold;
      position: relative;
      bottom: -$size-16;
      z-index: 5;
      color: $border-color-text-input;
    }
    .inputLabelFocused {
      font-family: $font-family-primary;
      font-size: $font-size-callout;
      font-weight: bold;
      position: relative;
      z-index: 5;
      transition-duration: 0.6s;
      color: $text-color1;
    }
    .inputEl {
      padding-top: $size-4;
      border: none;
      width: 100%;
      object-fit: fill;
      background: transparent;
      z-index: 1;
      transform: translateY(-$size-10);
      font-family: $font-family-primary;
      font-size: $font-size-body;
      font-weight: bold;
      color: $text-color2;
    }
    .inputEl:focus-visible {
      border: none;
      outline: none;
      background: transparent;
    }
    .inputEl:-webkit-autofill,
    input.inputEl:-internal-autofill-selected,
    input:-webkit-autofill,
    input:-webkit-autofill:focus {
      background-color: $backgroundColor !important;
      font-weight: lighter !important;
      color: $text-color2 !important;
      font-weight: bold !important;
      font-size: $font-size-body !important;
      font-family: $font-family-primary !important;
    }
  }
}

.inputContainer:hover {
  transition-duration: 0.2s;
  border-color: $primaryF-color;
}

.inputContainerFocus {
  transition-duration: 0.2s;
  border: solid $size-1 $primaryF-color;
  box-shadow: $shadow-dropdown;
  border-radius: $size-16;
  margin-bottom: $size-4;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: $size-64;
  max-height: $size-64;
  padding: $size-8;
  .iconContainer {
    width: max-content;
    margin-right: $size-8;
  }
  .inputLabelContainer {
    flex: 1;
    .inputLabel {
      font-family: $font-family-primary;
      font-size: $font-size-body;
      font-weight: bold;
      position: relative;
      bottom: -$size-14;
      z-index: 5;
      color: $border-color-text-input;
    }
    .inputLabelFocused {
      font-family: $font-family-primary;
      font-size: $font-size-callout;
      font-weight: bold;
      position: relative;
      z-index: 5;
      transition-duration: 0.6s;
      color: $text-color1;
    }
    .inputEl {
      padding-top: $size-4;
      border: none;
      width: 100%;
      object-fit: fill;
      background: transparent;
      z-index: 1;
      transform: translateY(-$size-10);
      font-family: $font-family-primary;
      font-size: $font-size-body;
      font-weight: bold;
      color: $text-color2;
    }
    .inputEl:focus-visible {
      border: none;
      outline: none;
      background: transparent;
    }
    .inputEl:-webkit-autofill,
    input.inputEl:-internal-autofill-selected,
    input:-webkit-autofill,
    input:-webkit-autofill:focus {
      background-color: $backgroundColor !important;
      font-weight: lighter !important;
      color: $text-color2 !important;
      font-weight: bold !important;
      font-size: $font-size-body !important;
      font-family: $font-family-primary !important;
    }
  }
}

.inputContainerError {
  transition-duration: 0.2s;
  border: solid $size-1 $old-primary-red;
  box-shadow: $shadow-text-input-error;
  border-radius: $size-16;
  margin-bottom: $size-4;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: $size-64;
  max-height: $size-64;
  padding: $size-8;
  .iconContainer {
    width: max-content;
    margin-right: $size-8;
  }
  .inputLabelContainer {
    flex: 1;
    .inputLabel {
      font-family: $font-family-primary;
      font-size: $font-size-body;
      font-weight: bold;
      position: relative;
      bottom: -$size-14;
      z-index: 5;
      color: $border-color-text-input;
    }
    .inputLabelFocused {
      font-family: $font-family-primary;
      font-size: $font-size-callout;
      font-weight: bold;
      position: relative;
      z-index: 5;
      transition-duration: 0.6s;
      color: $text-color1;
    }
    .inputEl {
      padding-top: $size-4;
      border: none;
      width: 100%;
      object-fit: fill;
      background: transparent;
      z-index: 1;
      transform: translateY(-$size-10);
      font-family: $font-family-primary;
      font-size: $font-size-body;
      font-weight: bold;
      color: $text-color2;
    }
    .inputEl:focus-visible {
      border: none;
      outline: none;
      background: transparent;
    }
    .inputEl:-webkit-autofill,
    input.inputEl:-internal-autofill-selected,
    input:-webkit-autofill,
    input:-webkit-autofill:focus {
      background-color: $backgroundColor !important;
      font-weight: lighter !important;
      color: $text-color2 !important;
      font-weight: bold !important;
      font-size: $font-size-body !important;
      font-family: $font-family-primary !important;
    }
  }
}
