@use "/public/styles/variables.scss";

.rootContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}

.autocompleteContainer {
  border: 1px solid variables.$backgroundColorGrey;
  border-radius: 25px;
  padding: 1px 10px;
  width: 220px;

  * {
    border: none !important;
    outline: none;
    box-sizing: border-box;
    height: 100% !important;
  }
}

.tagContainer {
  align-items: center;
  border: 1px solid variables.$backgroundColorGrey;
  border-radius: 5px;
  cursor: pointer;
  column-gap: 5px;
  display: flex;
  padding: 5px;

  &:hover {
    box-shadow: 1px 1px 2px variables.$backgroundColorGrey;
  }
}
