@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.voteContainer {
  background-color: variables.$backgroundColor;
  // border: 2px solid black;
  font: theming.$font-size-body theming.$font-family-primary !important;
  padding: 54px 111px;
  height: calc(100vh - 100px);
  overflow: hidden;
  overflow-y: scroll;
}
