@use "/public/styles/variables.scss";
@import "../../../public/styles/theming.scss";

$base-padding: variables.$size-8;

.buttonsActions {
  padding: $base-padding $base-padding calc($base-padding * 3);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 414rem;
  border-radius: $base-padding;
}

.buttonsActionsGhost {
  padding: $base-padding $base-padding calc($base-padding * 3);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 414rem;
}

.actionsContainer {
  padding: $base-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400rem;
  width: 100%;
}

.infoContainer {
  display: block;
  align-items: center;
  justify-content: center;
  padding: $base-padding calc($base-padding * 3);
  background-color: #fff;
  border-radius: $base-padding;
  margin-bottom: $base-padding;
  font-family: $font-family-primary;
  font-size: $font-size-callout;
  span {
    color: $old_primary-color;
    font-weight: bold;
    span {
      font-size: $font-size-body;
    }
    a {
      text-decoration: underline;
      color: blue;
      font-weight: bold;
    }
  }
}

.infoGhost {
  width: 300rem;
  margin-bottom: $base-padding;
  text-align: center;
  font-family: $font-family-primary;
  font-weight: bold;
  font-size: $font-size-callout;
  color: $old_primary-color;
  [class~="voted"] {
    font-size: $font-size-body;
    width: 100%;
  }
}

.infoWarn {
  border-radius: $base-padding;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: $base-padding calc($base-padding * 2);
  background-color: #f8e4c7;
  margin: $base-padding;
  color: #d37608;
  .infoIcon {
    font-size: variables.$size-20;
    display: flex;
    margin-right: variables.$size-12;
  }
  .infoText {
    max-width: 300rem;
    word-wrap: break-word;
    line-height: 27rem;
    font-weight: 700;
    font-size: $font-size-body;
    font-family: $font-family-primary;
  }
}

.buttonsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: $size-8;
  align-items: center;
  [class~="enabled"] {
    cursor: pointer;
    padding: $base-padding;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0;
    border-radius: 100rem;
    width: 50%;
    [class~="buttonText"] {
      font-family: $font-family-primary;
      color: $secondaryS-color;
      font-weight: 700;
      font-size: $font-size-body;
    }
    [role="img"] {
      margin-right: calc($base-padding / 2);
      svg {
        height: 30rem;
        fill: $secondaryS-color;
      }
      [class~="dislike"] {
        height: 30rem;
        fill: $secondaryS-color;
        transform: rotate(180deg);
      }
    }
  }
  [class~="likeDisable"] {
    background-color: $secondaryF-color;
    padding: $base-padding;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0;
    border-radius: 100rem;
    width: 50%;
    color: $old_primary-color;
    [class~="buttonText"] {
      font-family: $font-family-primary;
      font-weight: 700;
      font-size: $font-size-body;
    }
    [role="img"] {
      margin-right: calc($base-padding / 2);
      svg {
        height: 30rem;
        fill: $old_primary-color;
      }
      [class~="dislike"] {
        height: 30rem;
        fill: $old_primary-color;
        transform: rotate(180deg);
      }
    }
  }
  [class~="dislikeDisable"] {
    background-color: $secondaryF-color;
    padding: $base-padding;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0;
    border-radius: 100rem;
    width: 50%;
    color: $error;
    [class~="buttonText"] {
      font-family: $font-family-primary;
      font-weight: 700;
      font-size: $font-size-body;
    }
    [role="img"] {
      margin-right: calc($base-padding / 2);
      svg {
        height: 30rem;
        fill: $error;
      }
      [class~="dislike"] {
        height: 30rem;
        fill: $error;
        transform: rotate(180deg);
      }
    }
  }
}

.buttonsContainerGhost.percentLayout {
  width: 100%;
}

.buttonsContainerGhost {
  padding: $base-padding;
  border-radius: 50rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.commentButton {
  border-radius: 0;
  padding: $base-padding $base-padding calc($base-padding * 3);
  border-width: 0;
  width: 100%;
  max-width: 414rem;
  background: $btn-gradient-blue;
  box-shadow: 0 -10rem variables.$size-20 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  span {
    font-family: $font-family-primary;
    font-weight: 700;
    font-size: $font-size-headline;
    color: #fff;
  }
}

.commentButton:hover {
  border-radius: 0;
  padding: $base-padding $base-padding calc($base-padding * 3);
  border-width: 0;
  width: 100%;
  border: solid variables.$size-1 $primaryF-color;
  max-width: 414rem;
  background: #fff;
  box-shadow: 0 -10rem variables.$size-20 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  span {
    font-family: $font-family-primary;
    font-weight: 700;
    font-size: $font-size-headline;
    color: $primaryF-color;
  }
}

.confirmationModal {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  position: fixed;
  background-color: $border-creating-normative;
  z-index: 30;
  * {
    font-family: $font-family-primary;
  }
  .modalLike {
    width: 100%;
    border-radius: $size-24;
    padding: $size-24;
    background-color: $backgroundColor;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: $size-408;
    span {
      svg {
        height: $size-64;
        fill: $old-primary-green;
      }
    }
    h4 {
      text-align: center;
      font-size: $font-size-h4;
      font-weight: bold;
      color: $text-color4;
      span {
        color: $old-primary-green;
      }
    }
    .actionsButtons {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-self: center;
      span {
        cursor: pointer;
        font-weight: bold;
        color: $text-color5;
        display: flex;
        align-items: center;
        line-height: $size-27;
        font-size: $font-size-headline;
        span[role="img"] {
          svg {
            fill: $text-color5;
          }
        }
      }
    }
  }
  .modalDislike {
    border-radius: $size-24;
    padding: $size-24;
    background-color: $backgroundColor;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 408rem;
    span {
      svg {
        height: $size-64;
        fill: $error;
      }
    }
    h4 {
      text-align: center;
      font-size: $font-size-h4;
      font-weight: bold;
      color: $text-color4;
      span {
        color: $error;
      }
    }
    .actionsButtons {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-self: center;
      span {
        cursor: pointer;
        font-weight: bold;
        color: $text-color5;
        display: flex;
        align-items: center;
        line-height: $size-27;
        font-size: $font-size-headline;
        span[role="img"] {
          svg {
            fill: $text-color5;
          }
        }
      }
    }
  }
}
