@use "/public/styles/variables.scss";

.share__buttons {
  display: flex;
  justify-content: space-between;
  max-width: variables.$size-256;
  min-width: variables.$size-256;
  width: 100%;
}

.containerSvg {
  width: variables.$size-40;
  height: variables.$size-40;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1.05);
    transition: all 0.1s;
  }
}

.whatsapp {
  background-color: variables.$whatssap;
}

.facebook {
  background-color: variables.$facebook;
}

.twitter {
  background-color: variables.$twitter;
}

.telegram {
  background-color: variables.$telegram;
}

.telegram,
.whatsapp,
.facebook,
.twitter {
  svg {
    fill: variables.$backgroundColor;
    width: variables.$size-28;
    height: variables.$size-28;
  }
}

.link {
  background-color: variables.$backgroundColorComment;
}
