@use "/public/styles/variables.scss";
@use "/public/styles/theming.scss";
.border_c {
  border-color: variables.$text-color1;
}
.color_modal {
  line-height: 33rem;
  color: variables.$text-color1;
}
.modal {
  width: 1000rem;
}
.color_cancel {
  line-height: 27rem;
  color: variables.$text-color1;
}
.color_option {
  line-height: 27rem;
  color: variables.$text-color5;
}
.color_delte {
  color: variables.$state-error_advice;
  line-height: 36rem;
}
.image {
  width: 77rem;
  height: 77rem;
}

.searchInputContainer {
  height: 42rem;
  max-width: 232rem;
  max-height: 42rem;
  width: theming.$size-300;
  [class~="ant-input-search"] {
    max-height: theming.$size-80;
    display: flex !important;
    align-items: center !important;
    justify-content: center;
    padding-right: theming.$size-16;
    input {
      margin: theming.$size-16 4rem theming.$size-16 theming.$size-16;
    }
  }
}
.selectInputContainer {
  height: 42rem;
  max-width: 232rem;
  max-height: 42rem;
  width: theming.$size-300;
}
