@use "/public/styles/variables.scss";

$withCard: 100%;

.state-waiting {
  background-color: variables.$secondaryJ-color;
  color: variables.$old-primary-green;
}
.state-creating {
  background-color: variables.$bg-creating;
  color: variables.$fg-creating;
}
.state-finished {
  background-color: variables.$bg-finished;
  color: variables.$old-primary-red;
}

.dashboardcard-container {
  font-family: variables.$font-family-primary;
  position: relative;
  overflow: hidden;
  :global {
    .ant-card-body:first-child {
      margin: 0;
      padding: variables.$size-8;
    }
  }

  &:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    transform: translateY(-3rem);
  }

  .dashboardcard-vignette {
    position: absolute;
    // width: variables.$size-32;
    // height: variables.$size-28;
    padding: variables.$size-4 variables.$size-10;
    z-index: 5;
    background-color: variables.$backgroundColor;
    box-shadow: 1px 1px 2px black;
    color: variables.$foregroundColor;
    top: 0;
    right: 0;
    margin: variables.$size-16;
    border-radius: variables.$size-4;
    font-weight: bold;
    letter-spacing: variables.$size-2;
    text-align: center;
    cursor: pointer;
  }

  .dashboardcard-menu {
    background-color: variables.$backgroundColor;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
    cursor: pointer;
    display: grid;
    position: absolute;
    padding: 5px;
    right: 15%;
    top: 7%;
    width: 50%;
    z-index: 4;
  }

  .dashboardcard-menu-item {
    // border-bottom: 1px solid black;
    padding: 3px;
    &:hover {
      background-color: variables.$old-primary-turquoise;
      color: variables.$backgroundColor;
    }
    &:active {
      background-color: variables.$primaryS-color;
    }
  }

  .dashboardcard-zones-tooltip {
    background-color: variables.$backgroundColorAdmin;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
    bottom: 25px;
    display: grid;
    font-size: variables.$font-size-small;
    max-height: 100px;
    overflow: hidden;
    position: absolute;
    padding: 5px;
    right: -5px;
    width: 130px;
  }

  .dashboardcard-image {
    cursor: pointer;
    height: 50%;
    min-height: 50%;
    & > * {
      width: 100%;
      height: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }
  .dashboardcard-title {
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    font-size: variables.$font-size-body;
    padding: variables.$size-8 0;
    // margin-bottom: variables.$size-16;
    cursor: pointer;
    min-height: 89rem;
  }
  .dashboardcardcomment-title {
    width: 100%;
    font-weight: bold;
    font-size: variables.$font-size-h6;
    padding: variables.$size-8;
  }
  .dashboardcardcomment-description {
    width: 100%;
    color: variables.$text-color2;
    font-weight: normal;
    font-size: variables.$font-size-body;
    padding: variables.$size-8;
    margin-bottom: variables.$size-24;
    text-align: justify;
  }
  .dashboardcardcomment-info {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .dashboardcardcomment-duration {
      border-radius: variables.$size-50;
      margin: variables.$size-16;
      padding: variables.$size-4 variables.$size-16;
      white-space: nowrap;
      & > * {
        width: 100%;
      }
    }
    .dashboardcardcomment-debate {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: variables.$size-16;
      .dashboardcardcomment-comment {
        border-radius: variables.$size-50;
        white-space: nowrap;
        padding: variables.$size-4 variables.$size-16;
        font-size: variables.$size-12;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: variables.$size-4;
        background-color: variables.$secondaryF-color;
      }
      .dashboardcardcomment-complaint {
        white-space: nowrap;
        padding: variables.$size-4 variables.$size-16;
        color: variables.$old-primary-red;
        font-size: variables.$size-12;
      }
    }
  }
  .dashboardcard-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // bottom: 60px;
    // position: absolute;
    width: 90%;
    .dashboardcard-duration {
      border-radius: variables.$size-50;
      padding: variables.$size-4 variables.$size-16;
      white-space: nowrap;
      & > * {
        width: 100%;
      }
    }
    .dashboardcard-zones {
      padding: variables.$size-4;
      text-align: center;
      & > * {
        color: variables.$old-primary-green;
        text-decoration: underline;
        font-size: variables.$size-12;
      }
    }
  }
  .dashboardcard-button {
    // bottom: 15px;
    // left: 0px;
    // position: absolute;
    margin-top: variables.$size-16;
    width: 100%;
  }
}
