.profile-module {
  max-width: 450px;
  margin: 50px auto;

  .avatar-section {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: solid 1px #0006;
    }

    h3 {
      font-size: 24rem;
      font-weight: 600;
      margin: 0 10px;
    }
    span {
      font-size: 18px;
      font-family: Serif;
      color: #000a;
    }
  }
}

.input-section {
  margin-top: 50rem;

  div {
    position: relative;
    margin-bottom: 15px;

    span {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 30px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  label {
    font-weight: bold;
    color: #0009;
    font-size: 14px;
    position: relative;
  }

  input {
    width: 100%;
    margin-bottom: 10px;
    outline: solid 1px #0005;
    border-radius: 8px;
    padding: 5px 5px 5px 30px;
    height: 35px;
    margin: 8px 0 0;

    &:focus-visible {
      border: 0;
      outline: solid 1px #000a;
    }
  }
}
