@use "/public/styles/variables.scss";
@import "/public/styles/theming.scss";

$base-padding: variables.$size-8;

.card__votation {
  font-family: $font-family-primary;

  .card__title {
    display: -webkit-box;
    color: $text-color1;
    font-weight: bold;
    font-size: $font-size-headline;
    text-overflow: ellipsis;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .description__container {
    p {
      font-family: $font-family-primary;
      font-size: $font-size-body;

      a {
        color: $old-primary-green;
      }
    }
  }

  .card__items_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .card__voted_item {
      display: flex;
      align-items: center;
      padding: calc($base-padding / 2) $base-padding;
      background: rgba(43, 189, 6, 0.2);
      border-radius: variables.$size-32;
      margin: $base-padding 0;
      font-size: $font-size-callout;
      color: #2bbd06;
    }

    .card__status_item {
      padding: calc($base-padding / 2) $base-padding;
      border-radius: variables.$size-32;
      font-size: $font-size-callout;
      margin-bottom: $base-padding;
    }

    .card__ended_item {
      background: rgba(211, 20, 8, 0.2);
      color: $old-primary-red;
    }

    .card__process_item {
      background-color: #e0f6e2;
      color: #0d4d39;
    }

    .card__zones_link {
      color: $old-primary-green;
      cursor: pointer;
      text-decoration: underline;
      margin-bottom: calc($base-padding * 3);
    }

    .card__votation_time {
      font-size: $font-size-body;
      font-weight: normal;
      margin-bottom: calc($base-padding * 3);
    }
  }

  .card__buttons_containers {
    align-items: center;
    display: grid;
    flex-direction: column;
    gap: variables.$size-8;
    grid-template-rows: 2;
    padding: 0 variables.$size-8;
  }

  :global {
    .ant-btn {
      width: 100%;
    }

    .anticon {
      margin-left: $base-padding;
    }

    .ant-card-body {
      margin: 0 !important;
      padding: $base-padding $base-padding variables.$size-32 !important;
    }
  }
}
