@use "/public/styles/variables.scss";
@use "/public/styles/theming.scss";

$button-types: "primary", "secondary", "link", "danger";

$button-colors: (
  "primary": (
    "background": theming.$btn-gradient-blue,
    "foreground": variables.$backgroundColor,
  ),
  "secondary": (
    "background": theming.$secondaryF-color,
    "foreground": theming.$secondaryS-color,
  ),
  "link": (
    "background": inherit,
    "foreground": theming.$primaryF-color,
  ),
  "danger": (
    "background": variables.$error-background,
    "foreground": variables.$error,
  ),
);

$button-sizes: (
  "large": (
    "height": variables.$size-64,
  ),
  "medium": (
    "height": variables.$size-56,
  ),
  "small": (
    "height": variables.$size-48,
  ),
  "small-x": (
    "height": variables.$size-36,
  ),
  "super-small": (
    "height": variables.$size-32,
  ),
);

@each $button-type in $button-types {
  .#{$button-type} {
    $colors: map-get($button-colors, $button-type);

    background: map-get($colors, "background");
    color: map-get($colors, "foreground");

    font-size: variables.$font-size-body;
    font-family: theming.$font-family-primary;
    font-style: normal;
    font-weight: bold;
    border-radius: variables.$size-96;
    display: flex;
    align-items: center;
    justify-content: center;

    @if $button-type==link {
      border: none; //Sin borde del AntDesign por defecto
      box-shadow: none; //Sin sombra por el prototipo definido al proyecto
    }
    &:hover {
      transform: scale(1.03);
    }
    &:active {
      transform: scale(1);
      transition: all 0.1s;
    }
  }
}

@each $button-size, $size in $button-sizes {
  .#{$button-size} {
    height: map-get($size, "height");
    padding: 0 variables.$size-32;
    @if $button-size==small-x or $button-size==super-small {
      //Solo en estos dos casos la letra ya no esta en negrita y se hace mas pequeña
      font-weight: normal;
      font-size: variables.$font-size-body;
      @if $button-size==super-small {
        padding: 0 variables.$size-12;
      }
    }
  }
}

.button[disabled] {
  opacity: 0.5;

  &:not(.primary) {
    pointer-events: none;
    color: variables.$text-color2;

    svg {
      fill: variables.$text-color2;
    }
  }

  &:hover {
    transform: none;
  }
}

.secondary:hover,
.secondary:active,
.secondary:focus {
  fill: #40a9ff;
}

.primary[disabled] {
  color: variables.$backgroundColor;
  opacity: 0.3;

  &:hover {
    color: variables.$backgroundColor !important;
    background: variables.$btn-gradient-blue;
  }
}
