@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.header {
  margin-bottom: 15px;
  h1 {
    font-size: 24px;
    font-weight: bold;
    color: #000b;
    max-width: 800px;
    text-align: center;
    margin: 20px auto 0;
  }
}
.information {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  margin-top: 10px;

  span {
    background-color: #0002;
    padding: 7px 12px;
    border-radius: 15px;
    max-width: 240px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000b;
  }
  em {
    font-style: normal;
    color: #0008;
  }
}

.custom-date-picket {
  width: 240px;
  border: 2px solid #0005;
  border-radius: 20px;

  &:focus > span {
    border-color: transparent !important;
    box-shadow: 0 0 0 0 !important;
    -webkit-box-shadow: 0 0 0 0 !important;
  }
}

.filter_button {
  height: variables.$size-40;

  path {
    fill: #fff;
  }

  &:hover path,
  &:focus path {
    fill: variables.$button-hover-color;
  }
}
.filter_select {
  gap: variables.$size-10;
}

.filter__container {
  background-color: variables.$backgroundColor;
  display: flex;
  flex-direction: column;
  padding: variables.$size-16 variables.$size-36 variables.$size-48;
  row-gap: variables.$size-16;
  margin-bottom: variables.$size-48;
}

.title__staticstis {
  font-size: variables.$size-24;
  color: variables.$old-primary-green;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.proposal__botonera {
  display: flex;
  gap: variables.$size-32;
  justify-content: center;
  margin-bottom: variables.$size-40;
}

.proposal__user {
  display: flex;
  gap: variables.$size-20;
}

.container__map {
  width: 80%;

  div {
    width: 100%;
    display: flex;
  }
}

.modalCreatedSuccessfully {
  align-items: center;
  position: absolute;
  background-color: white;
  box-shadow: 2px 2px 10px #cdcfd1;
  border-radius: 12;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 276px;
  justify-items: center;
  left: 35%;
  padding: 10;
  top: 25vh;
  width: 404px;
  z-index: 31;
}
