@use "/public/styles/theming.scss";

.box_content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding-top: 20px;
  align-items: center;
  justify-content: center;

  a {
    display: block;
    width: 100%;
    max-width: 400rem;
  }
}

.card_border {
  width: 100%;
  border-color: theming.$strokes;
  border-radius: theming.$size-8;
}
.card_description {
  color: theming.$secondaryS-color;
  font-size: theming.$font-size-headline;
}
.text_date {
  color: theming.$text-color2;
}
.card_title {
  color: theming.$text-color1;
  font-family: "Muller", sans-serif;
  font-size: 24rem;
  font-weight: 700;
  text-align: center;
  margin: 60rem 0 5rem;
  padding: 0 10rem;
}
