@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.wrapper {
  width: auto !important;
  min-width: auto !important;
  // width: 260rem !important;
  max-width: 256rem !important;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  .menu {
    background: variables.$backgroundColor;
    font: theming.$font-size-callout theming.$font-family-primary;
    height: 100vh;
    min-height: 100vh;
    // min-width: 255px;
    overflow-x: hidden;
    overflow-y: auto;

    :global {
      .ant-tooltip
        .ant-menu-inline-collapsed-tooltip
        .ant-tooltip-placement-right
        .ant-tooltip-hidden {
        display: none !important;
      }

      .ant-menu-submenu-title {
        padding: 0 !important;
      }

      .ant-menu-item-selected {
        background: none !important;

        a {
          color: theming.$old-primary-color;
        }

        svg {
          fill: theming.$old-primary-color;
          min-width: variables.$size-24;
          position: relative;
          width: variables.$size-24;
        }
      }

      .ant-menu-submenu-selected {
        background: none !important;
        color: theming.$old-primary-color;
      }
    }

    .menu__logo {
      align-items: center;
      display: flex;
      height: variables.$size-64;
      justify-content: space-between;
      padding: 0 variables.$size-16;
      background: #eaeaea;
      height: 72px;

      svg {
        cursor: pointer;
        fill: theming.$old-primary-color;
        position: relative;
      }

      svg path {
        pointer-events: none;
      }

      .menu__logo__image {
        align-items: center;
        display: flex;
        margin-left: variables.$size-16;
        width: 100%;

        img {
          margin-right: variables.$size-8;
          max-height: variables.$size-32;
        }

        h6 {
          color: theming.$old-primary-color;
          font: bold theming.$font-size-headline theming.$font-family-primary;
          margin: 0;
          white-space: nowrap;
        }
      }
    }

    & li {
      margin: 0 !important;
      padding: 0 variables.$size-12 0 variables.$size-16 !important;

      &::after {
        border-right: 3px solid theming.$old-primary-color !important;
      }

      & > div {
        padding: 0 !important;

        span {
          align-items: center;
          display: flex;
          height: 100%;

          svg {
            margin-right: variables.$size-8;
            min-width: variables.$size-24;
            position: relative;
            width: variables.$size-24;
          }
        }

        &:hover {
          color: theming.$old-primary-color;
          transition: all 0.2s ease-in-out;

          svg {
            fill: theming.$old-primary-color;
            transition: all 0.2s ease-in-out;
          }
        }

        &:hover i::before,
        &:hover i::after {
          background: theming.$old-primary-color !important;
        }
      }

      & > div > div {
        padding: 0 0 0 variables.$size-16 !important;

        &:hover {
          color: theming.$old-primary-color;
        }
      }

      a {
        align-items: center;
        display: flex;
        height: 100%;
        transition: all 0.2s ease-in-out;
        min-width: 100%;

        svg {
          margin-right: variables.$size-8;
          min-width: variables.$size-24;
          position: relative;
          width: variables.$size-24;
        }

        &:hover {
          color: theming.$old-primary-color;
          transition: all 0.2s ease-in-out;

          svg {
            fill: theming.$old-primary-color;
            transition: all 0.2s ease-in-out;
          }
        }

        // Icon
        span {
          height: variables.$size-16;
          margin-right: variables.$size-8 !important;
          width: variables.$size-16;

          svg {
            height: 100%;
            width: 100%;
          }
        }
      }

      ul {
        background: none !important;
      }

      li {
        margin: 0 !important;
        padding: 0 0 0 variables.$size-16 !important;
      }

      div {
        margin: 0 !important;
      }
    }

    // Scrollbar
    &::-webkit-scrollbar {
      display: none;
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: none;
    }

    &::-webkit-scrollbar-thumb {
      background: #c4c4c44d;
      border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #c4c4c44d;
    }

    &:hover::-webkit-scrollbar {
      display: block;
    }
  }

  .notification__container {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .notification::after {
    background: theming.$state-pending;
    border-radius: 50%;
    content: "";
    display: block;
    height: calc(variables.$size-4 + variables.$size-2);
    position: absolute;
    right: variables.$size-12;
    top: 5%;
    width: calc(variables.$size-4 + variables.$size-2);
  }
}

.collapsed {
  .menu__logo {
    .menu__logo__hamburger {
      display: flex;
      margin-left: variables.$size-12;
      justify-content: center;
    }

    .menu__logo__image {
      display: none !important;
    }
  }

  :global {
    .ant-menu-item {
      a svg {
        margin-left: variables.$size-12;
      }

      a div:last-child {
        display: none;
      }
    }

    .ant-menu-submenu-title span {
      svg {
        margin-left: variables.$size-12;
      }

      div {
        display: none;
      }
    }
  }
}
