@import "../../../public/styles/theming.scss";

.formContainer {
  font-size: $size-16;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: $size-432;
  padding: $size-24;
  .formElement {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    .inputContainer {
      background-color: $backgroundColor;
      width: 100%;
      margin: $size-8 0;
      border-radius: $size-16;
      display: flex;
    }
    .checkBoxContainer {
      width: 100%;
      padding: $size-8;
      font-family: $font-family-primary;
      font-size: $font-size-body;
      color: $text-color2;
    }
    .formButton {
      width: 100%;
      background: $btn-gradient-blue;
      font-family: $font-family-primary;
      font-size: $font-size-body;
      font-weight: bold;
      color: $backgroundColor;
      line-height: $size-27;
      padding: $size-16;
      border-radius: $size-100;
      border: none;
    }
    .formButton:hover {
      background: $backgroundColor;
      border: solid $size-1 $primaryS-color;
      color: $primaryS-color;
    }
  }
}
