@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

// Sobreescribir el estilos del componente hecho en styled-components
.color_input {
  color: variables.$text-color2;
}
.color_selected {
  color: variables.$old-primary-green;
}
