@use "/public/styles/variables.scss";
@use "/public/styles/theming.scss";

// @mixin random-bgr() {
//   background: hsl(random(360), 65%, 95%);
// }

.container {
  border-radius: variables.$size-6;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &.winner {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    transform: translateY(-3rem);

    .content {
      .results {
        background-color: theming.$old-primary-turquoise;
        color: theming.$backgroundColor;
      }
    }
  }

  &:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    transform: translateY(-3rem);
  }
  .content {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;

    h6 {
      word-break: break-word;

      span {
        display: flex;
        flex-wrap: wrap;

        svg {
          fill: variables.$crown;
          filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
          margin-inline-end: 5rem;
        }
      }
    }
  }

  &:hover .link::before {
    transform-origin: left bottom;
    transform: scaleX(1);
  }

  :global {
    .ant-card {
      border: none;
      margin: initial;
      min-height: initial;

      // @for $i from 0 to $num-colors {
      //   &:nth-child(#{$i}) {
      //     @include random-bgr();
      //   }
      // }

      .ant-card-body {
        margin: variables.$size-20 variables.$size-8 variables.$size-8;
      }

      .ant-card-body > div {
        margin-top: variables.$size-20;
      }

      .ant-card-body div button {
        width: 100%;
      }
    }
  }

  h6 {
    font: bold theming.$font-size-h6 theming.$font-family-primary;
    line-height: variables.$size-32;
  }

  .image {
    display: block;
    margin: variables.$size-16 auto 0;
    width: 90%;
  }

  .description {
    color: variables.$text-color4;
    font: theming.$font-size-body theming.$font-family-primary;
    display: -webkit-box;
    line-height: variables.$size-28;
    margin-block: variables.$size-16;
  }

  .link {
    color: theming.$old-primary-turquoise;
    cursor: pointer;
    font: bold theming.$font-size-body theming.$font-family-primary;
    position: relative;
    width: fit-content;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: variables.$size-2;
      background-color: theming.$old-primary-turquoise;
      transform-origin: right bottom;
      transform: scaleX(0);
      transition: transform 0.5s ease 0s;
    }
  }

  .button {
    margin-block-start: variables.$size-16;
  }

  .text {
    color: theming.$old-primary-turquoise;
    font: bold theming.$font-size-body theming.$font-family-primary;
    text-align: center;
  }

  .title {
    font: bold theming.$font-size-h5 theming.$font-family-primary;
    line-height: variables.$size-32;
    margin-block-end: variables.$size-16;
  }

  .button__container {
    margin-top: auto;

    .results {
      background-color: theming.$secondaryF-color;
      border-radius: variables.$size-36;
      font: bold theming.$font-size-headline theming.$font-family-primary;
      line-height: variables.$size-32;
      margin-block-start: variables.$size-16;
      padding: variables.$size-16 0;
      text-align: center;
      width: 100%;
    }
  }
}

.card_finished {
  height: 100%;
  transition: all 0.3s ease-in-out;

  .container {
    height: 100%;

    &:hover .link::before {
      transform-origin: left bottom;
      transform: scaleX(1);
    }

    & > div {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
    }
  }
}
