@use "/public/styles/variables.scss";
@import "../../../public/styles/theming.scss";

$box-width: variables.$size-256;

.container {
  display: flex;
  align-items: center;
  padding: variables.$size-8;
  border-radius: variables.$size-8;
  word-wrap: break-word;
  & > * {
    font-family: $font-family-primary;
    font-weight: bold;
    font-size: variables.$font-size-body;
  }
}

.infoIcon {
  font-size: variables.$font-size-headline;
  margin-right: variables.$size-12;
}

.info {
  background: $info-background;
  color: $old-primary-turquoise;
}

.warn {
  background: $warn-background;
  color: $state-pending;
}

.done {
  background: variables.$done-background;
  color: $old_primary-color;
}

.error {
  background-color: variables.$error-background;
  color: $error;
}
