@use "/public/styles/variables.scss";
.modal {
  border-radius: variables.$size-24;
  font-family: variables.$font-family-primary;
  :global {
    .ant-modal {
      padding: 0;
    }
    .ant-modal-footer > div {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
    }
    .ant-modal-content {
      box-shadow: none;
    }
    .ant-modal-content {
      box-shadow: none;
    }
  }
  .ant-modal-content {
    box-shadow: none;
  }
}

.modal-button::before,
.modal-button {
  position: static;
}
