@import "../../../../../../public/styles/theming.scss";

.section {
  width: 100%;
  border: $size-2 solid $border-creating-normative;
  border-radius: $size-16;
  padding: $size-16;
  margin-bottom: $size-40;
  h6 {
    font-family: $font-family-primary;
    font-size: $font-size-h6;
    color: $text-color1;
    font-weight: bold;
    margin: 0 0 $size-4 0;
  }
  p {
    font-family: $font-family-primary;
    font-size: $font-size-body;
    color: $text-color1;
    opacity: 0.6;
    margin: 0 0 $size-18 0;
  }
  button {
    min-width: max-content;
  }

  [class~="ant-card"] {
    .ant-card-body {
      textarea {
        display: none !important;
      }
    }
  }
}
