@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.tag {
  :global {
    .ant-tag {
      font-family: theming.$font-size-callout;
      font-weight: 700;
      padding: variables.$size-4 variables.$size-16 variables.$size-4
        variables.$size-16;
      border: variables.$size-1 solid theming.$secondaryS-color;
      margin: variables.$size-16;
      border-radius: variables.$size-8;

      .anticon {
        vertical-align: middle;
        margin-inline-start: variables.$size-12;
      }
    }
  }
}
