@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.text__area__modal {
  width: 750px !important;

  .text__area__modal__title {
    color: theming.$old-primary-color;
    font: bold theming.$font-size-headline theming.$font-family-primary;
    margin-bottom: theming.$size-24;
    text-align: center;
  }

  .text__area__modal__text {
    color: theming.$foregroundColor;
    font: bold theming.$font-size-body theming.$font-family-primary;
    opacity: 0.6;
    padding-bottom: theming.$size-4;
    text-align: center;
    margin-bottom: theming.$size-24;
  }

  .text__area__modal__text__red {
    color: theming.$old-primary-red;
    font: bold theming.$font-size-body theming.$font-family-primary;
    opacity: 0.6;
    padding-bottom: theming.$size-4;
    text-align: center;
    margin-bottom: theming.$size-24;
    margin-top: theming.$size-24;
  }

  .text__area__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: white;
    border-radius: theming.$size-4;

    textarea {
      border: 2rem solid theming.$strokes;
      border-radius: 12rem;
      color: theming.$foregroundColor;
      font: theming.$font-size-callout theming.$font-family-primary;
      min-height: 100px;
      resize: none;
      padding: theming.$size-8;
      width: 100%;
    }
  }

  .ant-modal-content {
    border-radius: theming.$size-16;
  }

  .ant-modal-footer {
    border-top: none;
    padding: 0 theming.$size-16 theming.$size-24;

    div {
      display: flex;
      justify-content: flex-end;

      textarea {
        border: variables.$size-2 solid theming.$strokes;
        border-radius: 12rem;
        color: theming.$foregroundColor;
        font: theming.$font-size-callout theming.$font-family-primary;
        min-height: variables.$size-128;
        resize: none;
        padding: theming.$size-8;
        width: 100%;
      }

      .ant-btn-primary {
        background: theming.$btn-gradient-blue;
        border: none;
        border-radius: theming.$size-32;
        color: theming.$backgroundColor;
        font: bold theming.$font-size-callout theming.$font-family-primary;
        padding: theming.$size-20 theming.$size-40;
      }

      button:hover {
        transform: scale(1.05);
      }

      button:active {
        transform: scale(1);
        transition: all 0.1s;
      }

      .ant-btn span {
        align-self: center;
      }
    }

    :global {
      .ant-modal-content {
        border-radius: theming.$size-16;
      }

      .ant-modal-footer {
        border-top: none;
        padding: 0 theming.$size-16 theming.$size-24;

        div {
          display: flex;
          justify-content: flex-end;

          button {
            font-weight: bold;
          }
        }
      }
    }
  }
}
