@import "/public/styles/variables.scss";

.attainment {
  background-color: $backgroundColor;
  border-radius: calc($size-8 + $size-2);
  padding: $size-16;
  margin: $size-48 auto;
  width: 100%;
  @media screen and (min-width: 768px) {
    & {
      width: 90%;
      max-width: 1200rem;
    }
  }
}
.loading {
  height: $size-432;
  display: flex;
  align-items: center;
  justify-content: center;
}
