@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.like {
  @include theming.like;

  font-size: $font-size-h1;

  /* Inside Auto Layout */
}

.dislike {
  @include theming.error;
  font-size: $font-size-h1;

  /* Inside Auto Layout */
}

.modalBackground {
  position: absolute;
  background: black;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.support {
  @include theming.like;
}

.unsupport {
  @include theming.error;
}

.messageText {
  color: #00b3ba;
}

.infoIcon {
  font-size: variables.$size-20;

  left: 8.33%;
  right: 8.33%;
  top: 8.33%;
  bottom: 8.33%;

  /* Old Primary Colors / Turquoise */

  color: #00b3ba;
}

.question {
  font-weight: bold;
  font-size: $font-size-h4;

  /* or 150% */

  /* Text Colors/Titles - 2 */

  color: #545454;

  /* Inside Auto Layout */
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;

  position: static;
  width: 334rem;
  height: variables.$size-56;
  left: variables.$size-24;
  top: 322rem;
  justify-content: space-between;
  /* Inside Auto Layout */

  flex: none;
  order: 5;
  align-self: stretch;
  flex-grow: 0;
  margin-top: 5;
}

.button {
  position: static;
  width: 73rem;
  height: 27rem;
  left: 41rem;
  top: 14.5rem;

  /* Headline */

  font-style: normal;
  font-weight: bold;
  font-size: $font-size-headline;
  line-height: $font-size-headline * 1.5;
  /* identical to box height, or 150% */

  text-align: center;

  /* Old Primary Colors / Turquoise */

  color: #00b3ba;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0 10rem;
  cursor: pointer;
}

.button_2 {
  position: static;
  width: 140rem;
  height: 27rem;
  left: 10rem;
  top: 14.5rem;

  /* Headline */

  font-style: normal;
  font-weight: bold;
  font-size: $font-size-headline;
  line-height: $font-size-headline * 1.5;
  /* identical to box height, or 150% */

  text-align: center;

  /* Old Primary Colors / Turquoise */

  color: #00b3ba;

  /* Inside Auto Layout */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0 10rem;
  cursor: pointer;
}
