.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  h4 {
    align-self: end;
    font-weight: bold;
  }
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 95%;
  max-width: 480px;
  margin: 0 auto;
}

.datepicker {
  width: 100%;
  border: 2px solid #9ca3af;
  border-radius: 15px;
  padding: 15px 10px 15px 15px !important;

  input {
    color: #545454;
    font-weight: 600;
  }
}

.error_message {
  color: #fe4752;
  font-size: 14rem;
  margin-top: 5px;
  padding-left: 8px;
}

.field-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  width: 20px;
}
