@import "../../../../../../../../public/styles/theming.scss";

.editorComponent {
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: $size-8;
    .toggle {
      color: $old_primary-color;
      display: flex;
      align-items: center;
      gap: $size-8;
      font-family: $font-family-primary;
      font-weight: bold;
      cursor: pointer;
    }
    .delete {
      cursor: pointer;
      color: $text-color1;
      display: flex;
      align-items: flex-start;
      gap: $size-8;
      font-family: $font-family-primary;
      font-weight: bold;
    }
  }
  .hidden {
    margin-bottom: $size-32;
    * {
      display: none;
    }
  }
  .editorContainer {
    margin-bottom: $size-32;
  }
}
