@import "../../../../../../../../public/styles/theming.scss";

.articlesContainer {
  .addArticleButton {
    margin-top: $size-32;
    width: max-content;
  }
  button {
    margin-top: $size-32;
    margin: 0 auto;
  }
}

.addMoreArticles {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: $size-8 $size-24;
  color: $backgroundColor;
  font-family: $font-family-primary;
  font-size: $font-size-body;
  font-weight: bold;
  background-color: $old-primary-turquoise;
  border-radius: $size-8;
  gap: $size-12;
}
