@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.modal {
  border-radius: variables.$size-32;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  text-align: center;
  max-width: 90%;

  h5 {
    font: bold variables.$font-size-h5 variables.$font-family-primary;
    margin: 0 0 variables.$size-16;
  }

  h6 {
    font: bold variables.$size-18 variables.$font-family-primary;
    text-align: left;
  }

  p {
    font: variables.$font-size-body variables.$font-family-primary;
    line-height: variables.$size-24;
    text-transform: capitalize;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;
    list-style: inside;
    padding: 10px 8px;
    justify-content: space-around;

    p {
      width: 140px;
    }

    li {
      text-align: left;
      width: 140px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  & > div button {
    margin: 0 variables.$size-8;
  }

  :global {
    .ant-modal-content {
      padding: variables.$size-24 variables.$size-20;
    }

    .ant-modal-body {
      padding: 0;

      & > div {
        margin: 0 auto variables.$size-12;
        width: fit-content;
      }
    }

    .ant-modal-footer {
      border-top: none;
      display: flex;
      justify-content: center;
      padding: variables.$size-24 0 0;

      button {
        align-items: center;
        border: none;
        color: theming.$old-primary-turquoise;
        display: flex;
        font: bold theming.$font-size-headline theming.$font-family-primary;
      }

      button:last-child {
        position: relative;

        &::after {
          content: ">";
          font-family: monospace;
          position: absolute;
          right: 0;
          transition: all 0.2s ease-in-out;
          top: -2rem;
        }

        &:hover::after {
          transform: translate(variables.$size-4, 0);
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: fit-content;
  }
}

@media screen and (min-width: 1024px) {
  .modal {
    max-width: 50%;
  }
}
