@import "../../../../../public/styles/theming.scss";

.controlsContainer {
  padding: $size-48 $size-18 $size-24 $size-18;
  display: flex;
  justify-content: space-between;
  .controls {
    display: flex;
    width: max-content;
    gap: $size-18;
    div {
      min-height: $size-56;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      [class~="react-dropdown-select"] {
        [class~="react-dropdown-select-dropdown"] {
          span {
            width: 100%;
          }
        }
      }
    }
  }
}
