@use "/public/styles/variables.scss";

.alert_color {
  color: variables.$state-error_advice;
}
.primary_color {
  color: variables.$old-primary-green;
  line-height: 36rem;
}
.gris_color {
  color: variables.$text-color2;
  line-height: 27rem;
}

.blue_color {
  color: variables.$text-color5;
  line-height: 27rem;
}

.gris_white {
  color: variables.$text-color3;
  line-height: 27px;
}
