@use "/public/styles/variables.scss";
@use "/public/styles/theming.scss";
$base-padding: variables.$size-8;
// title
.infoGhost {
  width: 300rem;
  margin-bottom: $base-padding;
  text-align: center;
  font-family: theming.$font-family-primary;
  font-weight: bold;
  color: variables.$old_primary-color;
  [class~="voted"] {
    font-size: variables.$font-size-body;
    width: 100%;
  }
}
.block {
  display: block !important;
  min-width: 200px;
  button {
    margin: 0 auto 20px;
  }
}

// buttons
.buttonsContainer {
  padding: $base-padding;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 800rem;
  button {
    display: flex;
    align-items: center;
    padding: variables.$size-6;
    justify-content: center;
    min-width: 70rem;
    span {
      margin-left: variables.$size-6;
    }
  }
  button:hover {
    box-shadow: 0 10rem variables.$size-20 rgba(0, 0, 0, 0.1);
    span {
      font-weight: 700;
      font-size: variables.$font-size-headline;
    }
  }
}
.notVoted {
  button {
    background-color: variables.$secondaryF-color;
    border-radius: 100rem;
    width: 45%;
  }
}
.voted {
  button {
    border-radius: 15rem;
    font-weight: bold;
  }
  button:hover {
    cursor: default;
  }

  .yes {
    border: solid variables.$old_primary-color variables.$size-2;
    color: variables.$old_primary-color;
  }
  .bgYes {
    background-color: variables.$secondaryJ-color;
  }

  .no {
    border: solid variables.$error variables.$size-2;
    color: variables.$error;
  }
  .bgNo {
    background-color: variables.$error-background;
  }
}

// letscommet
.commentButton {
  position: fixed;
  right: 0;
  bottom: 0px;
  border-radius: 0;
  padding: $base-padding $base-padding calc($base-padding * 3);
  border-width: 0;
  width: 100%;
  max-width: 414rem;
  background: variables.$btn-gradient-blue;
  box-shadow: 0 -10rem variables.$size-20 rgba(0, 0, 0, 0.1);
  z-index: 15;
  @media screen and (min-width: 425px) {
    & {
      display: none;
    }
  }
  cursor: pointer;
  span {
    font-family: variables.$font-family-primary;
    font-weight: 700;
    font-size: variables.$font-size-headline;
    color: #fff;
  }
}
