@use "/public/styles/variables.scss";
@use "/public/styles/theming.scss";

.container {
  background: variables.$backgroundColor;
  padding: variables.$size-28 variables.$size-16 variables.$size-96;
  margin: 0 auto;
  width: 100%;

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .back {
    align-items: center;
    color: variables.$old-primary-turquoise;
    display: flex;
    font: bold variables.$font-size-body variables.$font-family-primary;

    svg {
      fill: variables.$old-primary-turquoise;
      height: variables.$size-20;
      margin-right: variables.$size-4;
      transition: transform 0.2s ease-in-out;
      width: variables.$size-20;
    }

    &:hover svg {
      transform: translate(-2rem, 0);
    }
  }

  h1 {
    color: variables.$text-color1;
    font: bold variables.$font-size-h5 variables.$font-family-primary;

    margin-block: variables.$size-16 variables.$size-28;
    text-align: center;
  }

  section {
    h2 {
      color: variables.$old-primary-green;
      font: bold variables.$font-size-headline variables.$font-family-primary;
      margin-block-end: variables.$size-16;
    }

    .stats_container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(270rem, 1fr));
      gap: variables.$size-24;
      margin-block-end: variables.$size-40;
      width: 100%;
    }
  }

  .votes {
    svg {
      fill: variables.$old-primary-green;
    }
  }

  .shared {
    svg {
      fill: variables.$strokes;
    }
  }

  .warning {
    align-items: center;
    background: variables.$warn-background;
    border-radius: 6rem;
    color: variables.$warn;
    display: flex;
    font: bold variables.$font-size-body variables.$font-family-primary;
    margin: 0 auto variables.$size-16;
    padding: variables.$size-4 variables.$size-16;
    width: fit-content;

    svg {
      fill: variables.$warn;
      margin-right: variables.$size-12;
      min-width: variables.$size-20;
    }
  }
}

@media screen and (min-width: 1024px) {
  .container {
    section {
      margin: 0 auto;
      width: 90%;
    }
  }
}
