@import "../../../../../../../../public/styles/theming.scss";

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: $size-32;
  .volverButton {
    display: flex;
    align-items: center;
    font-family: $font-family-primary;
    padding: $size-6 $size-16;
    border-radius: $size-8;
    gap: $size-14;
    color: $text-color1;
    background-color: $backgroundColorGrey2;
    margin-right: $size-16;
    font-size: $font-size-callout;
  }
  .status {
    font-family: $font-family-primary;
    font-size: $font-size-body;
    color: $old_primary-color;
    font-weight: bold;
  }
}
