@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.modalProposalBackground {
  background-color: #0004;
  cursor: zoom-out;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: -20vw;
  width: 120vw;
  z-index: 31;
}

.modalProposalViewMoreDetail {
  background-color: white;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 1fr 50px;
  height: 65vh;
  left: calc((100vw - 35vw) / 2);
  overflow: hidden;
  position: absolute;
  row-gap: 10px;
  top: calc((100vh - 65vh) / 2);
  width: 35vw;
  z-index: 32;
}

.externalInput {
  border: 2px solid variables.$backgroundColorGrey2;
  display: flex;
  border-radius: 5px;
  margin: 0px 10px;
  padding: 5px;
}

.externalInputError {
  border: 2px solid variables.$state-error_advice;
  display: flex;
  border-radius: 5px;
  margin: 0px 10px;
  padding: 5px;
}

.inputnone {
  background-color: transparent;
  border: none;
  outline: transparent;
  width: 100%;
}

.errorBodyScrol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 1px;
  }

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 1px;
  }
}
