@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.userdata {
  display: flex;
  align-items: center;

  img {
    width: variables.$size-40;
    height: variables.$size-40;
    border: 1px solid #0005;
    border-radius: 50%;
    margin-right: 5px;
  }

  span {
    text-transform: capitalize;
  }
}

.container_card_dashboard {
  gap: variables.$size-36;
}

.filter_select {
  gap: variables.$size-10;
}

.userContainer {
  background-color: variables.$backgroundColor;
  min-height: calc(100vh - 72px);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  padding: variables.$size-40 variables.$size-36 variables.$size-48;
  row-gap: variables.$size-16;
  min-width: 790px;
}

.buttons-group {
  position: relative;
  display: flex;
  margin-bottom: -42rem;
  z-index: 1;
  width: 245px;
  margin-left: auto;

  button {
    font-size: variables.$size-14;
    height: variables.$size-40;
    margin-left: 10rem;

    &:hover path,
    &:focus path {
      fill: #3f9eec;
    }
  }
}

.list__proposals__container {
  border: 1px solid variables.$backgroundColorGrey;
  border-radius: variables.$size-10;
  padding: variables.$size-10;
}

.complaints {
  display: flex;
  color: #fe4752;

  span {
    margin-left: 5px;
  }
}

.section-buttons {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 0;
}

.input-section {
  h3 {
    color: #198565;
    font-size: 18px;
    font-weight: 600;
    margin: -10px 0 20px;
    text-align: center;
  }

  label {
    font-weight: bold;
    color: #0009;
  }

  textarea {
    width: 100%;
    margin-bottom: 10px;
    outline: solid 1px #0005;
    border-radius: 8px;
    padding: 5px 10px;

    &:focus-visible {
      border: 0;
      transition: outline 0.3s;
      outline: solid 1px #000a;
    }
  }
}

.user-info {
  margin: -15px 0 10px;
  padding: 0 variables.$size-10;

  h3 {
    font-weight: bold;
    font-size: variables.$size-20;
    margin-bottom: variables.$size-10;
  }

  ul {
    padding-left: variables.$size-8;
  }
}
