@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.listCardContainer {
  span[role^="status"] {
    padding: 4px 10px;
    border-radius: 15px;
  }
  span[role$="active"] {
    background-color: #d1e7e0;
    color: #198565;
  }
  span[role$="creating"] {
    background-color: rgba(247, 145, 51, 0.18);
    color: #f77d0d;
  }
  span[role$="finished"] {
    background-color: #f8d2cf;
    color: #e30613;
  }
}

.voteContainer {
  background-color: variables.$backgroundColor;
  // border: 2px solid black;
  font: theming.$font-size-body theming.$font-family-primary !important;
  padding: 54px 111px;
  height: calc(100vh - 100px);
  overflow: hidden;
  overflow-y: scroll;
}

.voteContetContainer {
  font: theming.$font-size-body theming.$font-family-primary !important;
  font-size: 16px !important;
  line-height: 16px;
  margin: 30px 0px;
}

.voteProposalContainer {
  // display: grid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 30px;
  flex: 2.5;
  font: theming.$font-size-body theming.$font-family-primary !important;
  // grid-template-columns: repeat(2, 1fr);
  // justify-content: space-between;
  column-gap: 10px;
}

.rootModalCreating {
  font: theming.$font-size-body theming.$font-family-primary !important;
  position: absolute;
  top: 0;
  left: 0px;
  min-height: 100vh;
  height: 100vh;
  padding: 18rem 0;
  background-color: #fff;
  overflow: scroll;
  width: 100vw;
  z-index: 30;
}

.modalCreatedSuccessfully {
  align-items: center;
  position: absolute;
  background-color: white;
  box-shadow: 2px 2px 10px #cdcfd1;
  border-radius: 12;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 276px;
  justify-items: center;
  left: 35%;
  padding: 10;
  top: 25vh;
  width: 404px;
  z-index: 31;
}

.modalProposalBackground {
  background-color: rgba($color: #000000, $alpha: 0.05);
  cursor: zoom-out;
  // min-height: 100vh;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: -20vw;
  width: 120vw;
  z-index: 31;
}

.modalProposalViewMoreDetail {
  background-color: white;
  box-shadow: 1px 1px 3px black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 70vh;
  left: calc((100vw - 60vw) / 2);
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  row-gap: 10px;
  top: calc((100vh - 70vh) / 2);
  width: 60vw;
  z-index: 32;
}

.controlsContainer {
  padding: variables.$size-48 variables.$size-18 variables.$size-24
    variables.$size-18;
  display: flex;
  justify-content: space-between;
  .controls {
    display: flex;
    width: max-content;
    gap: variables.$size-18;
    div {
      min-height: variables.$size-56;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      [class~="react-dropdown-select"] {
        [class~="react-dropdown-select-dropdown"] {
          span {
            width: 100%;
          }
        }
      }
    }
  }
}
