@import "../../../public/styles/theming";

.switch {
  :global {
    // Change OFF color to custom light gray
    .ant-switch {
      background-color: $secondaryF-color;
    }
    // Change ON color to custom green
    .ant-switch-checked {
      background-color: $old_primary-color;
    }
  }
}
