@use "/public/styles/variables.scss";

.caption {
  color: #0005;
  font-size: 13.5rem;
  margin: 5rem 0;
  padding-left: 8px;
}

.alert_color {
  color: variables.$state-error_advice;
}
.green_color_subtitle {
  color: variables.$old-primary-green;
  line-height: 27rem;
}
.blue_color_subtitle {
  color: variables.$text-color5;
}
.blue_color_subtitle_line {
  color: variables.$text-color5;
  line-height: 27rem;
}
.green_color_title {
  color: variables.$old-primary-green;
  line-height: 36rem;
}
.opp_color {
  color: variables.$text-color2;
  line-height: 27rem;
}

.color_title {
  color: variables.$old-primary-green;
  line-height: 36rem;
}

.subtitle {
  line-height: 27rem;
  color: variables.$text-color2;
}
.user {
  line-height: 27rem;
  color: variables.$old-primary-green;
}
.code_send {
  line-height: 27rem;
  color: variables.$text-color5;
}

.color_sub {
  color: variables.$text-color4;
  line-height: 27rem;
}
.title_success {
  line-height: 27rem;
  color: variables.$text-color5;
}
