@import "../../../../../../public/styles/theming.scss";
@import "/public/styles/variables.scss";

.section {
  width: 100%;
  border: $size-2 solid $border-creating-normative;
  border-radius: $size-16;
  padding: $size-16;
  margin-bottom: $size-40;
  h4 {
    margin: 0 auto;
    text-align: center;
    font-family: $font-family-primary;
    font-size: $font-size-h4;
    font-weight: bold;
    color: $text-color1;
  }
  .previewContainer {
    width: 100%;
    h4 {
      text-align: left;
    }
    p {
      margin-left: $size-32;
      color: $text-color1;
      opacity: 0.6;
      font-family: $font-family-primary;
      font-size: $font-size-body;
    }
  }
  .buttonsContainer {
    margin-top: $size-50;
    gap: $size-50;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $size-36;
  }
}
