@import "../../../../public/styles/theming.scss";

.chapters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.parcialWidth {
  @media screen and (min-width: 1024px) {
    width: calc(100% - 300px) !important;
  }
}

.mainContainer {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  .description {
    color: $text-color2;
    font-family: $font-family-primary;
    font-size: $font-size-body;
    font-weight: 400;
    margin-bottom: $size-28;
  }

  .descriptionViewContainer {
    width: 100%;
    margin-bottom: $size-64;
    h5 {
      color: $text-color1;
      font-family: $font-family-primary;
      font-size: $font-size-h5;
      font-weight: 700;
      margin-bottom: $size-16;
    }
    section {
      h6 {
        font-size: $font-size-headline;
        font-weight: 700;
        font-family: $font-family-primary;
        color: $text-color4;
        margin-bottom: $size-24;
        text-align: center;
      }
      .chaptersButtons {
        cursor: pointer;
        margin: 0 auto;
        width: 100%;
        max-width: $size-432;
        padding: $size-16;
        color: $text-color4;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $font-family-primary;
        font-size: $font-size-body;
        border: solid 2rem $text-color2;
        margin-bottom: $size-8;
        border-radius: 100rem;
      }
      .downLoadButton {
        background-color: $backgroundColorGrey;
        cursor: pointer;
        width: 100%;
        max-width: $size-432;
        margin: 0 auto;
        padding: $size-16;
        font-weight: bold;
        color: $text-color1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font-family-primary;
        font-size: $font-size-callout;
        margin-bottom: $size-8;
        border-radius: 100rem;
        span {
          margin-left: $size-12;
          font-size: $size-18;
        }
      }
    }
  }
}
