@use "/public/styles/variables.scss";
@import "../../../public/styles/theming.scss";

.codeContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;

  .codeEl {
    display: grid !important;
    grid-template-columns: repeat(4, variables.$size-72);
    place-items: center center;
    gap: 12rem;

    input[type="text"] {
      width: variables.$size-72;
      height: variables.$size-72;
      align-items: center;
      margin-right: 0;
      font-size: $font-size-h5;
      text-align: center;
      border: variables.$size-1 solid #243656;
      border-radius: variables.$size-16;
      color: #243656;
      font-family: $font-family-primary;
      font-weight: bold;
    }

    input[type="text"]:focus-visible {
      outline: none;
      border: variables.$size-2 solid #005ea6;
      color: #005ea6;
    }
  }
}

@media screen and (max-width: 678px) {
  .codeContainer {
    .codeEl {
      grid-template-columns: repeat(4, variables.$size-64);

      input[type="text"] {
        width: variables.$size-64;
        height: variables.$size-64;
        align-items: center;
        font-size: $font-size-h5;
        text-align: center;
        border: variables.$size-1 solid #243656;
        border-radius: variables.$size-16;
        color: #243656;
        font-family: $font-family-primary;
        font-weight: bold;
      }
    }
  }
}
