@import "/public/styles/variables.scss";
.color_title {
  color: $old-primary-green;
  line-height: 36rem;
}

.subtitle {
  line-height: 27rem;
  color: $text-color2;
}
.user {
  line-height: 27rem;
  color: $old-primary-green;
}
.code_send {
  line-height: 27rem;
  color: $text-color5;
}

.color_sub {
  color: $text-color4;
  line-height: 27rem;
}
.title_success {
  line-height: 27rem;
  color: $text-color5;
}
.alert_color {
  color: $state-error_advice;
}
.color_bbb:active {
  background-color: white !important;
}
