@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.popconfirm {
  color: theming.$text-color2;

  &:hover {
    color: theming.$text-color2;
  }
}
:global {
  .ant-popover {
    font-family: theming.$font-family-primary;
    font-weight: bold;
    font-size: theming.$font-size-callout;
    border-radius: variables.$size-12;
    text-align: center;
    width: variables.$size-256;
    .ant-popover-inner {
      border-radius: variables.$size-8;
      border: variables.$size-1 solid theming.$secondaryF-color;
      & .ant-popover-inner-content {
        padding: 0;
      }
    }
    // hidden icon
    .ant-popover-message {
      padding: variables.$size-16;

      & > .anticon {
        display: none;
      }
      .ant-popover-message-title {
        padding: 0;
      }
    }

    .ant-popover-buttons {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0 variables.$size-16 variables.$size-16 variables.$size-16;
      & > button {
        margin-right: variables.$size-16;
      }
    }
  }
}
