@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.modalProposalBackground {
  background-color: #0004;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: -20vw;
  width: 120vw;
  z-index: 31;
}

.modalProposalViewMoreDetail {
  background-color: white;
  // box-shadow: 1px 1px 3px black;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 60px 1fr 50px;
  height: 55vh;
  left: calc((100vw - 50vw) / 2);
  overflow: hidden;
  position: absolute;
  row-gap: 10px;
  top: calc((100vh - 55vh) / 2);
  width: 50vw;
  z-index: 32;
}

.externalInput {
  border: 2px solid variables.$backgroundColorGrey2;
  display: flex;
  border-radius: 5px;
  margin: 0px 10px;
  padding: 5px;
}

.externalInputError {
  border: 2px solid variables.$state-error_advice;
  display: flex;
  border-radius: 5px;
  margin: 0px 10px;
  padding: 5px;
}

.inputnone {
  background-color: transparent;
  border: none;
  outline: transparent;
  width: 100%;
}
.close {
  position: absolute;
  right: 12px;
  top: 8px;
  cursor: pointer;
}

.modalProposalViewMoreDetailSimple {
  background-color: white;
  // box-shadow: 1px 1px 3px black;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 1fr 0.5fr 0.5fr;
  height: 55vh;
  left: calc((100vw - 50vw) / 2);
  overflow: hidden;
  position: absolute;
  row-gap: 10px;
  top: calc((100vh - 55vh) / 2);
  width: 50vw;
  z-index: 32;
}

.elimIcon {
  margin-top: 30px;
  height: 100px;
  width: 100px;
}
