@use "/public/styles/variables.scss";
@use "/public/styles/theming.scss";

.container {
  display: grid;
  padding: variables.$size-28 variables.$size-20;
  background: variables.$backgroundColor;

  .content {
    width: 100%;

    .back {
      align-items: center;
      color: variables.$old-primary-turquoise;
      display: flex;
      font: bold variables.$font-size-body variables.$font-family-primary;

      svg {
        fill: variables.$old-primary-turquoise;
        height: variables.$size-20;
        margin-right: variables.$size-4;
        transition: transform 0.2s ease-in-out;
        width: variables.$size-20;
      }

      &:hover svg {
        transform: translate(-2rem, 0);
      }
    }

    .winner {
      align-items: center;
      background: variables.$secondaryJ-color;
      border-radius: 20rem;
      color: variables.$old-primary-green;
      display: flex;
      font: bold variables.$font-size-body variables.$font-family-primary;
      line-height: 21rem;
      justify-content: center;
      margin: variables.$size-28 auto 0;
      padding: variables.$size-4 variables.$size-16;
      text-align: center;
      width: fit-content;

      svg {
        fill: variables.$old-primary-green;
        margin-right: variables.$size-12;
        min-height: variables.$size-20;
        min-width: variables.$size-20;
      }
    }

    .title {
      color: variables.$text-color1;
      font: 700 variables.$font-size-h5 variables.$font-family-primary;
      line-height: variables.$size-32;
      margin-block: variables.$size-28 variables.$size-24;
      word-break: break-word;
    }

    .social {
      .user {
        align-items: center;
        display: flex;
        justify-content: space-between;

        .user__details {
          align-items: center;
          display: flex;
          flex-flow: row nowrap;

          p {
            color: variables.$text-color2;
            font: bold variables.$font-size-body variables.$font-family-primary;
            line-height: 21rem;
            margin-inline: variables.$size-8 variables.$size-16;

            span {
              font-weight: normal;
              white-space: nowrap;
            }
          }
        }

        .zones {
          background: variables.$done-background;
          border-radius: 20rem;
          color: variables.$old-primary-green;
          font: bold variables.$font-size-callout variables.$font-family-primary;
          line-height: 21rem;
          padding: variables.$size-2 variables.$size-8;
          text-align: center;
          width: fit-content;
        }
      }
    }

    .share {
      display: flex;
      justify-content: center;
      margin-block-start: variables.$size-24;

      a {
        color: variables.$foregroundColor;
      }

      .comments__button {
        align-items: center;
        cursor: pointer;
        display: flex;
        font: bold variables.$font-size-body variables.$font-family-primary;
        width: fit-content;

        svg {
          margin-right: variables.$size-2;
        }
      }

      .share__button {
        margin-inline-start: variables.$size-16;
      }
    }

    .evaluating {
      align-items: center;
      background-color: rgba(variables.$text-color5, 0.2);
      border-radius: variables.$size-8;
      color: variables.$old-primary-turquoise;
      display: flex;
      font: bold variables.$font-size-body variables.$font-family-primary;
      line-height: variables.$size-28;
      padding: variables.$size-8 variables.$size-16;
      margin: variables.$size-32 auto 0;
      width: fit-content;

      svg {
        fill: variables.$old-primary-turquoise;
        min-height: variables.$size-20;
        margin-right: variables.$size-12;
        min-width: variables.$size-20;
      }
    }

    .result {
      display: flex;
      justify-content: center;
      margin: variables.$size-24 auto;
      max-width: variables.$size-324;
      width: 100%;

      p {
        align-items: center;
        border-radius: 30rem;
        display: flex;
        font: bold variables.$font-size-body variables.$font-family-primary;
        justify-content: center;
        margin: 0 variables.$size-4;
        padding: variables.$size-14 variables.$size-24;
        width: 100%;

        svg {
          margin-right: variables.$size-4;
        }

        span {
          white-space: nowrap;
        }
      }

      &__likes {
        border: variables.$size-1 solid variables.$old-primary-green;
        color: variables.$old-primary-green;

        svg {
          fill: variables.$old-primary-green;
        }
      }

      &__dislikes {
        border: variables.$size-1 solid variables.$error;
        color: variables.$error;

        svg {
          fill: variables.$error;
        }
      }
    }

    .image {
      border-radius: variables.$size-12;
      margin: variables.$size-32 auto;
    }

    .video__container {
      margin: variables.$size-32 0;
      position: relative;
      padding-top: 56.25%;
      width: 100%;
    }

    .button__ubication {
      svg {
        margin-inline-start: variables.$size-8;
        transition: all 0.2s ease-in-out;
      }

      &:hover svg,
      &:focus svg,
      &:active svg {
        fill: variables.$button-hover-color;
      }
    }

    .description {
      color: variables.$text-color2;
      font: normal variables.$font-size-body variables.$font-family-primary;
      line-height: variables.$size-24;
      margin-block: variables.$size-32;
    }
  }

  .fixed__component {
    background: variables.$background-fixed;
    bottom: 0;
    box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.1);
    display: grid;
    left: 0;
    padding: variables.$size-8;
    position: fixed;
    transition: all 0.3s ease-in-out;
    width: 100%;
    z-index: 11;

    .not_in_zone {
      align-items: center;
      background: variables.$warn-background;
      border-radius: 6rem;
      color: variables.$warn;
      display: flex;
      font: bold variables.$font-size-body variables.$font-family-primary;
      margin: variables.$size-8 auto 0;
      padding: variables.$size-4 variables.$size-16;
      width: fit-content;

      svg {
        fill: variables.$warn;
        margin-right: variables.$size-12;
        min-width: variables.$size-20;
      }
    }

    .fixed__component__text {
      background: variables.$backgroundColor;
      border-radius: 8rem;
      color: variables.$old-primary-green;
      display: block;
      font: bold variables.$font-size-body variables.$font-family-primary;
      padding: variables.$size-8 variables.$size-12;
      text-align: center;
    }

    .button__login {
      margin-block-start: variables.$size-8;
    }

    .buttons {
      display: grid;
      gap: variables.$size-8;
      grid-template-columns: repeat(2, 1fr);
      margin-block-start: variables.$size-8;
      width: 100%;

      button:first-child {
        margin-inline-end: variables.$size-8;
      }

      button {
        font: bold variables.$font-size-body variables.$font-family-primary;
        height: variables.$size-40;
        padding: 0 variables.$size-16;

        svg {
          margin-inline-end: variables.$size-4;
          transition: all 0.2s ease-in-out;
        }

        &:hover svg,
        &:focus svg,
        &:active svg {
          fill: variables.$button-hover-color;
        }
      }
    }

    .buttons__like {
      background: variables.$backgroundColor;
      border-radius: 50rem;
      display: flex;
      align-self: center;
      margin: variables.$size-8 auto 0;
      padding: variables.$size-8 variables.$size-16;
      width: fit-content;

      span {
        align-items: center;
        color: variables.$text-color2;
        cursor: pointer;
        display: flex;
        flex-flow: row nowrap;
        font: bold variables.$font-size-callout variables.$font-family-primary;

        svg {
          fill: variables.$text-color2;
          margin-inline-end: variables.$size-4;
        }
      }

      span:first-child {
        margin-inline-end: variables.$size-16;
      }

      .buttons__like__text {
        color: variables.$old-primary-green;

        svg {
          fill: variables.$old-primary-green;
        }
      }
    }

    .buttons__dislike {
      background: variables.$backgroundColor;
      border-radius: 50rem;
      display: flex;
      align-self: center;
      margin: variables.$size-8 auto 0;
      padding: variables.$size-8 variables.$size-16;
      width: fit-content;

      span {
        align-items: center;
        color: variables.$text-color2;
        cursor: pointer;
        display: flex;
        flex-flow: row nowrap;
        font: bold variables.$font-size-callout variables.$font-family-primary;

        svg {
          fill: variables.$text-color2;
          margin-inline-end: variables.$size-4;
        }
      }

      span:first-child {
        margin-inline-end: variables.$size-16;
      }

      .buttons__dislike__text {
        color: variables.$error;

        svg {
          fill: variables.$error;
        }
      }
    }
  }

  .fixed__component_finished {
    background: variables.$btn-gradient-blue;
    bottom: 0;
    box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.1);
    color: variables.$backgroundColor;
    font: bold variables.$font-size-headline variables.$font-family-primary;
    left: 0;
    padding: variables.$size-12 variables.$size-8 variables.$size-16;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 11;
  }
}
.map {
  h6 {
    color: variables.$text-color4;
    font: bold variables.$font-size-h6 variables.$font-family-primary;
    margin-block: variables.$size-8;
  }

  p {
    margin-block-end: variables.$size-16;
  }
}

@media screen and (min-width: 768px) {
  .container {
    .content {
      .social {
        align-items: center;
        display: flex;
        justify-content: space-between;

        .share {
          margin: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .container {
    grid-template-columns: calc(75% - 32rem) 25%;
    gap: variables.$size-32;
    margin: 0 auto variables.$size-48;
    max-width: variables.$size-1024;
    width: 90%;

    .fixed__component_finished {
      color: variables.$foregroundColor;
    }

    .fixed__component_finished,
    .fixed__component {
      background: none;
      box-shadow: none;
      display: block;
      flex-flow: column nowrap;
      height: min-content;
      position: sticky;
      top: variables.$size-80;

      .not_in_zone {
        margin: 0 auto variables.$size-16;
      }

      .buttons {
        grid-template-columns: 1fr;
      }

      .buttons__like,
      .buttons__dislike {
        margin: variables.$size-16 auto;
      }
    }
  }
}
