@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

// Modificando nuevos estilos del card
.card {
  padding: 0 !important;
  border: variables.$size-1 solid theming.$secondaryF-color;
  position: relative;
  min-height: initial !important;

  :global {
    // Editando estilos del WYSIWYG
    .rdw-editor-toolbar {
      border: none;
      padding: variables.$size-8 -1 * variables.$size-8;
    }

    .rdw-editor-main {
      font-family: theming.$font-family-primary;
      font: theming.$font-size-body theming.$font-family-primary !important;
      min-height: variables.$size-100;
    }

    .public-DraftStyleDefault-block {
      margin: 0;
      padding: variables.$size-4 variables.$size-8;
    }

    .rdw-list-dropdown,
    .rdw-text-align-dropdown {
      z-index: 2;
    }
  }

  & > div {
    padding: 0 !important;
    margin: 0 !important;
  }
}

.counterArea {
  background-color: variables.$backgroundColorGrey;
  border-top: variables.$size-1 solid theming.$secondaryF-color;
  font-size: variables.$font-size-small;
  font-weight: bold;
  padding-right: 10px;
  text-align: end;

  span {
    color: variables.$old-primary-turquoise;
  }

  .error {
    color: variables.$error;
  }
}
