@import "../../../../public/styles/theming.scss";

.card {
  transition-duration: 0.3s;
  width: 100%;
  max-width: $size-300;
  padding: $size-8;
  margin-bottom: $size-24;
  background-color: $backgroundColor;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: $size-12;
  border: $border-card-dashboard;
  .elementsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    header {
      width: 100%;
      display: flex;
      flex: row;
      align-items: flex-start;
      h6 {
        cursor: pointer;
        font-family: $font-family-primary;
        font-size: $font-size-h6;
        max-width: 90%;
        min-width: 90%;
        word-wrap: break-word;
        max-height: calc($size-32 * 2);
        min-height: calc($size-32 * 2);
        font-weight: bold;
        color: $text-color4;
        overflow: hidden;
        line-height: $size-32;
        text-overflow: ellipsis;
      }
      .vignette {
        margin-top: $size-6;
        display: flex;
        gap: $size-4;
        cursor: pointer;
        height: $size-14;
        max-width: max-content;
        position: relative;
        .vignetteItem {
          background-color: $foregroundColor;
          height: $size-4;
          width: $size-4;
          border-radius: 50%;
        }
        .hideMenu {
          display: none;
        }
        .menuOptions {
          position: absolute;
          top: 10px;
          right: 5px;
          background-color: $backgroundColor;
          width: max-content;
          border-radius: $size-4;
          box-shadow: $size-1 $size-1 $size-2 black;
          overflow: hidden;
          padding: $size-8;
          .options {
            display: block;
            width: 100%;
            padding: $size-4 $size-8;
            font-family: $font-family-primary;
            color: $text-color1;
            font-size: $font-size-callout;
          }
          .options:hover {
            color: $backgroundColor;
            background-color: $old-primary-turquoise;
          }
        }
      }
    }
    p {
      cursor: pointer;
      width: 100%;
      color: $text-color2;
      font-family: $font-family-primary;
      font-size: $font-size-body;
      font-weight: normal;
      margin: 0;
      margin-top: $size-16;
      text-align: left;
      word-wrap: break-word;
      line-height: $size-30;
      height: calc($size-32 * 3);
      overflow: hidden;
    }
    .finalizada {
      width: max-content;
      display: flex;
      align-items: center;
      justify-self: center;
      margin-top: $size-14;
      margin-bottom: $size-24;
      padding: $size-4 $size-16;
      background-color: $error-background;
      color: $old-primary-red;
      font-family: $font-family-primary;
      font-size: $font-size-small;
      border-radius: $size-50;
    }
    .inProgress {
      width: max-content;
      display: flex;
      align-items: center;
      justify-self: center;
      border-radius: $size-50;
      margin-top: $size-14;
      margin-bottom: $size-24;
      padding: $size-4 $size-16;
      font-family: $font-family-primary;
      font-size: $font-size-small;
      color: $old-primary-green;
      background-color: $green-backgroud-color;
    }
    .creating {
      width: max-content;
      display: flex;
      align-items: center;
      justify-self: center;
      border-radius: $size-50;
      margin-top: $size-14;
      margin-bottom: $size-24;
      padding: $size-4 $size-16;
      font-family: $font-family-primary;
      font-size: $font-size-small;
      color: $state-pending;
      background-color: $yellow-status-color;
    }
    .noStatus {
      margin-bottom: $size-20;
      height: $size-24;
      * {
        display: none;
      }
    }
    .status {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: $size-20;
      .comments {
        cursor: pointer;
        padding: $size-4 $size-16;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $size-50;
        background-color: $backgroundColorGrey;
        color: $text-color4;
        font-family: $font-family-primary;
        font-size: $font-size-small;
        gap: $size-4;
      }
      .complaints {
        cursor: pointer;
        padding: $size-4 $size-16;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font-family-primary;
        font-size: $font-size-small;
        color: $old-primary-red;
      }
    }
  }
  .buttonContainer {
    width: 100%;
    button {
      width: 100%;
    }
  }
}

.card:hover {
  transition-duration: 0.3s;
  box-shadow: $shadow-antd-card;
  transform: translateY(-$size-4);
}
