@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.shareModal {
  border-radius: variables.$size-32;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: variables.$size-256;
  overflow: hidden;
  padding: 0;
  text-align: center;
  width: 90%;

  & > div button {
    margin: 0 variables.$size-8;
  }

  .modalTitle {
    font: bold theming.$font-size-h4 theming.$font-family-primary;
    margin: 0 0 variables.$size-24;
  }

  .modalText {
    align-items: center;
    color: theming.$old-primary-green;
    cursor: pointer;
    display: flex;
    font: bold theming.$font-size-headline theming.$font-family-primary;
    justify-content: center;
    margin: variables.$size-16 variables.$size-16 variables.$size-8;
    white-space: nowrap;

    span {
      margin-left: variables.$size-8;
    }
  }

  .copiedText {
    color: theming.$old-primary-turquoise;
    font: bold theming.$font-size-callout theming.$font-family-primary;
    margin: 0;
  }

  :global {
    .ant-modal-content {
      border-radius: theming.$size-4 theming.$size-4 theming.$size-40
        theming.$size-40;
    }
    .ant-modal-body {
      padding-bottom: variables.$size-16;
    }

    .ant-modal-body > div {
      margin: 0 auto variables.$size-12;
      width: fit-content;
    }

    .ant-modal-footer {
      border-top: none;
      display: flex;
      justify-content: center;
      padding-top: 0;

      button {
        color: theming.$old-primary-turquoise;
        font: bold theming.$font-size-headline theming.$font-family-primary;
        border: none;
      }
    }
  }
}

.surveyContainerSurveyListAnimate {
  animation: slide-in 0.4s ease;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: tranisition(variables.$size-256);
  }

  100% {
    opacity: 1;
    transform: tranisition(0);
  }
}

@media screen and (max-width: variables.$size-512) {
  .shareModal {
    max-width: 90%;
  }
}
