@use "/public/styles/variables.scss";
@use "/public/styles/theming.scss";

.card {
  font-family: theming.$font-family-primary;
  max-height: none;
  overflow: hidden;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    transform: translateY(-3rem);
  }

  .video__container {
    grid-area: imageOrVideo;
    margin-bottom: variables.$size-8;
    position: relative;
    padding-top: 56.25%;
    width: 100%;
  }

  .card_image {
    border-radius: variables.$size-16;
    grid-area: imageOrVideo;
    margin-bottom: variables.$size-8;
    width: 100%;
  }

  .card__content {
    display: flex;
    flex-flow: column nowrap;
    grid-area: cardContent;

    .card__profile {
      margin-block-start: variables.$size-8;

      .card__profile_name {
        color: variables.$text-color2;
        font: variables.$font-size-body variables.$font-family-primary;
        line-height: variables.$size-28;
      }
    }

    .card__title {
      color: theming.$text-color1;
      font: bold variables.$font-size-headline variables.$font-family-primary;
      line-height: variables.$size-28;
      margin: variables.$size-8 0;
      overflow-wrap: break-word;
      -ms-word-break: break-all;
      /* Instead use this non-standard one: */
      word-break: break-word;

      /* Adds a hyphen where the word breaks, if supported (No Blink) */
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
    }

    .card__description {
      color: variables.$text-color2;
      font: variables.$font-size-body variables.$font-family-primary;
      line-height: variables.$size-28;
      overflow-wrap: break-word;
      word-break: break-word;
      hyphens: auto;

      span {
        color: variables.$old-primary-turquoise;
        cursor: pointer;
      }
    }

    .card__buttons {
      margin-top: auto;
      padding-top: variables.$size-16;

      .card__agreements__agree,
      .card__agreements__disagree,
      .card__invite {
        align-items: center;
        background: variables.$secondaryJ-color;
        border-radius: 20rem;
        color: variables.$old-primary-green;
        cursor: pointer;
        display: flex;
        font: variables.$font-size-body variables.$font-family-primary;
        line-height: variables.$size-28;
        margin: variables.$size-32 auto variables.$size-8;
        padding: variables.$size-4 variables.$size-24;
        text-align: center;
        width: fit-content;

        svg {
          height: variables.$size-18;
          margin-inline-end: variables.$size-4;
          transition: all 0.2s ease-in-out;
          width: variables.$size-18;
        }
      }

      .card__agreements__agree {
        background: variables.$secondaryJ-color;
        color: variables.$old-primary-green;

        svg {
          fill: variables.$old-primary-green;
        }
      }

      .card__agreements__disagree,
      .card__invite {
        background: variables.$bg-finished;
        color: variables.$error;

        svg {
          fill: variables.$error;
        }
      }

      .card__invite {
        font-weight: bold;
        justify-content: center;
        margin: 0;
        transition: all 0.2s ease-in-out;
        width: 100%;

        &:hover {
          transform: scale(1.03);
        }
        &:active {
          transform: scale(1);
          transition: all 0.1s;
        }
      }

      .card__invite__finished {
        background: variables.$backgroundColorGrey;
        color: variables.$foregroundColor;
      }

      .card__agreements__buttons,
      .card__agreements__buttons_no_login {
        display: grid;
        gap: variables.$size-8;
        margin-block: variables.$size-8;
        width: 100%;

        .card__agreements__button {
          font: bold variables.$font-size-body variables.$font-family-primary;
          height: variables.$size-48;
          margin: 0 auto variables.$size-8;
          padding: 0 variables.$size-24;
          width: 100%;

          svg {
            margin-inline-end: variables.$size-4;
            height: variables.$size-28;
            transition: all 0.2s ease-in-out;
            width: variables.$size-28;
          }

          &:hover svg,
          &:focus svg,
          &:active svg {
            fill: variables.$button-hover-color;
          }
        }
      }
    }
  }

  :global {
    .ant-avatar {
      margin-inline-end: variables.$size-8;
    }

    .ant-card-body {
      margin: 0 !important;
      display: grid;
      grid-template-areas: "imageOrVideo" "cardContent";
      grid-template-columns: 1fr;
      padding: variables.$size-8 variables.$size-8 variables.$size-32 !important;
    }
  }
}

.card__finished__stats {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-block: variables.$size-8;

  p {
    align-items: center;
    border-radius: 50rem;
    display: flex;
    font: bold variables.$font-size-body variables.$font-family-primary;
    line-height: variables.$size-28;
    justify-content: center;
    padding: variables.$size-4 0;
    text-align: center;
    width: 100%;

    &:first-child {
      margin-inline-end: variables.$size-8;
    }

    svg {
      margin-inline-end: variables.$size-4;
      min-height: variables.$size-28;
      min-width: variables.$size-28;
    }
  }

  .card__finished__stats__like {
    background: variables.$secondaryJ-color;
    color: variables.$old-primary-green;

    svg {
      fill: variables.$old-primary-green;
    }
  }

  .card__finished__stats__dislike {
    background: variables.$error-background;
    color: variables.$error;

    svg {
      fill: variables.$error;
    }
  }
}

@media screen and (min-width: 768px) {
  .card {
    .card_image {
      align-self: center;
      height: 100%;
      margin-bottom: 0;
      min-height: variables.$size-256;
      object-fit: cover;
    }
    .video__container {
      margin-bottom: 0;
    }
    .card__content {
      margin: 0 variables.$size-8 0 variables.$size-16;

      .card__buttons {
        .card__agreements__buttons {
          grid-template-columns: repeat(2, 1fr);
        }
        .card__agreements__buttons_no_login {
          grid-template-columns: repeat(1fr);
        }
      }
    }

    :global {
      .ant-card-body {
        grid-template-areas: "imageOrVideo cardContent";
        grid-template-columns: 45% 1fr;
        grid-template-rows: 1fr;
        padding: variables.$size-8 !important;
      }
    }
  }
}
