@use "/public/styles/variables.scss";

.proposalcardcomment-container {
  font-family: variables.$font-family-primary;
  position: relative;
  margin-bottom: variables.$size-36;
  cursor: pointer;
  :global {
    .ant-card-body:first-child {
      margin: 0;
      padding: variables.$size-8;
      width: 100%;
      height: 100%;
    }
  }
  .proposalcardcomment-title {
    text-align: left;
    width: 100%;
    font-weight: bold;
    font-size: variables.$font-size-headline;
    padding: 0 variables.$size-8;
    line-height: variables.$size-32;
    max-height: calc(variables.$size-32 * 2);
    min-height: calc(variables.$size-32 * 2);
    overflow: hidden;
  }
  .proposalcardcomment-description {
    width: 100%;
    color: variables.$text-color2;
    font-size: variables.$font-size-body;
    padding: variables.$size-8;
    line-height: variables.$size-30;
    height: calc(variables.$size-30 * 3);
    text-align: justify;
    margin-bottom: 0;
    a {
      color: variables.$old-primary-turquoise;
    }
  }
  .proposalcardcomment-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: variables.$size-20 0;
    :global .font-bold {
      font-weight: normal;
    }
    .proposalcardcomment-comment,
    & > * {
      width: max-content;
      border-radius: variables.$size-50;
      white-space: nowrap;
      padding: variables.$size-8 variables.$size-16;
      font-size: variables.$font-size-body;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: variables.$size-4;
      background-color: variables.$secondaryF-color;
      color: variables.$foregroundColor;
    }
  }
  .proposalcardcomment-closed {
    margin: 0 auto;
    margin-bottom: variables.$size-20;
    width: fit-content;
    background-color: variables.$bg-finished;
    color: variables.$old-primary-red;
    border-radius: variables.$size-50;
    padding: variables.$size-4 variables.$size-16;
  }
  .proposalcardcomment-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: variables.$size-8;
    & > * {
      width: 100%;
    }
    & > *:hover {
      transform: scale(1);
    }
  }
}
.proposalcardcomment-container:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.01);
  box-shadow: 0px variables.$size-6 variables.$size-6 rgba(0, 0, 0, 0.25);
}
.spacer {
  height: 45rem;
  font-size: 0;
}
