@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.icontextmodal {
  :global {
    .ant-modal-content {
      border-radius: variables.$size-24;
      padding: 0;
      font-family: theming.$font-family-primary;
      font-weight: bold;
      .ant-modal-body {
        padding: variables.$size-32 0 0 0;
      }
      .ant-modal-footer {
        border: none;
        padding: 0 variables.$size-32 variables.$size-32 variables.$size-32;
        & > div {
          display: flex;
          justify-content: space-evenly;
        }
        .ant-btn {
          font-weight: bold;
          font-size: variables.$font-size-body;
        }
      }
    }
  }
  & .modal-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: variables.$size-24;
    * {
      width: variables.$size-64;
      height: variables.$size-64;
      object-fit: cover;
    }
  }
  & .modal-title,
  & .modal-description {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & .modal-title {
    text-align: justify;
    font-size: theming.$font-size-h4;
    margin-bottom: variables.$size-24;
    padding: 0 variables.$size-16;
  }
  & .modal-description {
    text-align: center;
    font-size: theming.$font-size-headline;
    margin-bottom: variables.$size-32;
    padding: 0 variables.$size-24;
    line-height: variables.$size-40;
  }
}
