@use "/public/styles/variables.scss";

.logoContainer {
  height: variables.$size-56;
  width: variables.$size-48;
  position: relative;
}
$logo-sizes: (
  "large": variables.$size-72,
  // variables.$size-72
  "medium": variables.$size-56,
  // variables.$size-56
  "small": variables.$size-32,
  // variables.$size-32
);
//Proporcion 1:1
@mixin image($size) {
  width: $size;
  height: $size;
}
@each $logo-size, $size in $logo-sizes {
  .#{$logo-size} {
    @include image($size);
  }
}
