@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

// Sobreescribir el estilos del componente hecho en styled-components
.select {
  height: variables.$size-40 !important;
  border: variables.$size-2 solid theming.$strokes !important;
  border-radius: variables.$size-32 !important;
  color: theming.$text-color1 !important;
  font: theming.$font-size-callout theming.$font-family-primary !important;
  justify-content: space-between;
  max-width: variables.$size-144;
  min-width: variables.$size-144;
  padding: 0 variables.$size-16 !important;
  z-index: 10;

  &:focus-within,
  &:hover,
  &:active {
    box-shadow: none !important;
    border: variables.$size-2 solid theming.$strokes !important;
  }

  ::placeholder {
    color: theming.$foregroundColor;
    font: theming.$font-size-callout theming.$font-family-primary !important;
  }

  &[aria-expanded="true"] svg {
    transform: translate(0, -1 * variables.$size-4);
  }

  & svg {
    fill: theming.$foregroundColor;
    stroke: theming.$foregroundColor;

    &:hover {
      fill: theming.$foregroundColor !important;
      stroke: theming.$foregroundColor !important;
    }
  }

  :global {
    .react-dropdown-select-dropdown {
      width: variables.$size-144;
      z-index: 1;
    }

    .react-dropdown-select-item:hover {
      background-color: theming.$gray1;
    }

    .react-dropdown-select-item-selected {
      background: theming.$old-primary-turquoise !important;
      color: theming.$backgroundColor;
    }

    .react-dropdown-select-content {
      flex-flow: nowrap row;
      height: 100%;
      width: 90%;

      .react-dropdown-select-input {
        font: theming.$font-size-callout theming.$font-family-primary !important;
        height: 100%;
        line-height: theming.$size-40;
        margin-left: 0;
        max-width: variables.$size-48;
      }

      span {
        font: theming.$font-size-callout theming.$font-family-primary;
        line-height: theming.$size-36;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: variables.$size-2;
        white-space: nowrap;
      }
    }

    .react-dropdown-select-no-data {
      color: theming.$old-primary-turquoise;
    }

    .react-dropdown-select-input {
      // caret-color: transparent;
      // user-select: none;
      display: none;
    }

    .react-dropdown-select-dropdown-handle {
      min-width: variables.$size-16;
      max-width: variables.$size-16;
    }
  }
}

@media screen and (min-width: 768px) {
  .select {
    max-width: variables.$size-192;
    min-width: variables.$size-192;

    :global {
      .react-dropdown-select-dropdown {
        width: variables.$size-192;
      }
    }
  }
}
