@import "../../../public/styles/theming.scss";

.heatMapContainer {
  width: 500px;
  height: 550px;
}

.heatPoint {
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    rgba(33, 102, 172, 0),
    rgb(103, 169, 207),
    rgb(209, 229, 240),
    rgb(253, 219, 199),
    rgb(239, 138, 98),
    rgb(255, 201, 101)
  );
  opacity: 0.8;
  border-radius: 50%;
}

.infoText {
  min-height: 50rem;
  min-width: 50rem;
  font-weight: bold;
  color: #fff;
  font-family: $font-family-primary;
  font-size: $font-size-headline;
}
