@use "/public/styles/variables.scss";

$standard-separation-1: variables.$size-8;
$standard-separation-2: variables.$size-16;
.antd {
  :global {
    .ant-card {
      /* Auto Layout */
      display: flex;
      flex-direction: column;
      font-family: variables.$font-family-primary;
      .ant-card-cover > * {
        padding: variables.$size-8;
      }
      .ant-card-body {
        justify-content: space-between;
        padding: 0 $standard-separation-2 0 $standard-separation-2;
        margin: $standard-separation-1;
        padding: variables.$size-8;
        font-family: variables.$font-family-primary;
        justify-content: space-between;

        h1 {
          font-size: variables.$font-size-headline;
          margin: 0;
        }
        // Center buttons
        button {
          margin: auto;
        }
        // Negative margin for meta where is in body
        .ant-card-meta {
          margin-left: -$standard-separation-2;
          margin-right: -$standard-separation-2;
        }
      }
    }

    .ant-card-meta {
      min-height: variables.$size-36;
      margin: 0;
      margin-bottom: $standard-separation-1;

      .ant-card-meta-title {
        color: variables.$text-color2;
        font-weight: normal;
        font-style: normal;
        font-size: variables.$font-size-body;
        line-height: variables.$size-24;
      }
    }

    .ant-card-bordered {
      border: variables.$size-2 solid variables.$border-card-color;
      border-radius: variables.$size-12;
    }
  }
}
