@import "../../../../../../public/styles/theming.scss";

.container {
  background-color: $backgroundColor;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
}

.childContainer {
  max-width: $size-1024;
  margin: 0 auto;
  padding-top: $size-50;
  padding-bottom: $size-36;
}
