@use "/public/styles/variables.scss";
@use "/public/styles/theming.scss";

.container {
  background-color: variables.$backgroundColor;
  padding: variables.$size-16;

  .content {
    margin: 0 auto;
    max-width: 800rem;
    width: 100%;

    .back__button {
      align-items: center;
      border: 2px solid variables.$old-primary-turquoise;
      border-radius: variables.$size-12;
      display: flex;
      font: bold variables.$font-size-body variables.$font-family-primary;
      padding: variables.$size-8 variables.$size-20;

      svg {
        margin-right: variables.$size-12;
        transition: all 0.2s ease-in-out;
      }

      &:hover svg {
        transform: translate(-5rem, 0);
      }
    }

    .stepper {
      margin: variables.$size-56 auto;
      max-width: variables.$size-256;
      width: 90%;
    }

    .step {
      .step__description {
        color: variables.$text-color1;
        font: variables.$font-size-body variables.$font-family-primary;

        h2 {
          font: bold variables.$font-size-h5 variables.$font-family-primary;
          line-height: 36rem;
        }

        p {
          font: variables.$font-size-body variables.$font-family-primary;
          line-height: 28rem;
          opacity: 0.6;

          span {
            color: variables.$error;
          }
        }

        .step__error {
          color: variables.$error;
          font: bold variables.$font-size-body variables.$font-family-primary;
          margin-top: variables.$size-16;
          opacity: 1;
        }

        .switch__container {
          align-items: center;
          display: flex;

          h2 {
            margin: 0 0 0 variables.$size-16;
          }
        }
      }

      .step__error {
        color: variables.$error;
        font: bold variables.$font-size-body variables.$font-family-primary;
        margin-top: variables.$size-16;
      }

      .step__button {
        margin: variables.$size-56 auto;
        max-width: variables.$size-256;
      }

      .step__input {
        margin: variables.$size-32 0;
      }
    }
  }
  .finished {
    h2 {
      color: variables.$old-primary-green;
      font: bold variables.$font-size-h5 variables.$font-family-primary;
      line-height: 36rem;
      text-align: center;
    }
    .finished__image {
      margin: variables.$size-20 auto variables.$size-56;
      width: fit-content;
    }

    p {
      color: variables.$text-color1;
      font: variables.$font-size-headline variables.$font-family-primary;
      line-height: 28rem;
      margin: variables.$size-16 auto;
      text-align: center;
      opacity: 0.6;
    }
    button {
      margin-block: variables.$size-56 variables.$size-100;
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    .content {
      .stepper {
        max-width: variables.$size-432;
      }
    }
  }
}
