@use "/public/styles/variables.scss";
@use "/public/styles/theming.scss";

.card__announcement {
  font-family: theming.$font-family-primary;
  margin: 0 auto;
  max-width: 860rem;
  max-height: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    transform: translateY(-3rem);
  }

  .card__announcement_image {
    margin-bottom: variables.$size-8;
    object-fit: cover;
    height: variables.$size-192;
    max-height: variables.$size-192;
  }

  .card__title {
    display: -webkit-box;
    color: theming.$text-color1;
    font-weight: bold;
    font-size: theming.$font-size-headline;
    text-overflow: ellipsis;
    line-clamp: 2;
    line-height: 27rem;
    margin: calc(variables.$size-12 + variables.$size-2) 0 variables.$size-24;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .card__reception_days,
  .card__support_days,
  .card__direct_posts {
    background: variables.$secondaryJ-color;
    border-radius: 20rem;
    color: variables.$old-primary-green;
    font: variables.$font-size-callout variables.$font-family-primary;
    line-height: 21rem;
    margin: 0 auto variables.$size-24;
    padding: variables.$size-2 variables.$size-8;
    text-align: center;
    width: fit-content;
  }

  .card__finished,
  .card__evaluating_days {
    background: variables.$bg-finished;
    border-radius: 20rem;
    color: variables.$error;
    font: variables.$font-size-callout variables.$font-family-primary;
    line-height: 21rem;
    margin: 0 auto variables.$size-24;
    padding: variables.$size-2 variables.$size-8;
    text-align: center;
    width: fit-content;
  }

  .card__aproving_days {
    background: rgba(variables.$state-pending, 0.08);
    border-radius: 20rem;
    color: variables.$state-pending;
    font: variables.$font-size-callout variables.$font-family-primary;
    line-height: 21rem;
    margin: 0 auto variables.$size-24;
    padding: variables.$size-2 variables.$size-8;
    text-align: center;
    width: fit-content;
  }

  .card__content_flexible {
    display: flex;
    flex-flow: column;
    justify-content: center;

    .card__recolection_support {
      margin: 0 auto variables.$size-12;
    }
  }

  .card__items_container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: variables.$size-24;

    .card__recolection_data {
      align-items: center;
      color: variables.$strokes;
      display: flex;
      justify-content: center;
      font: bold variables.$font-size-body variables.$font-family-primary;
      margin-inline: variables.$size-12;

      svg {
        fill: variables.$strokes;
        margin-right: variables.$size-4;
        width: variables.$size-20;
      }
    }

    .card__zones_link {
      color: theming.$old-primary-green;
      cursor: pointer;
      text-align: center;
      text-decoration: underline;
      width: fit-content;
    }
  }

  .card__buttons_containers {
    align-items: center;
    display: grid;
    gap: variables.$size-8;
    grid-template-rows: 2;
    padding: 0 variables.$size-8;
  }

  :global {
    .ant-btn {
      width: 100%;
    }

    .anticon {
      margin-left: variables.$size-8;
    }

    .ant-card-body {
      margin: 0 !important;
      display: flex;
      flex-direction: column;
      padding: variables.$size-8 variables.$size-8 variables.$size-32 !important;

      div:first-child {
        max-height: calc(variables.$size-128 + variables.$size-72);
      }
    }
  }
}
