@use "/public/styles/variables.scss";
@use "/public/styles/theming.scss";

.banner {
  display: flex;
  flex-direction: column;
  min-height: variables.$size-256;
  min-width: auto;
  background-color: theming.$backgroundColor;

  .banner__content {
    align-items: center;
    background-color: theming.$old-primary-green;
    display: flex;
    justify-content: center;
    position: relative;
    width: auto;

    .banner__image {
      max-height: 50vh;
      opacity: 0.6;
      object-fit: cover;
      width: 100%;
    }

    .banner__title {
      color: theming.$backgroundColor;
      font: bold clamp(variables.$font-size-h4, 4vw, variables.$font-size-h2)
        theming.$font-family-primary;
      padding: variables.$size-12;
      position: absolute;
      text-align: center;
      text-shadow: 0 0 10px rgba(0, 0, 0, 1);
      z-index: 4;
    }
  }

  .banner__bottom {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: variables.$size-842;
    padding: variables.$size-16 variables.$size-16 variables.$size-48;
    width: 100%;

    .banner__subtitle {
      color: theming.$text-color2;
      font: 400 variables.$font-size-body variables.$font-family-primary;
      line-height: variables.$size-28;
      text-align: center;
      padding-block-end: variables.$size-16;
    }

    .banner__subtitle_finished {
      padding: 0;
    }

    .top {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-block-end: variables.$size-28;

      .back {
        align-items: center;
        color: variables.$old-primary-turquoise;
        display: flex;
        font: bold variables.$font-size-body variables.$font-family-primary;
        height: fit-content;

        svg {
          fill: variables.$old-primary-turquoise;
          height: variables.$size-20;
          margin-right: variables.$size-4;
          transition: transform 0.2s ease-in-out;
          width: variables.$size-20;
        }

        &:hover svg {
          transform: translate(-2rem, 0);
        }
      }

      .zone {
        align-items: center;
        background: variables.$state-confirmed;
        border-radius: 6rem;
        color: variables.$zones;
        display: flex;
        font: bold variables.$font-size-body variables.$font-family-primary;
        line-height: variables.$size-28;
        margin-block: variables.$size-16;
        padding: variables.$size-6 variables.$size-12;
        transition: all 0.2s ease-in-out;

        &:hover {
          box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
          cursor: pointer;
        }
      }
    }

    .not_in_zone {
      align-items: center;
      background: variables.$warn-background;
      border-radius: 6rem;
      color: variables.$warn;
      display: flex;
      font: bold variables.$font-size-body variables.$font-family-primary;
      margin: 0 auto variables.$size-16;
      padding: variables.$size-4 variables.$size-16;
      width: fit-content;

      svg {
        fill: variables.$warn;
        margin-right: variables.$size-12;
        min-width: variables.$size-20;
      }
    }

    .banner__finished,
    .banner__evaluating {
      align-items: center;
      background: variables.$bg-finished;
      border-radius: 6rem;
      color: variables.$error;
      display: flex;
      font: bold variables.$font-size-body variables.$font-family-primary;
      line-height: 21rem;
      margin: 0 0 variables.$size-16;
      padding: variables.$size-4 variables.$size-16;
      width: 100%;

      svg {
        fill: variables.$error;
        margin-right: variables.$size-12;
        min-width: variables.$size-20;
      }
      @media screen and (min-width: 425px) {
        & {
          margin: 0 auto variables.$size-16;
          width: fit-content;
        }
      }
    }

    .banner__status {
      font: bold theming.$font-size-body theming.$font-family-primary;
      margin-block-end: variables.$size-4;
      text-align: center;

      .banner__reception_days,
      .banner__direct_posts {
        color: theming.$old-primary-green;
      }

      .banner__aproving_days {
        color: theming.$state-pending;
      }
    }

    .banner__created {
      align-items: center;
      background: variables.$done-background;
      border-radius: 20rem;
      color: variables.$old-primary-green;
      display: flex;
      font: bold variables.$font-size-body variables.$font-family-primary;
      line-height: 21rem;
      justify-content: center;
      margin: variables.$size-12 auto variables.$size-40;
      padding: variables.$size-4 variables.$size-16;
      text-align: center;
      width: fit-content;

      svg {
        fill: variables.$old-primary-green;
        margin-right: variables.$size-12;
        min-width: variables.$size-20;
      }
    }
    .banner__see_description {
      color: variables.$old-primary-turquoise;
      cursor: pointer;
      font: 700 variables.$font-size-body variables.$font-family-primary;
      line-height: 27rem;
      margin: variables.$size-48 auto 0;
      text-align: center;
      width: fit-content;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .banner__buttons {
    display: grid;
    grid-template-columns: 1fr;
    gap: variables.$size-16;
    margin-block: variables.$size-16;
    button {
      transition: all 0.2s ease-in-out;
      width: 100%;
    }

    .banner__button_download svg {
      fill: variables.$foregroundColor;
      margin-left: variables.$size-12;
      min-width: variables.$size-20;
      transition: all 0.2s ease-in-out;
    }

    .banner__button_download:hover,
    .banner__button_download:active,
    .banner__button_download:focus {
      color: variables.$button-hover-color;

      svg {
        fill: variables.$button-hover-color;
      }
    }
    .banner__button,
    .banner__button_create {
      color: variables.$backgroundColor;

      &:hover,
      &:active,
      &:focus {
        color: variables.$button-hover-color;
      }
    }
  }

  .banner__buttons__direct {
    margin-block-end: 0;
  }
}

@media screen and (min-width: 425px) {
  .banner .banner__buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    button {
      width: fit-content;
    }
  }
}
