@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

//para poder ocultar el texto largo y mostras solo 2 lineas en el parrafo
.clamp {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.btn-darkcyan {
  background: variables.$btn-gradient-blue;
}

.rounded-custom {
  border-radius: variables.$size-96;
}

// darle color a cada tarjeja mediante la renderizacion por el index
.card-option-0 {
  background-color: variables.$backgroundColorSoftBlue;
}

.card-option-1 {
  background-color: variables.$backgroundColorSoftPink;
}

.card-option-2 {
  background-color: variables.$backgroundColorSoftGreen;
}
