@import "../../../../../../public/styles/theming.scss";

.section {
  width: 100%;
  border: $size-2 solid $border-creating-normative;
  border-radius: $size-16;
  padding: $size-16;
  font: $font-size-body $font-family-primary !important;
  h6 {
    font-family: $font-family-primary;
    font-size: $font-size-h6;
    color: $text-color1;
    font-weight: bold;
    margin: 0 0 $size-4 0;
  }
  p {
    font-family: $font-family-primary;
    font-size: $font-size-body;
    opacity: 0.6;
    margin: 0 0 $size-18 0;
  }
  input {
    margin-bottom: $size-36;
    width: 100%;
    max-width: $size-842;
    border: $size-2 solid $border-creating-normative;
    border-radius: $size-8;
    padding: $size-8 $size-16;
    outline: none;
    font-family: $font-family-primary;
    font-size: $font-size-body;
    color: $text-color1;
    opacity: 0.6;
    margin: 0 0 $size-18 0;
  }
  input:focus,
  input:focus-visible {
    border-color: $primaryF-color !important;
    outline: none;
  }
  button {
    margin: 0 auto;
    min-width: $size-192;
  }
}
