@use "/public/styles/variables.scss";
@use "/public/styles/theming.scss";

.user {
  background-color: variables.$backgroundColor;
  padding: variables.$size-16;
  min-height: calc(100vh - 73rem);

  .top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: variables.$size-842;

    .back {
      align-items: center;
      color: variables.$old-primary-turquoise;
      cursor: pointer;
      display: flex;
      font: bold variables.$font-size-body variables.$font-family-primary;
      height: fit-content;

      svg {
        fill: variables.$old-primary-turquoise;
        height: variables.$size-20;
        margin-right: variables.$size-4;
        transition: transform 0.2s ease-in-out;
        width: variables.$size-20;
      }

      &:hover svg {
        transform: translate(-2rem, 0);
      }
    }
  }

  .user__top {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-block: variables.$size-8 variables.$size-48;

    .user__custom__input {
      align-items: center;
      color: variables.$old-primary-turquoise;
      cursor: pointer;
      display: flex;
      font: bold variables.$font-size-callout variables.$font-family-primary;

      svg {
        display: inline;
        fill: variables.$old-primary-turquoise;
        margin-inline-end: variables.$size-4;
      }

      input {
        display: none;
      }
    }

    .user__top__content {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-block-end: variables.$size-8;
      width: 100%;

      h6 {
        font: bold variables.$font-size-h6 variables.$font-family-primary;
        line-height: variables.$size-32;
      }

      p {
        font: bold variables.$font-size-body variables.$font-family-primary;
        line-height: variables.$size-24;
        text-transform: capitalize;
      }

      :global {
        .ant-avatar {
          margin-right: variables.$size-8;
        }
      }
    }
  }

  .user__data {
    margin: 0 auto;
    max-width: variables.$size-842;
    width: 100%;

    h6 {
      color: variables.$text-color4;
      font: bold variables.$font-size-h4 variables.$font-family-primary;
      line-height: variables.$size-32;
    }

    p {
      color: variables.$text-color2;
      font: bold variables.$font-size-headline variables.$font-family-primary;
      line-height: variables.$size-28;

      span {
        color: variables.$old-primary-green;
      }
    }

    .user__data__content {
      display: grid;
      gap: variables.$size-24;
      margin-block: variables.$size-24;
    }
  }

  .user__button {
    margin: 0 auto;
    width: 100%;
  }

  .warning {
    align-items: center;
    background: variables.$warn-background;
    border-radius: 6rem;
    color: variables.$warn;
    display: flex;
    font: bold variables.$font-size-body variables.$font-family-primary;
    margin: variables.$size-16 auto 0;
    padding: variables.$size-4 variables.$size-16;
    width: fit-content;

    svg {
      fill: variables.$warn;
      margin-right: variables.$size-12;
      min-width: variables.$size-20;
    }
  }
}

@media screen and (min-width: 425px) {
  .user {
    .user__button {
      margin-block-end: variables.$size-100;
      max-width: variables.$size-308;
    }
  }
}
