@use "/public/styles/theming.scss";
.cardsContainer {
  max-width: 1200rem;
  background-color: theming.$backgroundColor;
  border-radius: theming.$size-8;
  margin-bottom: theming.$size-64;
  padding-bottom: theming.$size-48;
}

.cards_column_container {
  grid-template-columns: repeat(auto-fill, minmax(300rem, 1fr));
  gap: theming.$size-36;
}
.shared_container {
  .ant-modal-content {
    border-radius: 4px 4px 40px 40px !important;
    background-color: red;
  }
}
