@import "../../../../public/styles/theming.scss";

.relatedContentContainer {
  width: 100%;
  max-width: $size-512;
  margin: 0 auto;
  padding: $size-16;
  h6 {
    font-family: $font-family-primary;
    font-size: $font-size-h6;
    color: $old-primary-green;
    font-weight: 700;
    line-height: 33rem;
    margin-bottom: $size-24;
    text-align: center;
  }
  .Content {
    cursor: pointer;
    width: 100%;
    padding: $size-16;
    border: $size-2 solid rgba(156, 156, 156, 0.8);
    border-radius: $size-8;
    margin-bottom: $size-24;
    header {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: left;
      [class~="ant-avatar"] {
        width: $size-24;
        height: $size-24;
        margin-right: $size-8;
        img {
          width: $size-24;
          height: $size-24;
        }
      }
      .contentUser {
        color: $text-color2;
        font-family: $font-family-primary;
        font-size: $font-size-body;
        font-weight: normal;
        margin-right: $size-8;
      }
      .createdAt {
        font-family: $font-family-primary;
        color: $text-color2;
        font-weight: bold;
        font-size: $font-size-body;
      }
    }
    p {
      font-family: $font-family-primary;
      width: 100%;
      color: $text-color1;
      font-weight: bold;
      font-size: $font-size-headline;
    }
  }
}
