@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.search-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: variables.$size-2;
  border: variables.$size-2 solid theming.$strokes;
  border-radius: variables.$size-96;
  height: variables.$size-56;
  overflow: hidden;
  & > input,
  & > input:focus {
    font-size: variables.$font-size-body;
    font-family: theming.$font-family-primary;
    font-weight: bold;
    line-height: variables.$size-24;
    margin: variables.$size-16 variables.$size-16;
    width: 100%;
    border: none;
    outline: none;
  }
  & svg {
    color: theming.$old-primary-color;
    width: variables.$size-20;
    height: variables.$size-20;
    margin: 0 variables.$size-16;
    cursor: pointer;
  }
}
.search-input > input,
.search-input > input:focus {
  margin: 0;
  font-size: variables.$size-16;
  font-family: theming.$font-family-primary;
  font-weight: bold;
  line-height: variables.$size-24;
  margin: variables.$size-16 variables.$size-16;
  width: 100%;
  border: none;
  outline: none;
}
.search-input svg {
  color: theming.$old-primary-color;
  width: variables.$size-20;
  height: variables.$size-20;
  margin: 0 variables.$size-16;
  cursor: pointer;
}
