@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.upload {
  :global {
    .ant-upload-list-item-info {
      height: variables.$size-36;
      margin: variables.$size-4;
      display: flex;
      justify-content: center;
      align-items: center;
      & > span {
        height: min-content;
        position: relative;
        & > a {
          margin-left: variables.$size-4;
        }
        .ant-upload-list-item-card-actions {
          height: 100%;
          svg {
            vertical-align: unset;
          }
        }
      }
    }
  }

  width: 100%;
  .button-upload {
    font-weight: normal;
  }
}

.imageContainer {
  position: relative;
}

.deleteIcon {
  border-radius: 20px;
  cursor: pointer;
  opacity: 0.4;
  position: absolute;
  right: 5px;
  top: 3px;
  &:hover {
    opacity: 1;
    box-shadow: 1px 1px 3px white;
  }
  &:active {
    zoom: 0.9;
  }
}

.deleteIconInAttache {
  border-radius: 20px;
  cursor: pointer;
  opacity: 0.4;
  // position: absolute;
  // right: 5px;
  // top: 3px;
  &:hover {
    opacity: 1;
    box-shadow: 1px 1px 3px white;
  }
  &:active {
    zoom: 0.9;
  }
}

.imageDeleteIcon {
  height: 18px;
  width: 18px;
}

.image {
  width: 170px;
  object-fit: fill;
  // cursor: zoom-in;
  &:hover {
    // zoom: 1.2;
    box-shadow: 1px 1px 3px black;
  }
}

.deleteIconAttache {
  border-radius: 20px;
  cursor: pointer;
  opacity: 0.4;
  // position: absolute;
  // right: 10px;
  // top: 5px;
  &:hover {
    opacity: 1;
    box-shadow: 1px 1px 3px white;
  }
  &:active {
    zoom: 0.9;
  }
}

.attache {
  width: 40px;
  object-fit: fill;
  // cursor: zoom-in;
  // &:hover {
  //   box-shadow: 1px 1px 3px black;
  // }
}

.downloadFileContainer {
  // background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.downloadFileName {
  // background-color: red;
  padding-left: 10px;
}

.errorIcon {
  width: 20px;
  object-fit: fill;
}

.errorMessage {
  align-items: center;
  cursor: zoom-out;
  background-color: variables.$error-background;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  padding: 3px;
  padding-left: 10px;
  font-size: variables.$font-size-callout;
  color: variables.$old-primary-red;
}

.attachContainer {
  // background-color: red;
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 5px;
  &:hover {
    box-shadow: 1px 1px 3px black;
  }
}
