.floating > input::placeholder {
  color: transparent;
}
.floating > input:focus,
.floating > input:not(:placeholder-shown) {
  @apply pt-8;
}
.floating > input:focus ~ label,
.floating > input:not(:placeholder-shown) ~ label {
  @apply opacity-75 scale-75 -translate-y-3 translate-x-1;
}
