@import "../../../../../public/styles/theming.scss";

.shareContainer {
  width: max-content;
  margin: 0 auto;
  margin-bottom: $size-64;
  h6 {
    font-family: $font-family-primary;
    color: $text-color4;
    font-size: $font-size-h6;
    font-weight: bold;
  }
  [class~="flex-row"] {
    width: 100%;
    justify-content: space-evenly;
  }
}
