@import "../../../../../public//styles/theming.scss";

.mainNormativesContainer {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  aside {
    .Reaction {
      display: flex;
      position: sticky;
      top: $size-72;
    }
    min-width: $size-324;
  }
}
.chapterView {
  width: 100%;
  h3 {
    color: $text-color1;
    font-family: $font-family-primary;
    font-size: $font-size-h3;
    font-weight: bold;
    margin-bottom: $size-16;
  }
  h5 {
    color: $text-color1;
    font-family: $font-family-primary;
    font-size: $font-size-h5;
    font-weight: bold;
    margin-bottom: $size-16;
    word-wrap: break-word;
  }
  .chapterParagraph {
    margin-top: $size-28;
    color: $text-color2;
    font-family: $font-family-primary;
    font-size: $font-size-body;
    line-height: $size-28;
    margin-bottom: $size-36;
  }
}

.Reaction {
  display: none;
}

@media (max-width: 768px) {
  .mainNormativesContainer {
    aside {
      display: none;
    }
    .chapterView {
      .Reaction {
        display: flex;
        justify-content: center;
      }
    }
  }
}
