@import "../../../../../public/styles/theming.scss";

.wrapper {
  width: 100%;
  margin-top: $size-2;
  .elementsContainer {
    position: relative;
    border-radius: $size-8;
    background-color: #fff;
    max-width: $size-1024;
    width: 100%;
    padding: $size-4 $size-24;
    padding-top: $size-14;
    margin: $size-24 auto;
  }
  .relatedContent {
    margin-bottom: $size-24;
    @media screen and (min-width: 1024px) {
      width: calc(100% - 300px);
    }
  }
}
