@import "../../../../../public/styles/theming.scss";

.generalInfoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .leftContainer {
    flex-basis: 50%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    .createdAt {
      font-family: $font-family-primary;
      font-weight: 400;
      font-size: $font-size-body;
      color: $text-color2;
    }
    .commentsAmount {
      display: flex;
      align-items: center;
      color: $text-color4;
      font-weight: 700;
      font-family: $font-family-primary;
      font-size: $font-size-callout;
      span {
        margin-right: $size-4;
      }
    }
  }
  .rightContainer {
    flex-basis: 50%;
    flex-wrap: wrap;
    [class~="flex-row"] {
      justify-content: right;
      width: 100%;
      button {
        margin-right: $size-16;
        div {
          width: $size-24;
          height: $size-24;
          svg {
            width: 16rem;
            height: 16rem;
          }
        }
      }
    }
  }
}
