@import "../../../../../public/styles/theming.scss";

.pageSelectContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $size-32;
  .pageSelectLeft {
    cursor: pointer;
    font-family: $font-family-primary;
    font-weight: 700;
    font-size: $font-size-body;
    display: flex;
    align-items: center;
    color: $old-primary-turquoise;

    span {
      margin-right: $size-12;
    }
    a {
      display: flex;
      align-items: center;
    }
  }
  .pageSelectRight {
    cursor: pointer;
    font-family: $font-family-primary;
    font-weight: 700;
    font-size: $font-size-body;
    display: flex;
    align-items: center;
    color: $old-primary-turquoise;
    span {
      margin-left: $size-12;
    }
  }
}
