@use "/public/styles/theming.scss";
@media screen and (max-width: 425px) {
  .spacer {
    width: 100%;
    height: 10px;
  }
}
.text_link {
  color: theming.$old-primary-turquoise;
}
.main_container {
  background-color: theming.$backgroundColor;
  max-width: theming.$size-1024;
}
.main_link {
  padding-top: theming.$size-32;
  padding-bottom: theming.$size-32;
}
.main_title {
  font-size: theming.$font-size-h5;
}
.main_text_description {
  color: theming.$text-color2;
}
.rightContainer {
  // flex-basis: 50%;
  flex-wrap: wrap;
  [class~="flex-row"] {
    justify-content: right;
    width: 100%;
    button {
      margin-right: theming.$size-16;
      div {
        width: theming.$size-24;
        height: theming.$size-24;
        svg {
          width: theming.$size-16;
          height: theming.$size-16;
        }
      }
    }
  }
}
.text_date {
  color: theming.$text-color2;
}
.tex_comment {
  color: theming.$text-color4;
  font-size: theming.$font-size-callout;
}
.button_download {
  height: theming.$size-48;
  width: 382rem;
  background-color: theming.$backgroundColorGrey;
  border-radius: theming.$size-100;
  font-size: theming.$font-size-callout;
}
.button_comments {
  height: theming.$size-48;
  width: 100%;
  max-width: 382rem;
  background-color: theming.$backgroundColorGrey;
  border-radius: theming.$size-100;
  font-size: theming.$font-size-callout;
}
.input_comment hr {
  margin-bottom: theming.$size-20;
}
.input_comment h5 {
  margin-bottom: theming.$size-8;
}
.comments_status_container {
  margin-top: theming.$size-40;
}
.comments_status {
  font-size: theming.$font-size-callout;
}
.comments_number {
  color: theming.$text-color2;
}
.invitation_title {
  color: theming.$old-primary-green;
  font-size: theming.$font-size-h5;
  margin: theming.$size-40 0;
}
.center_container {
  flex-basis: 50%;
  flex-wrap: wrap;
  [class~="flex-row"] {
    justify-content: center;
    width: 100%;
    button {
      margin-right: theming.$size-16;
      div {
        width: theming.$size-40;
        height: theming.$size-40;
        svg {
          width: theming.$size-24;
          height: theming.$size-24;
        }
      }
    }
  }
}
.container_description {
  max-width: 660rem;
}
.card_title {
  color: theming.$old-primary-green;
  font-size: theming.$font-size-h6;
}
.card_date {
  color: theming.$text-color2;
  font-size: theming.$font-size-callout;
}
.card_border {
  width: 100%;
  max-width: 382rem;
  border-color: theming.$strokes;
  border-radius: theming.$size-8;
}
.card_description {
  color: theming.$secondaryS-color;
  font-size: theming.$font-size-headline;
}
.card_container {
  width: 100%;
  max-width: 390rem;
  padding-bottom: theming.$size-56;
}
.button_actions {
  width: 100%;
  max-width: 350rem;
}

.downLoadButton {
  background-color: theming.$backgroundColorGrey;
  cursor: pointer;
  width: 100%;
  padding: theming.$size-16;
  font-weight: bold;
  color: theming.$text-color1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: theming.$font-family-primary;
  font-size: theming.$font-size-callout;
  margin-bottom: theming.$size-8;
  border-radius: 100rem;
  span {
    margin-left: theming.$size-12;
    font-size: theming.$size-18;
  }
}
.bottom_bar {
  height: theming.$size-56;
  background-color: theming.$old-primary-green;
  color: theming.$backgroundColor;
  font-size: theming.$font-size-headline;
}

@media screen and (min-width: 1024px) {
  .aside_menu {
    position: absolute;
    top: -50rem;
    right: -340rem;
    height: 830rem;
  }
  .buttons_actions {
    position: sticky;
    top: theming.$size-80;
  }
  .container_description {
    margin: theming.$size-0;
  }
  .bottom_bar {
    display: none;
  }
}
