@import "../../../public/styles/theming.scss";

.textinput {
  :global {
    .ant-input {
      font-family: $font-family-primary;
    }
    .ant-input {
      font-weight: 700;
      border-radius: $size-16;
      height: $size-56;
      font-weight: 700;
      padding-top: $size-16;
    }
    .ant-input-affix-wrapper .ant-input:not(:last-child) {
      padding-right: $size-56;
      padding-inline-start: $size-36;
    }
    .anticon {
      margin-inline-start: 0;
    }
    .ant-form-item-children-icon {
      position: absolute;
      top: $size-16;
      z-index: 3;
      right: $size-36;
    }
    .ant-input:focus {
      border-color: $old-primary-turquoise !important;
    }
    .ant-input:hover {
      border-color: $old-primary-turquoise !important;
    }
  }
  .ant-input-affix-wrapper .ant-input:not(:last-child) {
    padding-right: $size-56;
    padding-inline-start: $size-36;
  }
  .anticon {
    margin-inline-start: 0rem;
  }
  .ant-form-item-children-icon {
    position: relative;
    top: $size-16;
    z-index: 3;
    right: $size-36;
  }

  .label {
    font-family: $font-family-primary;
    font-weight: 700;
    font-size: $font-size-body;
    position: relative;
    pointer-events: none;
    left: $size-32;
    top: $size-20;
    transition: 0.2s ease-in all;
  }

  .labelFloat {
    font-weight: 400;
    font-family: $font-family-primary;
    transition: 0.2s ease-in all;
    position: relative;
    left: $size-32;
    top: 0;
    font-size: $font-size-callout;
  }
}
