@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.checkbox {
  margin: variables.$size-8;
  align-items: center;

  :global {
    .ant-checkbox-inner {
      background-color: transparent;
      border-radius: variables.$size-4;
      padding: 8rem;
    }
    .ant-checkbox-disabled {
      opacity: 0.3;
    }
    .ant-checkbox-disabled.ant-checkbox-checked .ant-checkbox-inner::after {
      border-color: theming.$backgroundColor;
    }
    .ant-checkbox-input {
      margin: 0;
    }
    .ant-checkbox-checked::after {
      display: none;
      visibility: hidden;
    }
    .ant-checkbox-input:disabled {
      pointer-events: none;
    }
  }

  & > span:first-child {
    border-radius: 50%;
    padding: variables.$size-8;
    transition: all 0.3s ease-in-out;
  }
  &.primary:hover > span:first-child {
    background-color: rgba(theming.$old-primary-turquoise, 0.1);
  }
  &.primary:focus > span:first-child {
    background-color: rgba(theming.$old-primary-turquoise, 0.15);
  }
  &.primary:active > span:first-child {
    background-color: rgba(theming.$old-primary-turquoise, 0.2);
  }
  &.secondary:hover > span:first-child {
    background-color: rgba(theming.$strokes, 0.1);
  }
  &.secondary:focus > span:first-child {
    background-color: rgba(theming.$strokes, 0.15);
  }
  &.secondary:active > span:first-child {
    background-color: rgba(theming.$strokes, 0.2);
  }
  & > span:last-child {
    font: theming.$font-size-body theming.$font-family-primary;
    padding: 0 variables.$size-4;
  }
}
.primary {
  :global {
    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: theming.$old-primary-turquoise;
      // Sólo se puede sobreescribir el borde predeterminado de antd con !important
      border-color: theming.$old-primary-turquoise !important;
    }
    .ant-checkbox-inner {
      border: variables.$size-2 solid theming.$old-primary-turquoise;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
    .ant-checkbox:hover .ant-checkbox-inner,
    .ant-checkbox-input:focus + .ant-checkbox-inner {
      border-color: theming.$old-primary-turquoise;
    }
  }
}

.secondary {
  :global {
    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: theming.$strokes;
      // Sólo se puede sobreescribir el borde predeterminado de antd con !important
      border-color: theming.$strokes !important;
    }
    .ant-checkbox-inner {
      border: variables.$size-2 solid theming.$strokes;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
    .ant-checkbox:hover .ant-checkbox-inner,
    .ant-checkbox-input:focus + .ant-checkbox-inner {
      border-color: theming.$strokes;
    }
  }
}
