@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.ant-collapse > .ant-collapse-item {
  & > .ant-collapse-header:hover {
    color: theming.$old-primary-turquoise;
  }
  border: none;
}

.ant-collapse-content {
  border: none;
  & > .ant-collapse-content-box {
    padding: 0 0 0 variables.$size-32;
    margin: 0;
    //Agrega padding y margin en todos los lados, solo se dejara padding-left
  }
}
.collapse {
  background-color: theming.$backgroundColor;
  border: none;
  font-family: theming.$font-family-primary;
  font-size: variables.$font-size-headline;

  .collapse-item {
    font-size: variables.$font-size-body;
  }
}
