@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.filter__container {
  background-color: variables.$backgroundColor;
  border-radius: calc(variables.$size-8 + variables.$size-2);
  display: flex;
  flex-direction: column;
  padding: variables.$size-16 variables.$size-16 variables.$size-48;
  row-gap: variables.$size-16;
  margin: 0 auto variables.$size-48;
  width: 100%;
}

.filter__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270rem, 1fr));
  gap: variables.$size-36;
  width: 100%;

  & > a {
    height: 100%;
    max-width: 100%;

    & > div {
      height: 100%;
    }
  }

  .no__results {
    font: theming.$font-size-body theming.$font-family-primary;
    text-align: center;
  }

  .loading,
  .no__results {
    grid-column: 1 / -1;
  }

  .loading {
    margin: 0 auto;
  }

  :global {
    .ant-card {
      height: 100%;

      .ant-card-body {
        height: 100%;
      }
    }
  }
}

.filters {
  display: grid;
  gap: variables.$size-16;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 1;
  margin: 0 auto variables.$size-24;
  justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .filter__container {
    width: 90%;
    max-width: 1200rem;
  }
}
