@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.modal {
  border-radius: variables.$size-32;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: calc(variables.$size-256 + variables.$size-128);
  overflow: hidden;
  padding: 0;
  text-align: center;
  width: 90%;

  .warning {
    align-items: center;
    background: variables.$warn-background;
    border-radius: 6rem;
    color: variables.$warn;
    display: flex;
    font: bold variables.$font-size-body variables.$font-family-primary;
    line-height: variables.$size-24;
    margin-block-end: variables.$size-24;
    padding: variables.$size-4 variables.$size-8;
    width: 100%;

    svg {
      fill: variables.$warn;
      margin-right: variables.$size-6;
      min-width: variables.$size-20;
    }
  }

  h6 {
    font: bold variables.$font-size-h5 variables.$font-family-primary;
    margin: 0 0 variables.$size-16;
  }

  .text {
    font: bold variables.$font-size-headline variables.$font-family-primary;
    margin: 0 0 variables.$size-8;
    text-align: left;
  }

  & > div button {
    margin: 0 variables.$size-8;
  }

  .autocomplete {
    :global {
      .ant-select-auto-complete {
        width: 100%;

        .ant-input-affix-wrapper .ant-input {
          width: 100%;
        }
      }
    }
  }

  .radioGroup {
    :global {
      .ant-radio-group {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto variables.$size-12;
      }

      .ant-radio-wrapper {
        font: bold variables.$font-size-body variables.$font-family-primary;
        margin-block-end: variables.$size-16;

        .ant-radio-inner {
          border: 1rem solid variables.$foregroundColor;
        }
      }

      .ant-radio-wrapper-checked {
        color: variables.$old-primary-turquoise;

        .ant-radio-inner {
          border-color: variables.$old-primary-turquoise;

          &:after {
            background: variables.$old-primary-turquoise;
          }
        }
      }
    }
  }

  .error {
    color: variables.$error;
    font: bold variables.$font-size-body variables.$font-family-primary;
    margin: variables.$size-12 0;
  }

  :global {
    .ant-modal-content {
      padding: variables.$size-24 variables.$size-20;
    }

    .ant-modal-body {
      padding: 0;
    }

    .ant-modal-footer {
      border-top: none;
      display: flex;
      justify-content: center;
      padding: variables.$size-24 0 0;

      button {
        align-items: center;
        border: none;
        color: theming.$old-primary-turquoise;
        display: flex;
        font: bold theming.$font-size-headline theming.$font-family-primary;
      }

      button:last-child {
        position: relative;

        &::after {
          content: ">";
          font-family: monospace;
          position: absolute;
          right: 0;
          transition: all 0.2s ease-in-out;
        }

        &:hover::after {
          transform: translate(variables.$size-4, 0);
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .modal {
    max-width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: calc(variables.$size-256 + variables.$size-128);
  }
}
