@import "../../../../../../../../public/styles/theming.scss";

.addingContainer {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.3);
  z-index: 120;
  display: flex;
  align-items: center;
  justify-content: center;
  .inputContainer {
    width: 100%;
    max-width: $size-1024;
    border: $size-2 solid $border-creating-normative;
    background-color: $backgroundColor;
    padding: $size-18;
    border-radius: $size-16;
    header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .close {
        display: flex;
        align-items: flex-start;
        cursor: pointer;
        font-size: $font-size-h5;
        color: $foregroundColor;
      }
      h6 {
        font-family: $font-family-primary;
        font-size: $font-size-h6;
        color: $text-color1;
        font-weight: bold;
        margin: 0 0 $size-4 0;
      }
    }
    input {
      margin-bottom: $size-36;
      width: 100%;
      max-width: $size-842;
      border: $size-2 solid $border-creating-normative;
      border-radius: $size-8;
      padding: $size-8 $size-16;
      outline: none;
      font-family: $font-family-primary;
      font-size: $font-size-body;
      color: $text-color1;
      opacity: 0.6;
      margin: 0 0 $size-18 0;
    }
    input:focus,
    input:focus-visible {
      border-color: $primaryF-color !important;
      outline: none;
    }
    button {
      margin: 0 auto;
    }
  }
}
