@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.container_card_dashboard {
  gap: variables.$size-36;
}

.filter_select {
  gap: variables.$size-10;

  div {
    min-height: variables.$size-56;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    [class~="react-dropdown-select"]
      [class~="react-dropdown-select-dropdown"]
      span {
      width: 100%;
    }
  }
}

.filter_button {
  padding: variables.$size-16;
  font-weight: bold;
}

.card__button {
  padding: variables.$size-16;
  font-weight: bold;
  width: 95%;
}

.filter_button_span {
  margin-left: variables.$size-10;
  margin-top: variables.$size-1;
  font-size: variables.$size-24;
  font-weight: "lighter";
}

.button_card_span_image {
  margin-left: variables.$size-10;
  margin-top: variables.$size-1;
  font-size: variables.$size-24;
  margin-top: variables.$size-10;
}

.filter__container {
  background-color: variables.$backgroundColor;
  display: flex;
  flex-direction: column;
  padding: variables.$size-16 variables.$size-36 variables.$size-48;
  row-gap: variables.$size-16;
  margin-bottom: variables.$size-48;
}

.title_welcome {
  font-size: variables.$font-size-h6;
  color: variables.$primaryF-color;
  font-weight: bold;
  margin-top: variables.$size-20;
  margin-bottom: variables.$size-20;
}

.header {
  background-color: variables.$backgroundColor;
  padding: variables.$size-24 variables.$size-40 variables.$size-16;
}

.no__results {
  font: theming.$font-size-body theming.$font-family-primary;
  text-align: center;
}

.title_banner_0 {
  text-align: center;
  font-weight: bold;
  font-size: variables.$font-size-h6;
}

.title_banner_1 {
  font-weight: bold;
  font-size: variables.$font-size-h6;
}

.prev__content_imagen {
  align-items: center;
  background-color: variables.$old-primary-green;
  display: flex;
  justify-content: center;
  position: relative;
  margin: auto;
  margin-top: variables.$size-40;

  .prev__imagen {
    max-height: 60vh;
    opacity: 0.6;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
  }
}

.prev_date {
  font: variables.$font-size-body variables.$font-family-primary;
  line-height: variables.$size-28;
  font-weight: bold;
  text-align: justify;
  text-align: center;
  margin-top: 30px;
  color: variables.$old-primary-green;
}

.prev__dates {
  list-style: inherit;
  margin-left: variables.$size-32;
  margin-bottom: variables.$size-48;
}

.title__proposal {
  font-weight: bold;
  font-size: variables.$font-size-h4;
}

.zona_detail {
  font-weight: normal;
  font-size: variables.$size-12;
  padding: variables.$size-8 variables.$size-16;
  background-color: variables.$backgroundColorGrey;
  border-radius: variables.$size-20;
  margin-right: variables.$size-20;
  color: variables.$text-color2;
}

.date_detail {
  font-weight: normal;
  font-size: variables.$size-16;
  line-height: variables.$size-28;
  margin-top: variables.$size-4;
  margin-right: variables.$size-20;
  color: variables.$text-color2;
}

.recepcion_detail {
  font-weight: normal;
  text-align: center;
  color: variables.$text-color2;
}

.list__proposals__container {
  border: 1px solid variables.$backgroundColorGrey;
  border-radius: variables.$size-10;
  padding: variables.$size-10;
  position: relative;
}

.link__add__comunnicate {
  top: variables.$size-24;
  position: absolute;
  right: variables.$size-16;
  color: variables.$old-primary-turquoise;
  font-size: variables.$size-14;
  font-weight: bold;
  cursor: pointer;
  z-index: 500;
}

.title__staticstis {
  font-size: variables.$size-24;
  color: variables.$old-primary-green;
  font-weight: bold;
}

.proposal__botonera {
  display: flex;
  gap: variables.$size-32;
  justify-content: center;
  margin-bottom: variables.$size-40;
  margin-top: variables.$size-20;
}

.proposal__user {
  display: flex;
  gap: variables.$size-20;
  margin-bottom: variables.$size-28;
}

.proposal__description {
  font-style: normal;
  font-weight: normal;
  font-size: variables.$size-16;
  line-height: variables.$size-28;
  color: variables.$text-color1;
  opacity: 0.6;
}

.container__map {
  width: 80%;

  div {
    width: 100%;
    display: flex;
  }
}

.modalCreatedSuccessfully {
  align-items: center;
  position: absolute;
  background-color: white;
  box-shadow: 2px 2px 10px #cdcfd1;
  border-radius: 12;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 276px;
  justify-items: center;
  left: 35%;
  padding: 10;
  top: 25vh;
  width: 404px;
  z-index: 31;
}

.imagen_convocatoria {
  cursor: pointer;
}

.dashboardCard {
  :hover {
    box-shadow: 0px 5px 15px rgb(0 0 0 / 25%);
    transform: translateY(-3rem);
  }
}

.filter_table {
  position: absolute;
  display: flex;
  gap: variables.$size-10;
  div {
    min-height: variables.$size-48;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    [class~="react-dropdown-select"]
      [class~="react-dropdown-select-dropdown"]
      span {
      width: 100%;
    }
  }
}

.btn_actualizar {
  position: absolute;
  right: 10px;
  top: 57px;
}

.cards__announcement {
  display: flex;
  flex-wrap: wrap;
  margin-right: -25px;
  margin-left: -25px;

  .cards__container_announcement {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 25px;
  }
}

.userdata {
  display: flex;
  align-items: center;

  img {
    width: variables.$size-40;
    height: variables.$size-40;
    border: 1px solid #0005;
    border-radius: 50%;
    margin-right: 5px;
  }
  span {
    color: variables.$text-color2;
    font-size: variables.$font-size-small;
  }
}

.userdate {
  color: variables.$text-color2;
  font-size: variables.$font-size-small;

  .tag__approvated {
    margin-left: variables.$size-20;
    padding: variables.$size-8;
    padding-bottom: variables.$size-4;
    background: variables.$secondaryJ-color;
    border-radius: variables.$size-32;
    color: variables.$old_primary-color;
  }
}

.td_complaints {
  display: flex;
  color: variables.$text-color3;
  justify-content: center;
  span {
    margin-left: 5px;
  }

  .likes {
    svg {
      fill: green;
    }
  }

  .dislikes {
    svg {
      fill: red;
    }
  }

  .comments {
    svg {
      fill: grey;
    }
  }
}

.title__modal__quit {
  font-weight: bold;
  font-size: variables.$size-24;
  line-height: variables.$size-32;
  text-align: center;
}

.step__description {
  font: variables.$font-size-body variables.$font-family-primary;
  line-height: variables.$size-28;
  opacity: 0.6;
  font-weight: 400;
  text-align: justify;
}

.not__evaluate {
  opacity: 0.3;
}

.video__container {
  margin: variables.$size-32 0;
  position: relative;
  padding-top: 56.25%;
  width: 100%;
}

@media (max-width: 991px) {
  .cards__announcement {
    .cards__container_announcement {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

@media (min-width: 992px) {
  .cards__announcement {
    .cards__container_announcement {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  }
}

@media (min-width: 1600px) {
  .cards__announcement {
    .cards__container_announcement {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
}

@media (min-width: 2400px) {
  .cards__announcement {
    .cards__container_announcement {
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
}
