@import "../../../../../public/styles/theming.scss";

.container {
  width: 100%;
  margin-bottom: $size-32;
}

.controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .leftButtons {
    display: flex;
    align-items: center;
    .button {
      cursor: pointer;
      border-radius: $size-8;
      padding: $size-8 $size-16;
      display: flex;
      align-items: center;
      margin-right: $size-24;
      color: $foregroundColor;
      font-family: $font-family-primary;
      font-weight: 400;
      font-size: $font-size-callout;
      background-color: $backgroundColorGrey2;
      span[role="img"] {
        margin-right: $size-12;
        color: $foregroundColor;
      }
    }
    .textHeader {
      color: $text-color1;
      font-family: $font-family-primary;
      font-weight: bold;
      font-size: $font-size-headline;
    }
  }
  .rightButtons {
    display: flex;
    align-items: center;
    font-family: $font-family-primary;
    color: $text-color2;
    font-size: $font-size-callout;
    font-weight: 400;
    svg {
      margin-left: $size-12;
    }
  }
  margin-bottom: $size-36;
}

.stepperContainer {
  max-width: $size-768;
  margin: 0 auto;
}
