@import "../../../../../../public/styles/theming.scss";

.section {
  font: $font-size-body $font-family-primary !important;
  width: 100%;
  border: $size-2 solid $border-creating-normative;
  border-radius: $size-16;
  padding: $size-16;
  margin-bottom: $size-40;
  h6 {
    font-family: $font-family-primary;
    font-size: $font-size-h6;
    color: $text-color1;
    font-weight: bold;
    margin: 0 0 $size-4 0;
  }
  p {
    font-family: $font-family-primary;
    font-size: $font-size-body;
    color: $text-color1;
    opacity: 0.6;
    margin: 0 0 $size-18 0;
  }
  button {
    min-width: max-content;
  }
  .addChaptersElsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .addButton {
      cursor: pointer;
      width: max-content;
      border: solid $size-2 $primaryF-color;
      border-radius: $size-8;
      padding: $size-8 $size-24;
      color: $old-primary-turquoise;
      font-family: $font-family-primary;
      font-size: $font-size-body;
      font-weight: bold;
      margin-bottom: $size-96;
    }
  }
  [class~="ant-card"] {
    .ant-card-body {
      textarea {
        display: none !important;
      }
    }
  }
}

.bottomButtons {
  display: flex;
  align-items: center;
  .endLatter {
    cursor: pointer;
    font-family: $font-family-primary;
    font-size: $font-size-body;
    font-weight: bold;
    color: $old-primary-turquoise;
    margin-left: $size-24;
    flex-basis: 50%;
  }
  .buttonContainer {
    flex-basis: 50%;
    transform: translateX(-50%);
    button {
      width: $size-256 !important;
      margin: 0 auto;
    }
  }
}

.addingContainer {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.3);
  z-index: 120;
  display: flex;
  align-items: center;
  justify-content: center;
  .inputContainer {
    width: 100%;
    max-width: $size-1024;
    border: $size-2 solid $border-creating-normative;
    background-color: $backgroundColor;
    padding: $size-18;
    border-radius: $size-16;
    header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .close {
        display: flex;
        align-items: flex-start;
        cursor: pointer;
        font-size: $font-size-h5;
        color: $foregroundColor;
      }
      h6 {
        font-family: $font-family-primary;
        font-size: $font-size-h6;
        color: $text-color1;
        font-weight: bold;
        margin: 0 0 $size-4 0;
      }
    }
    input {
      margin-bottom: $size-36;
      width: 100%;
      max-width: $size-842;
      border: $size-2 solid $border-creating-normative;
      border-radius: $size-8;
      padding: $size-8 $size-16;
      outline: none;
      font-family: $font-family-primary;
      font-size: $font-size-body;
      color: $text-color1;
      opacity: 0.6;
      margin: 0 0 $size-18 0;
    }
    input:focus,
    input:focus-visible {
      border-color: $primaryF-color !important;
      outline: none;
    }
    button {
      margin: 0 auto;
    }
  }
}

.chapterEL {
  border: $size-2 solid $border-creating-normative;
  border-radius: $size-16;
  padding: $size-16;
  width: 100%;
  max-width: $size-842;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $size-8;
  margin-bottom: $size-16;
  .leftEl {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 83%;
    .title {
      font-family: $font-family-primary;
      font-size: $font-size-body;
      font-weight: bold;
      color: $old_primary-color;
    }
    .dataVisual {
      font-family: $font-family-primary;
      font-size: $font-size-callout;
      font-weight: bold;
      color: $text-color2;
    }
  }
  .rightEl {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    .deleteButton {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      width: max-content;
      align-items: center;
      font-family: $font-family-primary;
      font-size: $font-size-callout;
      font-weight: normal;
      color: $error;
      svg {
        margin-left: $size-8;
      }
      margin-bottom: $size-8;
    }
    .addChaptersButton {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-family: $font-family-primary;
      font-size: $font-size-callout;
      font-weight: bold;
      color: $primaryF-color;
      span[role="img"] {
        margin-left: $size-12;
      }
    }
  }
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: $size-32;
  .volverButton {
    display: flex;
    align-items: center;
    font-family: $font-family-primary;
    padding: $size-6 $size-16;
    border-radius: $size-8;
    gap: $size-14;
    color: $text-color1;
    background-color: $backgroundColorGrey2;
    margin-right: $size-16;
    font-size: $font-size-callout;
  }
  .status {
    font-family: $font-family-primary;
    font-size: $font-size-body;
    color: $old_primary-color;
    font-weight: bold;
  }
}
