@use "/public/styles/theming.scss";

.saving {
  font-weight: 400;
  font-size: theming.$font-size-callout;
  :global {
    .ant-spin {
      color: theming.$old-primary-turquoise;
    }
    .ant-spin-dot-item {
      background-color: theming.$old-primary-turquoise;
    }
  }
}
