.banner-module {
  padding: 30px 40px;
}

.logos-container {
  background-color: #fff;
  min-height: calc(100vh - 72px);
  border-top: solid 1px #0001;
}

.cropper {
  position: relative;
  top: 0;
  left: 50%;
  width: 432px;
  height: 259.2px;
  transform: translateX(-50%);
}

.section-buttons {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 0;
}

.zoom-buttons {
  display: flex;
  margin-top: -15px;
  justify-content: center;
}

.custom-buttons,
.custom-buttons:hover,
.custom-buttons:active,
.custom-buttons:focus {
  background: #009eb9 !important;
  color: #fff;
  border: 0;
  outline: 0;
  margin: 0 5px;
}

.custom-upload {
  border-radius: 20px;
  outline: dashed 2px #0005;
  outline-style: dashed;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  width: 320px;
  height: 86.4px;
  background-color: #0001;
  color: #000;

  &:hover {
    outline-color: #009eb9;
    color: #009eb9;
  }

  input {
    display: none;
  }
}

.custom-upload.landing-sizes {
  width: 320px;
  height: 108px;
}

.banners-item {
  margin-bottom: 25px;

  h4 {
    color: #198565;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 15px;
  }
}

.with-image {
  background-size: cover;
  color: #0000;
  outline: solid 1px #0009;
  position: relative;

  &::before {
    content: "";
    overflow: hidden;
    border-radius: inherit;
    position: absolute;
    inset: 0;
  }

  &:hover {
    color: #0000;
    outline-color: #0009;
  }

  &:hover::before {
    content: "Editar Imagen";
    background-color: #0007;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }
}

.carroucel-images {
  display: flex;
  flex-wrap: wrap;
}

.carroucel-item {
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;

  & > i {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 0 20px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    &:hover {
      background-color: #ececec;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.dimenssion-logos {
  font-size: 15rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
  margin: 7px 0;
  color: #0008;
}
