@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.titles__staticstis {
  margin: variables.$size-20 0 variables.$size-14;
  color: variables.$old-primary-green;
  font-weight: bold;
}

.section__container {
  .titles__staticstis {
    margin: variables.$size-20 0 variables.$size-14;
  }
  .section__cards {
    gap: 10px;
    .stats__container {
      width: 240px;
    }
    .stats__subtitle {
      width: 100%;
      h2 {
        font-size: variables.$size-16;
        margin-bottom: variables.$size-10;
      }
    }
  }
  .url__section {
    display: flex;
    color: variables.$text-color5;
    margin-top: variables.$size-16;

    svg {
      margin-left: variables.$size-10;
    }
  }
}

.stats__subtitle {
  color: #000b;
  font-size: variables.$size-16;
  margin: variables.$size-16 0 variables.$size-14;
}
