@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.modal {
  border-radius: variables.$size-32;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: calc(variables.$size-256 + variables.$size-128);
  overflow: hidden;
  padding: 0;
  text-align: center;
  width: 90%;

  h4 {
    color: variables.$text-color4;
    font: bold variables.$font-size-h5 variables.$font-family-primary;

    span {
      color: variables.$old-primary-green;
    }
  }

  & > div button {
    margin: 0 variables.$size-8;
  }

  :global {
    .ant-modal-content {
      padding: variables.$size-16 variables.$size-28;
    }

    .ant-modal-body > div {
      margin: 0 auto variables.$size-12;
      width: fit-content;
    }

    .ant-modal-footer {
      border-top: none;
      display: flex;
      justify-content: center;
      padding-top: 0;

      button {
        align-items: center;
        border: none;
        color: theming.$old-primary-turquoise;
        display: flex;
        font: bold theming.$font-size-headline theming.$font-family-primary;
      }

      button:last-child {
        position: relative;

        &::after {
          content: ">";
          font-family: monospace;
          position: absolute;
          right: 0;
          transition: all 0.2s ease-in-out;
          //top: -variables.$size-1;
        }

        &:hover::after {
          transform: translate(variables.$size-4, 0);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .modal {
    max-width: 90%;
  }
}
