@use "/public/styles/variables.scss";

.carousel {
  .carousel-item {
    & > * {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  :global {
    .slick-list {
      max-height: 100%;
    }
    .slick-dots-bottom {
      bottom: variables.$size-24;
    }
    .slick-dots {
      li button,
      li.slick-active button {
        width: variables.$size-12;
        height: variables.$size-12;
        border-radius: 50%;
        opacity: 0.8;
      }
      li.slick-active button {
        background: variables.$btn-gradient-red;
      }
      li button {
        background: variables.$warn-background;
      }
    }
  }
}
