@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.commentField {
  font-family: theming.$font-family-primary;
  font-weight: 700;

  :global {
    .ant-avatar {
      height: 40px;
      width: 43.2px;
    }
    .ant-input {
      display: flex;
      align-items: center;
      border-radius: variables.$size-48;
      height: variables.$size-42;
    }

    .with-file > .ant-input {
      padding-right: 110rem !important;
    }

    .ant-input-affix-wrapper .ant-input:not(:last-child) {
      padding-right: 80rem;
    }

    .ant-input-affix-wrapper {
      .ant-input-suffix {
        span {
          padding-right: variables.$size-12;
          height: 100%;
          .ant-upload {
            display: flex;
            align-items: center;
          }
        }
      }
    }

    .anticon svg {
      width: variables.$size-24;
      height: variables.$size-24;
      cursor: pointer;
    }

    .ant-input:focus {
      border-color: theming.$old-primary-turquoise !important;
    }

    .ant-input:hover {
      border-color: theming.$old-primary-turquoise !important;
    }
  }
}

.uploadNoData {
  display: flex;
  margin: auto;
  span[role="img"] {
    margin-right: 0 !important;
  }
}

.avatarContainer {
  margin-right: variables.$size-4;
  span {
    img {
      max-width: variables.$size-64;
      max-height: variables.$size-64;
    }
  }
}
.uploadFile[role="figure"] {
  background-color: variables.$old-primary-turquoise;
  color: #fff;
  margin-right: 8px;
}

.uploadFile {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;

  span {
    padding: 0 !important;
  }

  input {
    display: none;
  }
}

.content {
  display: flex;
  gap: 8px;
  align-items: center;
  align-self: center;
}

.commentField hr {
  border: none;
  height: variables.$size-2;
  background: rgba(156, 156, 156, 0.4);
}

.title + hr {
  height: 1rem;
  background: #9c9c9ccc;
  margin-bottom: 16rem;
}

.title {
  color: theming.$secondaryS-color;
  font-size: theming.$font-size-h5;
  font-weight: 700;
  text-align: center;
  margin-top: 0 !important;
  padding: 0 !important;
}

div.ant-upload-list {
  display: none;
}

@media (max-width: 426px) {
  .content {
    .avatarContainer {
      display: none;
    }
  }
}
