@import "../../../../public/styles/theming.scss";
@import "../../../../public/styles/variables.scss";

.color_green {
  color: $old-primary-green;
  line-height: 33rem;
}
.color_blue {
  color: $text-color5;
  line-height: 27rem;
}

.color_subt {
  color: $text-color2;
  line-height: 27rem;
}
.navSpacer {
  height: $size-72;
  max-height: $size-72;
  min-height: $size-72;
  background-color: transparent;
  display: block;
  margin-bottom: $size-1;
}

.navContainerAdmin {
  width: 100%;
  background-color: $backgroundColorAdmin;
  padding: 0;
  z-index: 20;
  max-height: $size-72;
  min-height: $size-72;
  padding: 0 $size-24;
  position: sticky;
  top: 0;
  .navBarAdmin {
    min-width: 100%;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    max-height: $size-72;
    min-height: $size-72;
  }
  h6 {
    color: $text-color1;
    font-family: $font-family-primary;
    font-size: $font-size-h6;
    font-weight: bold;
    margin: 0;
  }
  .adminControls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: max-content;
    .notificationAdmin {
      height: $size-18;
      margin: 0 $size-50 0 $size-32;
    }
    span[role="img"] {
      margin-right: $size-8;
      font-size: $size-20;
    }
    .controlToggle {
      font-family: $font-family-primary;
      font-size: $font-size-body;
      font-weight: bold;
      color: $text-color1;
      margin-right: $size-10;
    }
  }
  .adminMenuDropdown {
    z-index: 20;
    box-shadow: $shadow-basic2;
    top: $size-72;
    right: $size-24;
    display: block;
    position: absolute;
    width: $size-176;
    padding: $size-16 $size-16 $size-8 $size-16;
    width: 100%;
    background: $backgroundColor;
    width: max-content;
    border-radius: 0 0 $size-8 $size-8;
    span {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      word-wrap: break-word;
      margin-bottom: $size-12;
      a {
        font-family: $font-family-primary;
        width: 100%;
        color: $text-color1;
        font-weight: bold;
        font-size: $font-size-body;
        opacity: 0.7;
      }
    }
  }
}

.navSpacer {
  width: 100%;
  max-height: $size-72;
  min-height: $size-72;
  height: $size-72;
}

.navContainer {
  width: fit-content;
  background-color: $backgroundColor;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 20;
  max-height: $size-72;
  width: 100%;

  .navBar {
    width: 100%;
    display: flex;
    align-items: center;
    height: 72rem;
    justify-content: space-between;
    padding: $size-4 $size-24 $size-4 $size-24;
    width: 100%;
    img {
      height: $size-56;
    }
    .fullWidthElementsContainer {
      display: none;
    }
    .elementsContainer {
      font-family: $font-family-primary;
      font-weight: 700;
      font-size: $font-size-body;
      display: flex;
      align-items: center;
      height: 100%;
      .statusIcons {
        display: flex;
        align-items: center;
        .notificationIcon {
          width: $size-30;
          margin-right: $size-8;
          height: $size-30;
        }
        .userIcon {
          border-radius: 50%;
          height: $size-48;
          width: $size-48;
        }
      }
      .menuButton {
        align-items: center;
        cursor: pointer;
        display: flex;
        height: 100%;
        justify-content: flex-end;
        margin-left: $size-8;
        width: $size-80;
        img {
          height: $size-16;
          margin-left: $size-8;
        }
        span {
          margin-left: $size-8;
        }
      }
    }
  }
}
.menuElContainer {
  box-shadow: $shadow-basic2;
  top: $size-72;
  right: 0;
  display: block;
  position: absolute;
  width: $size-176;
  padding: $size-8 $size-16 $size-16 $size-16;
  width: 100%;
  background: $backgroundColor;
  width: max-content;
  border-radius: 0 0 $size-8 $size-8;
  span {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    word-wrap: break-word;
    margin-bottom: $size-12;
    a {
      font-family: $font-family-primary;
      width: 100%;
      color: $text-color1;
      font-weight: bold;
      font-size: $font-size-body;
      opacity: 0.7;
    }
  }
  .menuLogginButton {
    width: 70%;
    word-wrap: break-word;
    margin-top: $size-12;
    a {
      color: $old-primary-green;
      opacity: 1;
    }
  }
}

.menuElhidden {
  display: none;
}

.hr {
  border-color: $strokes;
  border-width: $size-1;
  border-radius: $size-12;
}

@media (min-width: 1024px) {
  .navContainer {
    -webkit-box-shadow: $shadow-basic;
    -moz-box-shadow: $shadow-basic;
    box-shadow: $shadow-basic;
    .navBar {
      img {
        height: $size-64;
      }
      justify-content: flex-start;
      .fullWidthElementsContainer {
        font-family: $font-family-primary;
        margin-left: $size-16;
        display: flex;
        width: 100%;
        justify-content: space-between;
        .menuItemsContainer {
          display: flex;
          align-items: center;
          span {
            a {
              font-family: $font-family-primary;
              font-size: $font-size-callout;
              color: $text-color2;
              font-weight: normal;
              padding: $size-8 $size-8;
            }
            a.menuItemSelected {
              background: rgba($text-color3, 0.4);
              color: $text-color1;
              border-radius: $size-12;
            }
          }
        }
        .itemsContainer {
          display: flex;
          align-items: center;
          .alertItem {
            width: $size-48;
            height: $size-48;
            background: rgba($text-color3, 0.4);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin-right: $size-16;
            img {
              width: $size-20;
            }
          }
          .userIcon {
            border-radius: 50%;
            height: $size-48;
            width: $size-48;
          }
        }
      }
      .elementsContainer {
        display: none;
      }
    }
  }
}

@media (min-width: 1200px) {
  .navContainer {
    .navBar {
      img {
        height: $size-64;
      }
      justify-content: flex-start;
      .fullWidthElementsContainer {
        font-family: $font-family-primary;
        margin-left: $size-16;
        display: flex;
        width: 100%;
        justify-content: space-between;
        .menuItemsContainer {
          display: flex;
          align-items: center;
          span {
            a {
              font-family: $font-family-primary;
              font-size: $font-size-callout;
              color: $text-color2;
              font-weight: normal;
              padding: $size-8 $size-16;
            }
            a.menuItemSelected {
              background: rgba($text-color3, 0.4);
              color: $text-color1;
              border-radius: $size-12;
            }
          }
        }
        .itemsContainer {
          display: flex;
          align-items: center;
          .alertItem {
            width: $size-48;
            height: $size-48;
            background: rgba($text-color3, 0.4);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin-right: $size-16;
            img {
              width: $size-20;
            }
          }
          .userItem {
            width: $size-48;
            height: $size-48;
            background: rgba($text-color3, 0.4);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            svg {
              width: $size-20;
              color: $text-color1;
            }
          }
        }
      }
      .elementsContainer {
        display: none;
      }
    }
  }
}
@media (max-width: 400px) {
  .navContainer {
    .navBar {
      padding: $size-4 $size-16;
    }
    .elementsContainer {
      a {
        button {
          max-height: $size-36;
          margin-left: $size-8;
          padding: 0 $size-16;
        }
      }
    }
  }
}
@media (max-width: 370px) {
  .elementsContainer {
    a {
      button {
        max-height: $size-32;
        margin-left: $size-12;
        padding: 0 $size-12;
        font-size: $font-size-callout;
      }
    }
  }
  .navSpacer {
    height: $size-72;
    max-height: $size-72;
    min-height: $size-72;
    background-color: transparent;
    display: block;
  }
}
