@import url(tailwindcss/tailwind.css);
@import './theming.scss';
@import './variables.scss';
@import './typographies.scss';
@import '../fonts/fonts.scss';

html{
  font-size: 6.25%;
  scroll-behavior: smooth;
}

body{
  background-color: $backgroundColorGrey;
  font-family: "Muller", 'Noto Sans Display', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

[id] {
  scroll-margin-block-start: $size-100;
}

.custom-date-picket-dw {
  top: 332px !important;

  .ant-calendar-range > .ant-calendar-input-wrap {
    display: none;
  }
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
  display: none;
}

.ant-message-custom-content {
  display: flex;
  align-content: center;
}

.text-capitalize {
  text-transform: capitalize;
}

.error_message {
  color: #fe4752;
  font-size: 14rem;
  margin-top: 2px;
  padding-left: 8px;
}

.modalBackground {
  position: fixed;
  background: black;
  opacity: 0.2;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;  
}

.custom-confirm-modal {
 .ant-btn.ant-btn-primary {
    background-color: $state-error_advice;
    color: #fff;
    border: 0;
    outline: 0;
    margin: 0 5px;

    &:hover, &:active, &:focus {
      background-color: $state-error_advice;
      color: #fff;
      border: 0;
      outline: 0;
    }
 }

  .ant-btn:hover, .ant-btn:active, .ant-btn:focus {
    color: inherit;
    border-color: inherit;
  }

  .ant-modal-content {
    border-radius: 20px
  }
}
.simple-modal .ant-modal-content {
  border-radius: 20px
}

button .x-small {
  font-size: $size-13;
}

.success-confirm {
 .ant-btn.ant-btn-primary {
    background: $old-primary-turquoise;

    &:hover, &:active, &:focus {
      background: $old-primary-turquoise;
    }
  }
 }

.ant-menu-submenu-hidden ul {
  display: none !important;
}

.user-tabs .ant-tabs-bar {
  border: 0;
}


.ant-table-placeholder .ant-empty-image {
  display: flex;
  justify-content: center;
}

.notification-popover{
  &.ant-popover {
    position: fixed;
  }

  .ant-popover-inner-content {
    padding: 0;
  }
}

.ant-notification-notice-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.c-turquoise {
  color: $old-primary-turquoise;
}

.c-grey {
  color: $text-color2;
}
.c-primary {
  color: $old-primary-green;
}

.ant-radio-checked .ant-radio-inner,
.ant-radio-wrapper:hover .ant-radio, .ant-radio:hover .ant-radio-inner 
{
  border-color:$old-primary-turquoise !important;
}

.ant-radio-inner::after {
  background-color: $old-primary-turquoise !important;
}

.ant-card-body a {
  color: $old-primary-turquoise;

  &:hover, &:focus {
    color: $old-primary-turquoise;
  }
}

.ant-spin-container.ant-spin-blur {
  opacity: 0.3; 
}