@import 'variables';

@mixin btn-theme($prim: $primaryF-color, $sec: $primaryS-color) {
  background: linear-gradient(180deg, $prim 0%, $sec 100%);
}

@mixin like($prim: $old-primary-color) {
  color: $prim;
}
//classNames text colors 
.text-color1{color:$text-color1};
.text-color2{color:$text-color2}
.text-color3{color:$text-color3}

.old-primary-red {color:$old-primary-red}
.old-primary-green{color:$old-primary-green}
.old-primary-turquoise{color:$old-primary-turquoise}
//classNames background colors
.strokes{background-color:$strokes};
.gray1{background-color:$gray1}

.green-bg{background-color:$state-confirmed;}

.btn-secondary-color3{background-color:$secondaryJ-color}

.state-error_advice{color:$state-error_advice}
.state-pending{color:$state-pending}

.primaryF-color{color:$primaryF-color}
.primaryS-color{color:$primaryS-color}

.secondaryF-color{color:$secondaryF-color }
.secondaryS-color{color:$secondaryS-color}

.old_primary-color{color:$old_primary-color}
.error{color:$error}

.btn-gradient-blue{color:$btn-gradient-blue}
.btn-gradient-red{color:$btn-gradient-red}

