@import 'variables';

$fonts: (
    '1': $font-size-h1,
    '2': $font-size-h2,
    '3': $font-size-h3,
    '4': $font-size-h4,
    '5': $font-size-h5,
    '6': $font-size-h6,
);

@mixin font($size, $weight) {
  font-family: $font-family-primary;
  font-size: $size;
  font-weight: $weight;
  line-height: $size*1.5;
  letter-spacing: auto;
}

.display{
    @include font($font-size-display, bold);
   }

// H1-H6 font sizes
@each $font, $prop in $fonts  {
    .headingH#{$font}{
        @include font($prop, bold);
    }
}

.headline{
    @include font($font-size-headline, bold);
}
.body-bold{
    @include font($font-size-body, bold);
}
.body-medium{
    @include font($font-size-body, medium);
}
.callout{
    @include font($font-size-callout, medium);
}




