//basic vars colores basicos
$foregroundColor: #000;
$backgroundColor: #fff;
$backgroundColorGrey2: #e6e6e6;
$backgroundColorGrey: #dedede;
$backgroundColorSoftBlue: #E6EEFA;
$backgroundColorSoftPink:#FAE6E6;
$backgroundColorSoftGreen:#E6FAE6;
$backgroundColorAdmin: #EEEEEE;
$backgroundColorComment: #f2f2f2;
$text-color1: #333333;
$text-color2: #858585;
$text-color3: #929292;
$text-color4: #545454;
$text-color5: #00B3BA;
$text-color6: #ffff;
$strokes:rgba(156, 156, 156, 0.8);
$gray1:rgba(156, 156, 156, 0.4);
$old-primary-red:#E30613;
$old-primary-green:#198565;
$old-primary-turquoise:#00B3BA;
$state-error_advice: #FE4752;
$state-pending:#F77D0D;
$state-confirmed: #A3E4A9;
$primaryF-color: #00b1ba;
$primaryS-color: #0098b9;
$secondaryF-color: #dedede;
$secondaryS-color: #333333;
$secondaryJ-color: #D1E7E0;
$old_primary-color: #198565;
$background-fixed: #8BC0B0;
$green-backgroud-color: #D1E7E0;
$winner: #05BE2E;
$warn: #D37608;
$zones: #0D4D39;

$info-background: rgba(0, 179, 186, 0.2);
$warn-background: #f8e4c7;
$done-background: #c7f8d1;
$error-background: #f8d2cf;

$yellow-status-color: rgba(247, 145, 51, 0.18);
$border-card-dashboard: 2rem solid rgba(156, 156, 156, 0.8);
$border-color-select: rgba($color: $strokes, $alpha: 0.4);
$border-color-text-input: rgba(26, 26, 26, 0.2);
$border-card-color: #9c9c9ccc;
$border-creating-normative: rgba(0, 0, 0, 0.2);
$button-hover-color: #40a9ff;
$bg-creating: rgba(247, 125, 13, 0.2);
$fg-creating: #e68410;
$bg-finished: #f8d2cf;
$error: #fe4752;
$crown: gold;
// social networks
$whatssap: #00BB2D;
$facebook: #3B5998;
$twitter: #00ACEE;
$telegram: #0088CC;
//gradients
$btn-gradient-blue: linear-gradient(180deg, $primaryF-color 0%, $primaryS-color 100%);
$btn-gradient-red: linear-gradient(180deg, #E64D3F 0%, #C9383F 100%);
$btn-gradient-red-light: linear-gradient(180deg, #ffffff 0%, #f7dcdd 10%);

//fonts
$font-size-small: 12rem;
$font-size-callout: 14rem;
$font-size-body: 16rem;
$font-size-headline: 18rem;
$font-size-h6: 22rem;
$font-size-h5: 24rem;
$font-size-h4: 28rem;
$font-size-h3: 36rem;
$font-size-h2: 48rem;
$font-size-h1: 56rem;
$font-size-display: 96rem;
$font-family-primary: 'Muller',
sans-serif;

$width-100:100%;
$width-50:50%;
$width-44:44%;
$width-35:35%;

$px-1:1px;

$size-0:0rem;
$size-1: 1rem;
$size-2: 2rem;
$size-4: 4rem;
$size-6: 6rem;
$size-8: 8rem;
$size-10: 10rem;
$size-11: 11rem;
$size-12: 12rem;
$size-13: 13rem;
$size-14: 14rem;
$size-16: 16rem;
$size-18: 18rem;
$size-20: 20rem;
$size-21: 21rem;
$size-24: 24rem;
$size-27: 27rem;
$size-28: 28rem;
$size-30: 30rem;
$size-32: 32rem;
$size-34: 34rem;
$size-36: 36rem;
$size-40: 40rem;
$size-42: 42rem;
$size-48: 48rem;
$size-50: 50rem;
$size-56: 56rem;
$size-64: 64rem;
$size-72: 72rem;
$size-80: 80rem;
$size-96: 96rem;
$size-100: 100rem;
$size-128: 128rem;
$size-140: 140rem;
$size-144: 144rem;
$size-148: 148rem;
$size-160: 160rem;
$size-176: 176rem;
$size-192: 192rem;
$size-256: 256rem;
$size-300: 300rem;
$size-308: 308rem;
$size-324: 324rem;
$size-364: 364rem;
$size-382: 382rem;
$size-408: 408rem;
$size-432: 432rem;
$size-512: 512rem;
$size-768: 768rem;
$size-842: 842rem;
$size-1024: 1024rem;
$size-1200: 1200rem;

//shadows
$shadow-basic: 0px 10rem 20rem -5rem rgba(0, 0, 0, 0.26);
$shadow-basic2: 0px 10rem 20rem 5rem rgba(0, 0, 0, 0.26); 
$shadow-dropdown: 0 0 0 $size-2 rgba(24 144 255 / 20%);
$shadow-text-input-error:0 0 0 $size-2 rgba(255, 68, 68, 0.2);
$shadow-options: 0 $size-4 $size-8 $size-4 rgba(0, 0, 0, 0.15);
$shadow-antd-card: 0 5rem 15rem rgb(0 0 0 / 25%);
