@import "../../../../../public/styles/theming.scss";

.articlesSection {
  width: 100%;
  .toggle {
    display: flex;
    align-items: center;
    font-family: $font-family-primary;
    gap: $size-8;
    color: $foregroundColor;
  }
  .hidden {
    margin-bottom: $size-16;
    * {
      display: none;
    }
  }
}
