@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.userdata {
  display: flex;
  align-items: center;

  img {
    width: variables.$size-40;
    height: variables.$size-40;
    border: 1px solid #0005;
    border-radius: 50%;
    margin-right: 5px;
  }
}

.container_card_dashboard {
  gap: variables.$size-36;
}

.filter_select {
  gap: variables.$size-10;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  button {
    font-size: variables.$size-14;
    height: variables.$size-42;
    margin-left: 10rem;

    &:hover path,
    &:focus path {
      fill: #3f9eec;
    }
  }
}

.filter__container {
  background-color: variables.$backgroundColor;
  min-height: calc(100vh - 72px);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  padding: variables.$size-40 variables.$size-36 variables.$size-48;
  row-gap: variables.$size-16;
  min-width: 790px;
}

.list__proposals__container {
  border: 1px solid variables.$backgroundColorGrey;
  border-radius: variables.$size-10;
  padding: variables.$size-10;
}

.complaints {
  display: flex;
  color: #fe4752;

  span {
    margin-left: 5px;
  }
}
