@use "/public/styles/theming.scss";

//Los estilos solo se pueden aplicar sobreescribiendo los estilos de AntDesign
.tab {
  :global {
    .ant-tabs {
      font-family: theming.$font-family-primary;
    }
    .ant-tabs-nav .ant-tabs-tab {
      color: theming.$text-color2;
    }

    .ant-tabs-nav .ant-tabs-tab:hover,
    .ant-tabs-nav .ant-tabs-tab:active {
      color: theming.$old-primary-turquoise;
    }
    .ant-tabs-nav .ant-tabs-tab-active,
    .ant-tabs-nav .ant-tabs-tab-active:hover,
    .ant-tabs-nav .ant-tabs-tab-active:active {
      color: theming.$old-primary-green;
    }
    .ant-tabs-ink-bar {
      background-color: theming.$old-primary-green;
    }
  }
}
