@use "/public/styles/variables.scss";
@import "../../../../public/styles/theming.scss";

$base-padding: variables.$size-8;

.buttonsActions {
  padding: $base-padding $base-padding calc($base-padding * 3);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: variables.$width-100;
  max-width: 414rem;
  border-radius: $base-padding;
}

.buttonsActionsGhost {
  padding: $base-padding $base-padding calc($base-padding * 3);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: variables.$width-100;
  max-width: 414rem;
}

.actionsContainer {
  padding: $base-padding;
  max-width: 400rem;
}

.infoContainer {
  padding: $base-padding calc($base-padding * 3);
  background-color: variables.$backgroundColor;
  border-radius: $base-padding;
  margin-bottom: $base-padding;
  font-family: $font-family-primary;
  font-size: $font-size-callout;
  span {
    color: $old_primary-color;
    span {
      font-size: $font-size-body;
    }
    a {
      text-decoration: underline;
      color: blue;
      font-weight: bold;
    }
  }
}

.infoGhost {
  width: variables.$size-300;
  margin-bottom: $base-padding;
  font-family: $font-family-primary;
  font-size: $font-size-callout;
  color: $old_primary-color;
  [class~="voted"] {
    font-size: $font-size-body;
    width: variables.$width-100;
  }
}

.infoWarn {
  border-radius: $base-padding;
  padding: $base-padding calc($base-padding * 2);
  background-color: variables.$warn-background;
  margin: $base-padding;
  color: #d37608;
  .infoIcon {
    font-size: variables.$size-20;
    margin-right: variables.$size-12;
  }
  .infoText {
    max-width: variables.$size-300;
    word-wrap: break-word;
    line-height: variables.$size-27;
    font-size: $font-size-body;
    font-family: $font-family-primary;
  }
}

.buttonsContainer {
  width: variables.$width-100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: $size-8;
  align-items: center;
  [class~="enabled"] {
    cursor: pointer;
    padding: $base-padding;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: variables.$size-0;
    border-radius: variables.$size-100;
    width: variables.$width-50;
    [class~="buttonText"] {
      font-family: $font-family-primary;
      color: $secondaryS-color;
      font-weight: 700;
      font-size: $font-size-body;
    }
    [role="img"] {
      margin-right: calc($base-padding / 2);
      svg {
        height: variables.$size-30;
        fill: $secondaryS-color;
      }
      [class~="dislike"] {
        height: variables.$size-30;
        fill: $secondaryS-color;
        transform: rotate(180deg);
      }
    }
  }
  [class~="likeDisable"] {
    background-color: $secondaryF-color;
    padding: $base-padding;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: variables.$size-0;
    border-radius: variables.$size-100;
    width: variables.$width-50;
    color: $old_primary-color;
    [class~="buttonText"] {
      font-family: $font-family-primary;
      font-weight: 700;
      font-size: $font-size-body;
    }
    [role="img"] {
      margin-right: calc($base-padding / 2);
      svg {
        height: variables.$size-30;
        fill: $old_primary-color;
      }
      [class~="dislike"] {
        height: variables.$size-30;
        fill: $old_primary-color;
        transform: rotate(180deg);
      }
    }
  }
  [class~="dislikeDisable"] {
    background-color: $secondaryF-color;
    padding: $base-padding;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: variables.$size-0;
    border-radius: variables.$size-100;
    width: variables.$width-50;
    color: $error;
    [class~="buttonText"] {
      font-family: $font-family-primary;
      font-weight: 700;
      font-size: $font-size-body;
    }
    [role="img"] {
      margin-right: calc($base-padding / 2);
      svg {
        height: variables.$size-30;
        fill: $error;
      }
      [class~="dislike"] {
        height: variables.$size-30;
        fill: $error;
        transform: rotate(180deg);
      }
    }
  }
}

.buttonsContainerGhost.percentLayout {
  width: variables.$width-100;
}

.buttonsContainerGhost {
  padding: $base-padding;
  border-radius: variables.$size-50;
  display: flex;
  flex-direction: row;
  justify-content: center;
  [class~="enabled"] {
    border-width: variables.$size-0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    [class~="buttonText"] {
      font-family: $font-family-primary;
      color: $secondaryS-color;
      font-weight: 700;
      font-size: $font-size-body;
    }
    [role="img"] {
      margin-right: calc($base-padding / 2);
      svg {
        height: variables.$size-30;
        fill: $secondaryS-color;
      }
      [class~="dislike"] {
        height: variables.$size-30;
        fill: $secondaryS-color;
        transform: rotate(180deg);
      }
    }
  }
  [class~="buttonDisable"] {
    border-width: variables.$size-0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    [class~="buttonText"] {
      font-family: $font-family-primary;
      font-weight: 700;
      font-size: $font-size-body;
    }
    [role="img"] {
      margin-right: calc($base-padding / 2);
      svg {
        height: variables.$size-30;
        fill: $text-color2;
      }
      [class~="dislike"] {
        height: variables.$size-30;
        fill: $text-color2;
        transform: rotate(180deg);
      }
    }
  }
  [class~="liked"] {
    border-width: variables.$size-0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $old_primary-color;
    cursor: pointer;
    [class~="buttonText"] {
      font-family: $font-family-primary;
      font-weight: 700;
      font-size: $font-size-body;
    }
    [role="img"] {
      margin-right: calc($base-padding / 2);
      svg {
        height: variables.$size-30;
        fill: $old_primary-color;
      }
      [class~="dislike"] {
        height: variables.$size-30;
        fill: $old_primary-color;
        transform: rotate(180deg);
      }
    }
  }
  [class~="disliked"] {
    border-width: variables.$size-0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $error;
    cursor: pointer;
    [class~="buttonText"] {
      font-family: $font-family-primary;
      font-weight: 700;
      font-size: $font-size-body;
    }
    [role="img"] {
      margin-right: calc($base-padding / 2);
      svg {
        height: variables.$size-30;
        fill: $error;
      }
      [class~="dislike"] {
        height: variables.$size-30;
        fill: $error;
        transform: rotate(180deg);
      }
    }
  }
  [class~="percentLikeDisable"] {
    border: solid $old_primary-color variables.$size-2;
    color: $old_primary-color;
    background-color: $secondaryJ-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $base-padding;
    padding: $base-padding;
    opacity: 40%;
    [role="img"] {
      margin-right: calc($base-padding / 2);
      svg {
        height: variables.$size-30;
        fill: $old_primary-color;
      }
      [class~="dislike"] {
        height: variables.$size-30;
        fill: $old_primary-color;
        transform: rotate(180deg);
      }
    }
    [class~="buttonText"] {
      font-family: $font-family-primary;
      font-weight: bold;
      font-size: $font-size-body;
    }
  }
  [class~="percentLiked"] {
    border: solid $old_primary-color variables.$size-2;
    color: $old_primary-color;
    background-color: $secondaryJ-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $base-padding;
    padding: $base-padding;
    cursor: pointer;
    [role="img"] {
      margin-right: calc($base-padding / 2);
      svg {
        height: variables.$size-30;
        fill: $old_primary-color;
      }
      [class~="dislike"] {
        height: variables.$size-30;
        fill: $old_primary-color;
        transform: rotate(180deg);
      }
    }
    [class~="buttonText"] {
      font-family: $font-family-primary;
      font-weight: bold;
      font-size: $font-size-body;
    }
  }
  [class~="percentDislikeDisable"] {
    border: solid $error variables.$size-2;
    color: $error;
    background-color: $secondaryF-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $base-padding;
    padding: $base-padding;
    opacity: 40%;
    [role="img"] {
      margin-right: calc($base-padding / 2);
      svg {
        height: variables.$size-30;
        fill: $error;
      }
      [class~="dislike"] {
        height: variables.$size-30;
        fill: $error;
        transform: rotate(180deg);
      }
    }
    [class~="buttonText"] {
      font-family: $font-family-primary;
      font-weight: bold;
      font-size: $font-size-body;
    }
  }
  [class~="percentDisliked"] {
    border: solid $error variables.$size-2;
    color: $error;
    background-color: #fe47522b;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $base-padding;
    padding: $base-padding;
    cursor: pointer;
    [role="img"] {
      margin-right: calc($base-padding / 2);
      svg {
        height: variables.$size-30;
        fill: $error;
      }
      [class~="dislike"] {
        height: variables.$size-30;
        fill: $error;
        transform: rotate(180deg);
      }
    }
    [class~="buttonText"] {
      font-family: $font-family-primary;
      font-weight: bold;
      font-size: $font-size-body;
    }
  }
}

.commentButton {
  border-radius: variables.$size-0;
  padding: $base-padding $base-padding calc($base-padding * 3);
  border-width: variables.$size-0;
  width: variables.$width-100;
  max-width: 414rem;
  background: $btn-gradient-blue;
  box-shadow: 0 -10rem variables.$size-20 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  span {
    font-family: $font-family-primary;
    font-size: $font-size-headline;
    color: variables.$backgroundColor;
  }
}

.commentButton:hover {
  border-radius: variables.$size-0;
  padding: $base-padding $base-padding calc($base-padding * 3);
  border-width: variables.$size-0;
  width: variables.$width-100;
  border: solid variables.$size-1 $primaryF-color;
  max-width: 414rem;
  background: variables.$backgroundColor;
  box-shadow: 0 -10rem variables.$size-20 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  span {
    font-family: $font-family-primary;
    font-weight: 700;
    font-size: $font-size-headline;
    color: $primaryF-color;
  }
}
