@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.footer {
  p {
    color: theming.$backgroundColor;
    font-size: theming.$font-size-callout;
    font-weight: bold;
    line-height: variables.$size-24;
    margin: 0;
  }

  a {
    color: theming.$backgroundColor;
    font-size: theming.$font-size-callout;
    font-weight: bold;
    line-height: variables.$size-24;
    transition: all 0.3s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }

  hr {
    background-color: theming.$backgroundColor;
    border: none;
    border-radius: variables.$size-12;
    height: variables.$size-2;
  }

  section {
    margin: 0;
    max-width: none;
  }

  & > section:first-child {
    color: theming.$backgroundColor;
    font-family: theming.$font-family-primary;

    & > section {
      gap: variables.$size-32;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(variables.$size-192, 1fr));
      margin: 0 auto;
      place-items: flex-start center;

      & div {
        width: 100%;

        h6 {
          color: theming.$backgroundColor;
          font-size: theming.$font-size-h6;
          font-weight: bold;
          line-height: variables.$size-32;
          margin: variables.$size-24 0 variables.$size-8;
        }
      }
    }

    @media screen and (min-width: variables.$size-512) {
      hr {
        display: none;
      }
    }
  }

  & > section:last-child {
    color: theming.$backgroundColor;
    text-align: center;
    padding: 0 variables.$size-16 variables.$size-16;

    p {
      margin: 0;
      font-weight: normal;
    }

    p:last-child {
      margin-top: variables.$size-16;
    }

    hr {
      max-width: variables.$size-512;
      margin: 0 auto;
    }

    a {
      color: theming.$old-primary-turquoise;
      font-size: theming.$font-size-callout;
      line-height: variables.$size-24;
      margin: 0;
      transition: all 0.3s ease-in-out;
    }

    & div {
      padding-top: variables.$size-16;
    }

    section {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-bottom: variables.$size-16;

      svg {
        color: theming.$backgroundColor;
        height: variables.$size-32;
        margin: variables.$size-8;
        width: variables.$size-32;
      }
    }

    @media screen and (min-width: variables.$size-512) {
      hr {
        max-width: variables.$size-512;
      }
    }
  }
}
.links {
  background: linear-gradient(180deg, #00b1ba 0%, #0098b9 100%);
  padding: variables.$size-16;
}
.social {
  background-color: theming.$foregroundColor;
}
