@use "/public/styles/variables.scss";
@use "/public/styles/theming.scss";

.container {
  background-color: variables.$backgroundColor;
  padding: variables.$size-16;
  width: 70%;

  .content {
    margin: 0 auto;
    width: 100%;

    .back__button {
      align-items: center;
      border: 2px solid variables.$old-primary-turquoise;
      border-radius: variables.$size-12;
      display: flex;
      font: bold variables.$font-size-body variables.$font-family-primary;
      padding: variables.$size-8 variables.$size-20;

      svg {
        margin-right: variables.$size-12;
        transition: all 0.2s ease-in-out;
      }

      &:hover svg {
        transform: translate(-5rem, 0);
      }
    }

    .stepper {
      margin: variables.$size-56 auto;
      max-width: variables.$size-256;
      width: 90%;
    }

    .step {
      .custom__external {
        input {
          margin-bottom: variables.$size-36;
          width: 100%;
          max-width: variables.$size-842;
          border: variables.$size-2 solid variables.$border-creating-normative;
          border-radius: variables.$size-8;
          padding: variables.$size-8 variables.$size-16;
          outline: none;
          font-family: variables.$font-family-primary;
          font-size: variables.$font-size-body;
          color: variables.$text-color1;
          opacity: 0.6;
          margin: 0 0 variables.$size-18 0;
        }
        input:focus,
        input:focus-visible {
          border-color: variables.$primaryF-color !important;
          outline: none;
        }
      }

      .container__switch {
        display: flex;
        margin-top: variables.$size-20;
        gap: variables.$size-16;
        font-weight: bold;
      }

      .step__description_text {
        color: variables.$text-color1;
        margin-bottom: variables.$size-32;
        font: variables.$font-size-body variables.$font-family-primary;
        font-weight: 700;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        padding-top: variables.$size-16;
      }

      .step__description {
        color: variables.$text-color1;
        margin-bottom: variables.$size-32;
        font: variables.$font-size-body variables.$font-family-primary;
        font-weight: 700;

        h2 {
          font: bold variables.$font-size-h5 variables.$font-family-primary;
          line-height: 36rem;
        }

        p {
          font: variables.$font-size-body variables.$font-family-primary;
          line-height: variables.$size-28;
          opacity: 0.6;
          font-weight: 400;

          span {
            color: variables.$error;
          }
        }
      }

      .step__error {
        color: variables.$error;
        font: bold variables.$font-size-body variables.$font-family-primary;
        margin-top: variables.$size-16;
      }

      .content__button {
        gap: variables.$size-40;
      }

      .step__button {
        margin: variables.$size-56 auto;
        max-width: variables.$size-256;
      }

      .imagen__convocatoria {
        width: variables.$size-512;
      }

      .modalCreatedSuccessfully {
        align-items: center;
        position: absolute;
        background-color: white;
        box-shadow: 2px 2px 10px #cdcfd1;
        border-radius: 12;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        height: 276px;
        justify-items: center;
        left: 35%;
        padding: 10;
        top: 25vh;
        width: 404px;
        z-index: 31;
      }

      .save__button {
        max-width: variables.$size-256;
      }

      .filter_button {
        padding: variables.$size-16;
        font-weight: 500;
        height: variables.$size-40;
      }

      .step__input {
        margin: variables.$size-32 0;
      }

      .span_imagen_edit {
        color: variables.$text-color2;
        display: inline-block;
        width: 100%;
        padding-left: variables.$size-20;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: variables.$size-14;
        margin-top: variables.$size-16;
      }
    }
  }
}

.errores {
  font-weight: bold;
  color: variables.$error;
  ul {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .container {
    .content {
      .stepper {
        max-width: variables.$size-432;
      }
    }
  }
}
