@use "/public/styles/variables.scss";

.attainmentcarousel {
  .carousel-image {
    width: 100%;
    text-align: center;
  }
  .banner {
    display: inline-block;
    position: relative;
    width: 100%;
    img {
      width: 100%;
      max-height: 500px;
      object-fit: cover;
    }
    span {
      position: absolute;
      bottom: 5%;
      width: 96%;
      left: 2%;
      color: variables.$text-color6;
      z-index: 2;
      font-weight: 700;
      font-size: 24rem;
      @media screen and (max-width: 425px) {
        & {
          font-size: 18rem;
        }
      }
    }
    .cover {
      position: absolute;
      width: 100%;
      height: 100%;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.05+55,0.4+75,0.6+100 */
      background: -moz-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.05) 55%,
        rgba(0, 0, 0, 0.4) 75%,
        rgba(0, 0, 0, 0.6) 100%
      ); /* FF3.6-15 */
      background: -webkit-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.05) 55%,
        rgba(0, 0, 0, 0.4) 75%,
        rgba(0, 0, 0, 0.6) 100%
      ); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.05) 55%,
        rgba(0, 0, 0, 0.4) 75%,
        rgba(0, 0, 0, 0.6) 100%
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 ); /* IE6-9 */
    }
  }

  .carousel-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: variables.$size-8;
    gap: variables.$size-4;
    position: relative;

    .carousel-arrow-left,
    .carousel-arrow-right {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      opacity: 0.7;
      border-radius: 50%;
      width: variables.$size-56;
      height: variables.$size-56;
      min-width: variables.$size-56;
      min-height: variables.$size-56;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: variables.$secondaryJ-color;
      & > * {
        color: variables.$old-primary-green;
      }
    }
    .carousel-arrow-left {
      left: 0;
    }
    .carousel-arrow-right {
      right: 0;
    }
    .carousel-content {
      width: 100%;

      .cardcarousel-group {
        width: 100%;
        display: grid;
        @media screen and (min-width: 425px) {
          & {
            justify-content: center;
          }
        }

        grid-template-columns: repeat(
          auto,
          minmax(variables.$size-192, variables.$size-256)
        );
        grid-auto-flow: column;
        grid-auto-columns: minmax(variables.$size-192, variables.$size-256);

        padding: variables.$size-16;
        gap: variables.$size-8;
        overflow: scroll hidden;
        scrollbar-width: thin;
        scrollbar-color: transparent transparent;
        /* Works on Chrome, Edge, and Safari*/
        &::-webkit-scrollbar,
        &::-webkit-scrollbar-track,
        &::-webkit-scrollbar-thumb {
          background-color: transparent;
          border: none;
        }
        .cardcarousel-container {
          width: 100%;
          height: 100%;
          font-weight: normal;
          padding: variables.$size-16;
          .cardcarousel-text {
            width: 100%;
            height: 50%;
            padding: variables.$size-4;
            .cardcarousel-title {
              font-size: variables.$font-size-callout;
              color: variables.$old-primary-red;
            }
            .cardcarousel-description {
              font-size: variables.$font-size-body;
            }
          }
        }
      }
    }
  }
}
