@import "../../../../public/styles/theming.scss";

.CommentSection {
  width: 100%;
  font-family: $font-size-headline;
  margin-top: $size-64;

  h5 {
    text-align: center;
    font-weight: 700;
    font-size: $font-size-h5;
    color: $text-color1;
    margin-bottom: $size-4;
  }
  hr {
    height: 2rem;
    background: $border-card-color;
    margin-bottom: $size-16;
  }
  .CommentsToggle {
    margin: $size-50 0 $size-20 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size-callout;
    .commentsAmount {
      font-size: $font-size-headline;
      color: $text-color2;
      font-weight: bold;
    }
    .toggleButton {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: $font-size-callout;
      span {
        margin-left: $size-12;
      }
    }
  }
  .CommentsOpen {
    display: flex;
    flex-direction: column;
    margin-bottom: $size-72;
    .MoreCommentsButton {
      margin-top: $size-16;
      cursor: pointer;
      border-radius: 100rem;
      padding: $size-8;
      line-height: 27rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      max-width: 400px;
      background-color: $backgroundColorGrey2;
      font-family: $font-family-primary;
      font-size: $font-size-body;
      font-weight: 700;
    }
  }
  .CommentsClose {
    display: none;
  }
}
