@import "../../../public/styles/theming.scss";

.commentContainer {
  flex: 1;
  background-color: $backgroundColor;
}

.backgroundModal {
  position: fixed;
  z-index: 35;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  top: 0;
  left: 0;
}

.denunciasBorder {
  background-color: $backgroundColorComment;
  border-radius: $size-12;
  border: $size-1 solid $state-error_advice;
}

.checkBoxContainer {
  display: flex !important;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0 !important;
}

.modaltitle {
  text-align: center;
  font-family: $font-size-display;
  font-size: $font-size-h5;
  color: $error;
  line-height: $size-36;
  font-weight: bold;
}

.denuncias {
  cursor: pointer;
  display: block;
  padding: 4px 0;

  &:hover {
    color: #0007;
  }
}

.denunciasButton {
  font-size: $font-size-body;
  font-family: $font-family-primary;
  font-weight: bold;
  color: $old-primary-red;
  cursor: pointer;
}

.commentLayout {
  width: 100%;
  display: flex;

  .avatarContainer {
    max-width: $size-36;
  }
  .descriptionContainer {
    font-family: $font-family-primary;
    padding: 0 $size-12;
    width: 100%;

    &:first-child {
      background-color: $backgroundColorComment;
      border-radius: $size-20;
      padding: 6px;
    }

    .commentHeader {
      padding: $size-8 $size-12 0 $size-12;
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between !important;
      align-items: center;
      small {
        font-size: $font-size-body;
        font-weight: bold;
        color: #0009;
      }
      span[role="log"] {
        font-size: 14px;
        color: #0008;
      }
      span[role="icon"] {
        cursor: pointer;
        font-size: 15px;
      }
      span[role="img"] {
        font-weight: bold;
        font-size: $font-size-body;
        margin-right: $size-12;
        transform: rotate(90deg);
        cursor: pointer;
      }
    }
    .commentText {
      font-weight: 400;
      font-size: $font-size-body;
      color: $text-color2;
      padding: $size-12;
      word-wrap: break-word;
      .ellipsisText {
        display: block;
        text-overflow: ellipsis;
        line-clamp: 10;
        overflow: hidden;
      }
      .fileLinkButton {
        margin-top: $size-8;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $font-size-callout;
        background: $btn-gradient-blue;
        color: $backgroundColor;
        max-width: 160rem;
        border-radius: 50rem;
        padding: 4rem 6rem;
        [class~="anticon"] {
          width: 8rem;
          margin-right: 8rem;
        }
      }
    }
  }
  .showResponsesButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    color: $primaryF-color;
    font-weight: bold;
    font-size: $font-size-callout;
    [class~="anticon"] {
      margin-right: $size-12;
    }
    margin-top: 8rem;
  }

  .answersContainerHiden {
    display: none;
  }

  .answersContainer {
    width: 100%;
  }
}

.commentSection {
  width: 100%;
  margin-bottom: 30rem;
  font-family: $font-size-headline;

  .topTitle {
    margin: 60rem 0 25rem;
    padding: 0 10rem;

    h5 {
      color: #333333;
      font-family: "Muller", sans-serif;
      font-size: 24rem;
      font-weight: 700;
      text-align: center;
    }
  }
  header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    margin: 15rem 0;
    padding-right: 12rem;

    h6 {
      text-align: center;
      font-weight: 600;
      color: $text-color2;
      margin-bottom: 0 !important;
      font-size: 18rem;
    }

    span {
      font-family: $font-family-primary;
      color: $text-color2;
    }
  }
}

.MoreCommentsButton {
  margin-top: $size-16;
  cursor: pointer;
  border-radius: 100rem;
  padding: $size-8;
  line-height: 27rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
  background-color: $backgroundColorGrey2;
  font-family: $font-family-primary;
  font-size: $font-size-body;
  font-weight: 700;
}

.selectionGroup {
  & > div {
    display: inline-block;
  }

  .commentSelector {
    border-width: 0 !important;

    &:hover,
    &:focus-within {
      border-width: 0 !important;
    }
  }
}
