@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.container {
  background-color: white;
  display: flex;
  width: 100vw;
  max-width: 100%;
  // height: 100vh;
  aside {
    [class~="ant-layout-sider-dark"] {
      min-width: max-content !important;
    }
  }
  main {
    font: theming.$font-size-body theming.$font-family-primary !important;
    flex: 1;
  }
}
