@use "/public/styles/variables.scss";

.alert_color {
  color: variables.$state-error_advice;
  font-size: 15rem;
  margin: 5rem 0 12rem;
  // padding-left: 5px;
}
.caption {
  color: #0005;
  font-size: 13.5rem;
  margin: 5rem 0;
  padding-left: 8px;
}
.green_color_subtitle {
  color: variables.$old-primary-green;
  line-height: 27rem;
}
.blue_color_subtitle {
  color: variables.$text-color5;
}
.blue_color_subtitle_line {
  color: variables.$text-color5;
  line-height: 27rem;
}
.green_color_title {
  color: variables.$old-primary-green;
  line-height: 32rem;
}
.opp_color {
  color: variables.$text-color2;
  line-height: 27rem;
}
