@use "/public/styles/variables.scss";
@use "/public/styles/theming.scss";

.inputContainer,
.inputContainerDisabled {
  transition-duration: 0.2s;
  border: solid variables.$size-1 variables.$border-color-text-input;
  border-radius: variables.$size-16;
  margin-bottom: variables.$size-4;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: variables.$size-64;
  max-height: variables.$size-64;
  padding: variables.$size-8;
  .iconContainer {
    width: max-content;
    margin-right: variables.$size-8;
  }
  .inputLabelContainer {
    flex: 1;
    .inputLabel {
      font-family: variables.$font-family-primary;
      font-size: variables.$font-size-body;
      font-weight: bold;
      position: relative;
      bottom: -16rem;
      z-index: 5;
      color: variables.$border-color-text-input;
    }
    .inputLabelFocused {
      font-family: variables.$font-family-primary;
      font-size: variables.$font-size-callout;
      font-weight: bold;
      position: relative;
      z-index: 5;
      transition-duration: 0.6s;
      color: variables.$text-color1;
    }
    .inputEl {
      padding-top: variables.$size-4;
      border: none;
      width: 100%;
      object-fit: fill;
      background: transparent;
      z-index: 1;
      transform: translateY(-10rem);
      font-family: variables.$font-family-primary;
      font-size: variables.$font-size-body;
      font-weight: bold;
      color: variables.$text-color2;
    }
    .inputEl:focus-visible {
      border: none;
      outline: none;
      background: transparent;
    }
    .inputEl:-webkit-autofill,
    input.inputEl:-internal-autofill-selected,
    input:-webkit-autofill,
    input:-webkit-autofill:focus {
      background-color: variables.$backgroundColor !important;
      font-weight: lighter !important;
      color: variables.$text-color2 !important;
      font-weight: bold !important;
      font-size: variables.$font-size-body !important;
      font-family: variables.$font-family-primary !important;
    }
  }
}

.inputContainer:hover,
.inputContainerDisabled:hover {
  transition-duration: 0.2s;
  border-color: variables.$primaryF-color;
}

.inputContainerFocus {
  transition-duration: 0.2s;
  border: solid variables.$size-1 variables.$primaryF-color;
  box-shadow: variables.$shadow-dropdown;
  border-radius: variables.$size-16;
  margin-bottom: variables.$size-4;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: variables.$size-64;
  max-height: variables.$size-64;
  padding: variables.$size-8;
  .iconContainer {
    width: max-content;
    margin-right: variables.$size-8;
  }
  .inputLabelContainer {
    flex: 1;
    .inputLabel {
      font-family: variables.$font-family-primary;
      font-size: variables.$font-size-body;
      font-weight: bold;
      position: relative;
      bottom: -14rem;
      z-index: 5;
      color: variables.$border-color-text-input;
    }
    .inputLabelFocused {
      font-family: variables.$font-family-primary;
      font-size: variables.$font-size-callout;
      font-weight: bold;
      position: relative;
      z-index: 5;
      transition-duration: 0.6s;
      color: variables.$text-color1;
    }
    .inputEl {
      padding-top: variables.$size-4;
      border: none;
      width: 100%;
      object-fit: fill;
      background: transparent;
      z-index: 1;
      transform: translateY(-10rem);
      font-family: variables.$font-family-primary;
      font-size: variables.$font-size-body;
      font-weight: bold;
      color: variables.$text-color2;
    }
    .inputEl:focus-visible {
      border: none;
      outline: none;
      background: transparent;
    }
    .inputEl:-webkit-autofill,
    input.inputEl:-internal-autofill-selected,
    input:-webkit-autofill,
    input:-webkit-autofill:focus {
      background-color: variables.$backgroundColor !important;
      font-weight: lighter !important;
      color: variables.$text-color2 !important;
      font-weight: bold !important;
      font-size: variables.$font-size-body !important;
      font-family: variables.$font-family-primary !important;
    }
  }
}

.inputContainerError {
  transition-duration: 0.2s;
  border: solid variables.$size-1 variables.$old-primary-red;
  box-shadow: variables.$shadow-text-input-error;
  border-radius: variables.$size-16;
  margin-bottom: variables.$size-4;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: variables.$size-64;
  max-height: variables.$size-64;
  padding: variables.$size-8;
  .iconContainer {
    width: max-content;
    margin-right: variables.$size-8;
  }
  .inputLabelContainer {
    flex: 1;
    .inputLabel {
      font-family: variables.$font-family-primary;
      font-size: variables.$font-size-body;
      font-weight: bold;
      position: relative;
      bottom: -14rem;
      z-index: 5;
      color: variables.$border-color-text-input;
    }
    .inputLabelFocused {
      font-family: variables.$font-family-primary;
      font-size: variables.$font-size-callout;
      font-weight: bold;
      position: relative;
      z-index: 5;
      transition-duration: 0.6s;
      color: variables.$text-color1;
    }
    .inputEl {
      padding-top: variables.$size-4;
      border: none;
      width: 100%;
      object-fit: fill;
      background: transparent;
      z-index: 1;
      transform: translateY(-10rem);
      font-family: variables.$font-family-primary;
      font-size: variables.$font-size-body;
      font-weight: bold;
      color: variables.$text-color2;
    }
    .inputEl:focus-visible {
      border: none;
      outline: none;
      background: transparent;
    }
    .inputEl:-webkit-autofill,
    input.inputEl:-internal-autofill-selected,
    input:-webkit-autofill,
    input:-webkit-autofill:focus {
      background-color: variables.$backgroundColor !important;
      font-weight: lighter !important;
      color: variables.$text-color2 !important;
      font-weight: bold !important;
      font-size: variables.$font-size-body !important;
      font-family: variables.$font-family-primary !important;
    }
  }
}

.inputContainerDisabled {
  cursor: not-allowed;

  input {
    cursor: not-allowed;
  }
}
