@import "../../../../public/styles/theming.scss";

.notLogged {
  margin-top: 14rem;
  width: 100%;
  background-color: #f8d2cf;
  padding: 6rem 16rem;
  font-family: "Muller", sans-serif;
  font-weight: 500;
  word-wrap: break-word;
  border-radius: 10rem;
  font-size: 12rem;
  color: $state-error_advice;
  a {
    color: $old-primary-red;
    text-decoration: underline;
    font-weight: bold;
  }
}

.commentInputContainer {
  width: 100%;
}

.interactionsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10rem;
  padding: 0 $size-4;
  .interactions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: $font-family-primary;
    .responseButton {
      color: $old-primary-green;
      font-weight: bold;
      cursor: pointer;
    }
    .likesButtonsContainer {
      display: flex;
      justify-content: center;
      .likeButton {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $text-color2;
        font-weight: bold;
        margin-right: 24rem;
        svg {
          margin-right: 8rem;
          width: 20rem;
          height: 20rem;
          fill: $text-color2;
        }
      }
      .likeButtonSelected {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primaryF-color;
        font-weight: bold;
        margin-right: 24rem;
        svg {
          margin-right: 8rem;
          width: 20rem;
          height: 20rem;
          fill: $primaryF-color;
        }
      }
      .dislikeButton {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $text-color2;
        font-weight: bold;
        svg {
          margin-right: 8rem;
          width: 20rem;
          height: 20rem;
          transform: rotate(180deg);
          fill: $text-color2;
        }
      }
      .dislikeButtonSelected {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primaryF-color;
        font-weight: bold;
        svg {
          margin-right: 8rem;
          width: 20rem;
          height: 20rem;
          transform: rotate(180deg);
          fill: $primaryF-color;
        }
      }
    }
  }
}
