@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.card__stats {
  width: 100%;

  :global {
    .ant-card {
      min-height: initial;
    }

    .ant-card .ant-card-body {
      align-items: center;
      display: flex;
      justify-content: flex-start;
      margin: 0;
      padding: variables.$size-8 variables.$size-16;
      width: 100%;

      & > img,
      & > svg {
        margin-right: variables.$size-12;
        min-height: variables.$size-36;
        min-width: variables.$size-36;
      }

      h6 {
        color: theming.$text-color1;
        font: bold theming.$font-size-headline theming.$font-family-primary;
        line-height: variables.$size-24;
        margin: 0;
      }

      p {
        color: theming.$text-color2;
        font: theming.$font-size-callout theming.$font-family-primary;
        line-height: variables.$size-20;
        font-size: 13px;
        margin: 0;
        // width: max-content;
        width: 160px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
