@import "../../../public/styles/theming.scss";

.Table {
  font-family: $font-family-primary;
  font-size: $font-size-callout;
  font-weight: normal;
  [class~="actionButton"] {
    a {
      color: $old-primary-turquoise;
      font-size: $font-size-callout;
      font-weight: bold;

      &:hover {
        color: rgba($old-primary-turquoise, 0.7);
      }
    }
  }
}
