@import "../../../../public/styles/theming.scss";

.cardsContainer {
  max-width: 1200rem;
  background-color: $backgroundColor;
  border-radius: $size-8;
  margin-bottom: $size-64;
  padding-bottom: $size-48;
}
.cards_column_container {
  grid-template-columns: repeat(auto-fill, minmax(300rem, 1fr));
  gap: $size-36;
}
.cardRenderContainer {
  padding: 0;
  max-width: 1800rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: $size-32;
  .cardW {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: $size-4;
    div {
      margin-bottom: $size-12;
      max-width: $size-364;
    }
    :global {
      span {
        margin: 0;
      }
    }
  }
}

@media (max-width: 1024px) {
  .cardRenderContainer {
    width: 100%;
    .cardW {
      div {
        max-width: $size-300;
      }
    }
  }
}

@media (max-width: 1000px) {
  .cardRenderContainer {
    width: 100%;
    .cardW {
      display: flex;
      flex-wrap: wrap;
      div {
        max-width: 434rem;
      }
    }
  }
}

@media (max-width: 900px) {
  .cardRenderContainer {
    width: 100%;
    .cardW {
      div {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 700px) {
  .cardRenderContainer {
    .cardW {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      div {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 320px) {
  .cardRenderContainer {
    .cardW {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      div {
        max-width: $size-308;
      }
      :global {
        span {
          margin: 0;
        }
      }
    }
  }
}
