.notification-box {
  max-height: 450px;
  overflow-y: scroll;
  scrollbar-width: none;
  min-width: 290px;
  max-width: 400px;

  a {
    position: relative;
    display: flex;
    color: #0009;
    align-items: center;
    column-gap: 8px;
    padding: 8px 25px 8px 10px;
    min-height: 76px;
    cursor: pointer;

    &:hover {
      color: #0009;
    }

    span[role="button"] {
      position: absolute;
      color: #000;
      content: "✕";
      top: 3px;
      right: 8px;
      z-index: 1;

      &:hover {
        font-weight: bold;
        font-size: 16px;
      }
    }

    &:hover {
      background-color: #00000008;
    }

    img {
      width: 40px;
      height: 40px;
      border: 1px solid #0005;
      border-radius: 50%;
      margin-right: 5px;
      object-position: top;
      object-fit: cover;
    }

    h6 {
      font-size: 16px;
      font-weight: bold;
      width: 210px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    span {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  p {
    color: #00b3ba;
    text-align: center;
    cursor: pointer;
    margin: 8px 0 0;
    padding-bottom: 8px;
  }
}

.comment-section {
  svg {
    fill: #545454;
    width: 22px;
  }
}

.comment-modal {
  display: flex;
  align-items: flex-start;

  div {
    background: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #fe4752;
    width: 100%;

    span {
      font-weight: 600;
    }

    p {
      font-size: 14rem;
      color: #858585;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    em {
      color: #00b3ba;
      cursor: pointer;
      font-style: inherit;
    }
  }

  img {
    width: 30rem;
    height: 30rem;
    border: 1px solid #0005;
    border-radius: 50%;
    margin-right: 5px;
  }
}
