@use "/public/styles/variables.scss";
@import "/public/styles/theming.scss";

$base-padding: variables.$size-8;
.actionsContainer {
  padding: $base-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800rem;
  width: 100%;
}
.spin {
  width: 100%;
}
