@use "/public/styles/variables.scss";

$avatar-sizes: (
  "large": variables.$size-64,
  // variables.$size-64
  "medium": variables.$size-48,
  // variables.$size-48
  "small": variables.$size-40,
  // variables.$size-40
  "small-x": variables.$size-32,
  // variables.$size-32
  "super-small": variables.$size-20// variables.$size-20,
);
//Proporcion 1:1
@mixin image($size) {
  min-height: $size;
  min-width: $size;
  width: $size;
  height: $size;
}
@each $avatar-size, $size in $avatar-sizes {
  .#{$avatar-size} {
    @include image($size);
  }
}
