@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.simple__area__chart {
  :global {
    .ant-card .ant-card-body {
      padding: 0;
      margin: 0;
    }
    .ant-card {
      min-height: initial;
      overflow: hidden;
    }
  }

  overflow: hidden;

  h6 {
    font: bold theming.$font-size-h6 theming.$font-family-primary;
    color: theming.$text-color1;
    margin: variables.$size-16 variables.$size-16 variables.$size-32;
  }

  svg * {
    width: 100%;
    box-sizing: border-box;
  }
}
