@use "/public/styles/variables.scss";
@use "/public/styles/theming.scss";

.container {
  background: variables.$backgroundColor;
  padding: variables.$size-28 variables.$size-16 variables.$size-96;
  margin: 0 auto;
  width: 100%;

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .top {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .back {
      align-items: center;
      color: variables.$old-primary-turquoise;
      display: flex;
      font: bold variables.$font-size-body variables.$font-family-primary;
      height: fit-content;

      svg {
        fill: variables.$old-primary-turquoise;
        height: variables.$size-20;
        margin-right: variables.$size-4;
        transition: transform 0.2s ease-in-out;
        width: variables.$size-20;
      }

      &:hover svg {
        transform: translate(-2rem, 0);
      }
    }

    .zone {
      align-items: center;
      background: variables.$state-confirmed;
      border-radius: 6rem;
      color: variables.$zones;
      display: flex;
      font: bold variables.$font-size-body variables.$font-family-primary;
      line-height: variables.$size-28;
      margin-block: variables.$size-16;
      padding: variables.$size-6 variables.$size-12;
      transition: all 0.2s ease-in-out;

      &:hover {
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
        cursor: pointer;
      }
    }
  }

  .content {
    .title {
      color: variables.$text-color1;
      font: 700 variables.$font-size-h5 variables.$font-family-primary;
      line-height: variables.$size-32;
      margin-block: variables.$size-28 variables.$size-24;
      word-break: break-word;
    }

    .info {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      .finished_date {
        align-items: center;
        border-radius: 6rem;
        display: flex;
        font: bold variables.$font-size-body variables.$font-family-primary;
        line-height: 21rem;
        margin-block: variables.$size-16;
        padding: variables.$size-4 variables.$size-16;
        width: fit-content;

        svg {
          margin-right: variables.$size-12;
          min-width: variables.$size-20;
        }
      }
    }

    .finished_date {
      background: variables.$bg-finished;
      color: variables.$error;

      svg {
        fill: variables.$error;
      }
    }

    .already_voted {
      align-items: center;
      background: variables.$done-background;
      border-radius: 6rem;
      color: variables.$old-primary-green;
      display: flex;
      font: bold variables.$font-size-body variables.$font-family-primary;
      line-height: 21rem;
      margin-block: variables.$size-16;
      padding: variables.$size-4 variables.$size-16;
      width: 100%;

      svg {
        fill: variables.$old-primary-green;
        margin-right: variables.$size-12;
        min-width: variables.$size-20;
      }
    }

    .not_in_zone {
      align-items: center;
      background: variables.$warn-background;
      border-radius: 6rem;
      color: variables.$warn;
      display: flex;
      font: bold variables.$font-size-body variables.$font-family-primary;
      margin-block-end: variables.$size-16;
      padding: variables.$size-4 variables.$size-16;
      width: 100%;

      svg {
        fill: variables.$warn;
        margin-right: variables.$size-12;
        min-width: variables.$size-20;
      }
    }

    .finish_date {
      color: variables.$old-primary-green;
      font: bold variables.$font-size-body variables.$font-family-primary;
      line-height: variables.$size-28;
      margin-block: variables.$size-28 variables.$size-24;
      text-align: center;
    }

    .winner {
      color: variables.$winner;
      font: bold variables.$font-size-h5 variables.$font-family-primary;
      line-height: variables.$size-32;
      margin-block: variables.$size-28 variables.$size-24;
      text-align: center;
    }

    .title {
      color: variables.$text-color1;
      font: 700 variables.$font-size-h5 variables.$font-family-primary;
      line-height: variables.$size-32;
      margin-block: variables.$size-28 variables.$size-24;
      word-break: break-word;
    }

    .img {
      margin: 0 auto variables.$size-18;
      max-height: 70vh;
      max-width: variables.$size-768;
      object-fit: contain;
      width: 100%;
    }

    .description {
      color: variables.$text-color2;
      font: variables.$font-size-body variables.$font-family-primary;
      line-height: variables.$size-28;
      text-align: center;
      margin-block-end: variables.$size-18;
      word-break: break-word;
    }

    .question {
      color: variables.$old-primary-green;
      font: bold variables.$font-size-h6 variables.$font-family-primary;
      line-height: variables.$size-32;
      margin-block-end: variables.$size-18;
      text-align: center;
    }

    .not_logged {
      color: variables.$error;
      font: bold variables.$font-size-headline variables.$font-family-primary;
      line-height: variables.$size-28;
      margin-block-end: variables.$size-18;
      text-align: center;
    }

    .proposals {
      display: grid;
      gap: variables.$size-16;
      grid-template-columns: repeat(auto-fill, minmax(270rem, 1fr));
    }

    .invitation {
      color: variables.$old-primary-green;
      font: bold variables.$font-size-h5 variables.$font-family-primary;
      line-height: variables.$size-36;
      margin-block: variables.$size-36;
      text-align: center;
    }

    .share {
      display: flex;
      justify-content: center;
    }

    .stats {
      display: block;
      margin: variables.$size-20 auto;
      width: fit-content;
    }
  }
}

.modal_title {
  color: variables.$foregroundColor;
  font: bold variables.$font-size-h6 variables.$font-family-primary;
  line-height: variables.$size-32;
  text-align: center;
}

.modal_img {
  margin: variables.$size-8 auto variables.$size-16;
  max-width: 90%;
}

.zone_relation {
  color: variables.$error;
  font: bold variables.$font-size-h6 variables.$font-family-primary;
  line-height: variables.$size-32;
  margin-block: variables.$size-50 variables.$size-36;
  text-align: center;
}

.success_modal {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  svg {
    fill: variables.$old-primary-green;
    width: variables.$size-72;
    height: variables.$size-72;
  }

  h6 {
    color: variables.$old-primary-green;
    font: bold variables.$font-size-h6 variables.$font-family-primary;
    line-height: variables.$size-32;
    margin-block: variables.$size-24;
  }
}

@media screen and (min-width: 768px) {
  .container {
    .content {
      .info {
        flex-flow: row nowrap;
        justify-content: space-between;
      }

      .already_voted,
      .not_in_zone {
        margin: variables.$size-16 auto variables.$size-32;
        width: fit-content;
      }

      .not_in_zone {
        margin-block: variables.$size-16;
      }
    }
  }
}

.button_download {
  margin: variables.$size-16 auto;
  width: fit-content;
}

.button_download svg {
  fill: variables.$backgroundColor;
  margin-left: variables.$size-12;
  min-width: variables.$size-20;
  transition: all 0.2s ease-in-out;
}

.button_download:hover,
.button_download:active,
.button_download:focus {
  color: variables.$button-hover-color;

  svg {
    fill: variables.$button-hover-color;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: variables.$size-1024;
    width: 90%;
  }
}
