.edit-lading {
  margin-top: -20px;

  h4 {
    color: #198565;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 10px;
  }
  p {
    text-align: center;
    font-weight: bold;
    color: #000a;
  }
}

.custom-divider {
  border-top: solid 1px #0006;
  margin: 15px 0;
}

.upload-into-modal {
  margin: 0 auto;
  height: 108px !important;
}

.input-section {
  label {
    font-weight: bold;
    color: #0009;
    font-size: 14px;
  }

  h3 {
    margin: -20px 0 10px;
    color: #000a;
    font-size: 18px;
    font-weight: bold;
  }

  input,
  textarea {
    width: 100%;
    margin-bottom: 10px;
    outline: solid 1px #0005;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 13px;

    &:focus-visible {
      border: 0;
      outline: solid 1px #000a;
    }
  }
}
