@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.popup {
  margin: 0 auto;
  padding: 0 variables.$size-8;
  top: 50%;
  transform: translateY(-50%);

  .video__container {
    position: relative;
    padding-top: 56.25%;
  }

  :global {
    .ant-modal-content {
      border-radius: variables.$size-16;
      margin: 0 auto;
      max-width: variables.$size-432;
      padding: 16rem;
      position: relative;

      svg {
        cursor: pointer;
        margin: variables.$size-8 variables.$size-8 0 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
      }

      .ant-modal-header {
        background: transparent;
        border: none;
        text-align: center;
        padding: 0;

        .ant-modal-title {
          color: variables.$old-primary-green;
          font: bold variables.$font-size-h6 variables.$font-family-primary;
          line-height: variables.$size-28;
        }
      }

      .ant-modal-body {
        color: variables.$text-color2;
        font: variables.$font-size-body variables.$font-family-primary;
        line-height: variables.$size-28;
        padding: variables.$size-16 0 0;

        p {
          color: variables.$text-color1;
          font: bold variables.$font-size-body variables.$font-family-primary;
          line-height: variables.$size-20;
          opacity: 0.7;
          padding-block-end: variables.$size-16;
          text-align: center;
        }

        small {
          color: variables.$text-color1;
          display: block;
          font: variables.$font-size-small variables.$font-family-primary;
          line-height: 21rem;
          margin-block-start: variables.$size-8;
          text-align: center;
        }
      }

      .ant-modal-footer,
      .ant-modal-close-x {
        display: none;
      }
    }
  }
}

.popup__checkbox {
  align-items: center;
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
  margin-top: variables.$size-8;

  :global {
    .ant-checkbox-wrapper {
      margin: variables.$size-8 0;
    }
  }

  label {
    color: variables.$old-primary-turquoise;
    cursor: pointer;
    font: variables.$font-size-body variables.$font-family-primary;
  }
}

.popup__image {
  border-radius: variables.$size-16;
  width: 100%;
}

.popup__buttons {
  align-items: center;
  display: flex;
  flex-flow: nowrap;
  justify-content: space-around;
  margin: variables.$size-20 0;

  button {
    align-items: center;
    border: none;
    color: theming.$old-primary-turquoise;
    display: flex;
    font: bold theming.$font-size-headline theming.$font-family-primary;
    padding: variables.$size-8 variables.$size-16;
    position: relative;

    &.popup__button_continue::after {
      content: ">";
      font-family: monospace;
      position: absolute;
      right: 0;
      transition: all 0.2s ease-in-out;
      top: 5rem;
    }

    &.popup__button_continue:hover::after {
      transform: translate(variables.$size-4, 0);
    }
  }
}

@media screen and (orientation: landscape) and (max-width: 768px) {
  .popup {
    padding: 0 0 variables.$size-16 0;
    top: variables.$size-16;
    transform: none;
  }
}
