@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.external {
  border: 2px solid variables.$backgroundColorGrey2;
  display: flex;
  border-radius: 5px;
  // margin: 0px 10px;
  padding: 5px;
}

.externalError {
  border: 2px solid variables.$state-error_advice;
  display: flex;
  border-radius: 5px;
  // margin: 0px 10px;
  padding: 5px;
}

.externalWhite {
  background-color: variables.$backgroundColor;
  border: 2px solid variables.$backgroundColor;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

.inputnone {
  background-color: transparent;
  border: none;
  outline: transparent;
  width: 100%;
}
