@use "/public/styles/variables.scss";
@use "/public/styles/theming.scss";

.banner {
  display: flex;
  min-width: auto;
  flex-direction: column;
  min-height: variables.$size-256;
  margin-block-end: variables.$size-48;
  background-color: theming.$backgroundColor;

  .banner__content {
    display: flex;
    background-color: theming.$old-primary-green;
    justify-content: center;
    align-items: center;
    position: relative;

    .banner__image {
      opacity: 0.6;
      object-fit: cover;
      width: 100%;
    }

    .banner__title {
      color: theming.$backgroundColor;
      font: bold clamp(variables.$font-size-h4, 5vw, variables.$font-size-h1)
        theming.$font-family-primary;
      padding: variables.$size-12;
      text-align: center;
      text-shadow: 0 variables.$size-4 variables.$size-4 rgba(0, 0, 0, 0.25);
      position: absolute;
    }
  }

  .banner__bottom {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    justify-content: center;
    min-height: variables.$size-128;
    width: auto;

    .banner__subtitle {
      padding: variables.$size-20;
      text-align: center;
      font-weight: 700;
      font-size: theming.$font-size-h6;
      font-family: theming.$font-family-primary;
      color: theming.$text-color1;
    }
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: variables.$font-size-h4;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .title {
    font-size: variables.$font-size-h3;
  }
}
