@use "/public/styles/theming.scss";
@use "/public/styles/variables.scss";

.modal {
  :global {
    .ant-modal-content {
      border-radius: variables.$size-16;
      margin: 0 auto;
      max-width: variables.$size-432;
      padding: 16rem;
      position: relative;

      svg {
        cursor: pointer;
        margin: variables.$size-8 variables.$size-8 0 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
      }

      .ant-modal-header {
        background: transparent;
        border: none;
        text-align: center;
        padding: 0;

        .ant-modal-title {
          color: variables.$foregroundColor;
          font: bold variables.$font-size-h6 variables.$font-family-primary;
          line-height: variables.$size-32;
        }
      }

      .ant-modal-body {
        color: variables.$text-color2;
        font: variables.$font-size-body variables.$font-family-primary;
        line-height: variables.$size-28;
        padding: variables.$size-24 0 0;
      }

      .ant-modal-footer,
      .ant-modal-close-x {
        display: none;
      }
    }
  }
}
