@use "/public/styles/variables.scss";
@use "/public/styles/theming.scss";

.cropper {
  position: relative;
  top: 0;
  left: 50%;
  width: 432px;
  height: 259.2px;
  transform: translateX(-50%);

  :global {
    .reactEasyCrop_Container {
      background-color: rgba(variables.$foregroundColor, 0.8);
    }
  }
}

.zoom__buttons {
  display: flex;
  margin-top: -15px;
  justify-content: center;
}

.custom__buttons,
.custom__buttons:hover,
.custom__buttons:active,
.custom__buttons:focus {
  background: variables.$btn-gradient-blue;
  color: #fff;
  border: 0;
  outline: 0;
  margin: 0 5px;
}

.section__buttons {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 0;
}
