@use "/public/styles/theming.scss";
.carouselcard {
  :global {
    .ant-card-body:first-child {
      height: 100%;
      padding: 0;
      margin: 0;
      cursor: pointer;
      font-family: theming.$font-family-primary;
    }
  }
}
